{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="$language/lang_$language.conf" section="buttons"}
{assign var="assetsTpl" value="`$tpl_path_abs`assets/tpl/"}
{php}
$_SESSION['template']['style']['productListingFilter']['view'] = 'long';
{/php}
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
{include file="`$assetsTpl`menu-top.tpl"}
<div style="background:#26252b;">
    <div class="container pt-3 pb-3">
        <div class="row justify-content-between">
            <div class="col-md-3 col-sm-6 align-self-center">
                <a href="./index.php"><img src="{$tpl_path}img/shoplogo.png" alt="{$store_name}" hspace="0" vspace="0" class="img-fluid logo" /></a>
            </div>
            <div class="col-md-3 align-self-center text-center">
                <img src="{$tpl_path}img/comodo.png" alt="" hspace="0" vspace="0" class="center-block img-responsive mr-4" />
                <img src="{$tpl_path}img/kauferschutz-03.png" alt="" hspace="0" vspace="0" class="center-block img-responsive" />

            </div>
            <div class="col-md-4 col-sm-12 align-self-center">
                {$box_SEARCH}
            </div>
            <!--<div class="col-md-4 col-sm-12">
                {include file="`$assetsTpl`inkAndTonerFinder.tpl"}
            </div>-->
        </div>
    </div>
</div>

<div class="menu_main">
    <div class="container">
        {include file="`$assetsTpl`menu-main.tpl"}
    </div>
</div>
<!--<div class="sidebar-wrapper block-container">
    <a href="#menu-toggle" class="btn btn-success btn-toggle" id="menu-toggle"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> </a>
    <div class="sidebar-content" id="sidebar-content">
        {if $box_ADD_QUICKIE}
        <div class="panel panel-default">
            <div class="panel-heading"><b>{#heading_direct_order#}</b></div>
            <div class="panel-body">
                <p>{#heading_direct_order_text#}</p>
                <a href="#modal-box-add-quickie" class="btn btn-default link-add-quickie" data-toggle="modal" title="{#direct_order#}">{#direct_order#}</a>
            </div>
        </div>
        {/if}
        {$box_CATEGORIES}
        {$box_CATEGORIES_TREE}
        {$box_ADVERTISING}
        {$box_NEWSLETTER}
        {$box_MANUFACTURERS}
        {$box_TRUSTEDSHOPS}
        {$box_LAST_VIEWED}
        {$box_EKOMI}
    </div>
</div>-->
{if $startpage}
{$box_BOOTSTRAP_CAROUSEL_HEADER}
<div class="clearfix"></div>
<div class="container">
    <div class="row">
        <div class="col" style="padding-left: 0px; padding-right: 0px;">
            <img src="{$tpl_path}img/2726PIC-185.jpg" class="img-fluid">
        </div>
        <div class="col" style="padding-left: 0px; padding-right: 0px;">
            <img src="{$tpl_path}img/2726PIC-165.jpg" class="img-fluid">
        </div>
        <div class="col" style="padding-left: 0px; padding-right: 0px;">
            <img src="{$tpl_path}img/2726PIC-186.jpg" class="img-fluid">
        </div>
    </div>
</div>

{/if}



<div class="container">
    {if !$startpage}{$box_BREADCRUMB}{/if}
    <div data-alerts="alerts"></div>
    {$main_content}
    {$search_cat_list}
    {$categorie_bestsellers}
    {$product_bestsellers}
    {$current_category}
    {$product_list}
    {$categorie_list}
    {if $startpage}
    <div class="clearfix"></div>
    {$box_SPECIALS}
    <div class="clearfix"></div>
    <!--{$box_BESTSELLERS}-->
    <div class="clearfix"></div>
    {$MODULE_sp_products_1}
    <div class="clearfix"></div>
    {$MODULE_sp_products_2}
    <div class="clearfix"></div>
    {$MODULE_sp_products_3}
    {/if}
</div>

<div class="footer pt-4 pb-4">
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <h4>Immer in Kontakt</h4>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-3">
                            <a rel="nofollow" href="http://www.facebook.com/" onclick="window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(location.href)+'&amp;t='+encodeURIComponent(document.title));return false;" title="Facebook"><i class="fab fa-facebook-square fa-3x"></i></a>
                        </div>
                        <div class="col-9 text-left">
                            <b>Daumen hoch auf Facebook</b><br />www.facebook.com
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-3">
                            <a rel="nofollow" href="http://twitter.com/" onclick="window.open('http://twitter.com/home?status=Lese:%20'+encodeURIComponent(location.href)+'%20Thema:%20'+encodeURIComponent(document.title));return false;" title="Bookmark bei: Twitter"><i class="fab fa-twitter-square fa-3x"></i></a>
                        </div>
                        <div class="col-9 text-left">
                            <b>Folgen Sie uns auf Twitter</b><br />www.twitter.com
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <i class="fab fa-google-plus-square fa-3x"></i>
                        </div>
                        <div class="col-9 text-left">
                            <b>Ein plus für uns mit google+</b><br />plus.google.com
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <h4>Bester Service</h4>
                    <div class="row align-items-center">
                        <div class="col-3"><i class="fa fa-truck fa-3x mc"></i></div>
                        <div class="col-9 text-left">
                            <b>Schnell Geliefert</b><br />Bestellen Sie Mo. – Fr. bis 16:00 Uhr und Sie erhalten Ihre Ware am nächsten Artbeitstag!
                        </div>
                    </div><br>
                    <div class="row align-items-center">
                        <div class="col-3"><i class="fa fa-phone fa-3x mc"></i></div>
                        <div class="col-9 text-left">
                            <b>Kompetenter Service</b><br />Haben Sie Fragen? Rufen Sie an, wir helfen Ihnen gerne weiter: 0228 85 40 990
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">{$box_FOOTER}</div>
                <div class="col-lg-3 col-md-3 col-sm-6">{$box_NEWSLETTER}</div>
            </div>
        </div>
    </div>
</div>
{$box_ADD_QUICKIE}
{include file="`$assetsTpl`modalDialog.tpl"}
<!--<div class="modal" id="loading-indicator">
    <div class="ajax-loader">
        <img src="{$tpl_path}/img/ajax-loader.gif"  />
    </div>
</div>-->

<script src="{$tpl_path}Bootstrap/plugins/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{$tpl_path}Bootstrap/js/bootstrap.min.js"></script>
<script src="{$tpl_path}assets/elevatezoom/jquery.elevateZoom-3.0.8.min.js"></script>
<script src="{$tpl_path}assets/nicescroll/jquery.nicescroll.min.js"></script>
<script src="{$tpl_path}Bootstrap/js/easypaginate.js"></script>
<!--<script src="{$tpl_path}assets/jquery-typeahead-2.0.0/jquery.typeahead.js"></script>-->
<script src="{$tpl_path}assets/jquery/pwstrength.js"></script>
<script src="{$tpl_path}assets/jquery/jquery.spinner.js"></script>
<script src="{$tpl_path}assets/jquery/bxslider/jquery.bxslider.min.js"></script>
<script src="{$tpl_path}Bootstrap/js/custom.js"></script>
<script src="{$tpl_path}lib/font-awesome/js/all.min.js"></script>
<!--<script src="{$tpl_path}lib/js/inkandtoner.js"></script>-->
<script src="{$tpl_path}lib/js/general.js"></script>
<script src="{$tpl_path}lib/js/msSearch.js"></script>
