{config_load file="$language/lang_$language.conf" section="index"}
<script src="{$tpl_path}javascript/jquery/jquery-1.6.2.js"></script>
<script src="{$tpl_path}javascript/jquery/jquery-ui.core.js"></script>
<script src="{$tpl_path}javascript/jquery/jquery-ui.min.js"></script>
<script src="{$tpl_path}javascript/jquery/jquery-ui.widget.js"></script>
<script src="{$tpl_path}javascript/jquery/easypaginate.js"></script>
<script src="{$tpl_path}javascript/jquery/jquery.mousewheel.js"></script>
<script src="{$tpl_path}javascript/jquery/cloud-carousel.1.0.5.js"></script>
      
      
<div id="header" style="width:1024px;">
	<a href="./index.php"><img src="{$tpl_path}img/shoplogo-telexroll.png" alt="{$store_name}" hspace="0" vspace="0" style="margin-top:20px; margin-left:20px;" /></a>
</div>

<div id="page-wrap">
  <div id="page" style="width:1024px;">

	<div id="content-wrapper-head">
		<a href="http://testshop.suppliesserver.com/index.php?manufacturers_id=5000410&refID=HermaOrdner">
    		<img src="{$tpl_path}img/INTRO-OFFERS/herma-logo.png" alt="{$store_name}" hspace="0" vspace="0" style="margin-top:10px; margin-left:10px;" />
    	</a>
	</div>
	<div id="content-wrapper">

		<div id="subcontent-wrapper-head">
			<a href="http://testshop.suppliesserver.com/advanced_search_result.php?keywords=ordneretiketten&categories_id=&manufacturers_id=5000410&pfrom=&pto=">
				<img src="{$tpl_path}img/INTRO-OFFERS/herma-5060-header.jpg" alt="{$store_name}" hspace="0" vspace="0" style="width:1004px;" />
			</a>
		</div>

		<div id="subcontent-wrapper">
			<a href="http://testshop.suppliesserver.com/Herma-Vielzwecketiketten-weiss-5-x-35-mm-Papier-matt-Inh-1920-St-_p6042342.html?refID=HermaEtikett">
				<img src="{$tpl_path}img/INTRO-OFFERS/aktenordner_1024.jpeg" alt="{$store_name}" hspace="0" vspace="0" style="width:1004px;" />
			</a>

			<div class="post-content">
				{$box_CONTENT}
			</div>

		</div>

	</div>

	<div class="page-foot">
		{$box_FOOTER}
		{if $BANNER}
			{$BANNER}
		{/if}
		<div class="footertext">
			{#text_footer#}
		</div>
	</div>

  </div>
</div>

<center>

<br /><br />

<p class="Arial_grey_9">
	<a class="Arial_grey_9" href="http://www.telexroll.de/wordpress/eservices/telexroll-ecommerce-solutions/" title="ASP Shopsystem-Software f&uuml;r Dropshipping und Powerseller" alt="www.telexroll.de/ecommerce">Shopsystem-Software Powered by TELEXROLL</a>
</p>
