@import "Bootstrap/css/normalize.css";
@import "Bootstrap/css/languages.min.css";
@import "Bootstrap/css/bootstrap.min.css";
@import "Bootstrap/css/bootstrap-grid.min.css";
@import "Bootstrap/css/bootstrap-reboot.min.css";
/*@import "assets/jquery-typeahead-2.0.0/jquery.typeahead.css";*/

@import "assets/jquery/bootstrap-spinner.css";
@import "assets/jquery/bxslider/jquery.bxslider.css";

@import "styles/header.css";
@import "styles/general.css";
@import "lib/font-awesome/css/all.min.css";

/*@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);*/


/* ================================================================================== */
/* MY STYLES */
/* ================================================================================== */
#home .carousel-inner { background-color: #232323;}

.bg-top-light{
    background: #f8f9fa;
}

.btn-outline-light {
    color: #f8f9fa;
    background-color: transparent;
    background-image: none;
    border-color: #f8f9fa;
}

.bg-button-light-blue {
    background: #6e9ec4;
}

.bg-button-orange {
    background: #ffc900;
}

.bg-button-green {
    background: #5cd77c;
}

.bg-button-dark-blue {
    background: #345066;
}


.navbar {
    margin-bottom:0px;
}

.navbar-default {
    background-image:none;
    background:transparent;
    border:none;
    border-radius: 0px;
    box-shadow: none;
}

.navbar-default .badge {
    background:#f8f9fa;
    color:#111;
}

.navbar-bg-color-top {
    background-color: #ffc900;
}

.navbar-btn {
    margin-right:15px;
}

.menu_main{margin-bottom:15px; background: #fff; box-shadow: 0px 16px 9px -9px rgba(51,49,51,0.5); font-size: 14px;}
.menu_main .nav-link{color: inherit;}
.menu_main .nav-link.active{background: transparent; color: #007bff;}
.menu_main .nav-item.show > .nav-link{background: transparent; color: #007bff;}


.inkandtoner{
    padding-top:15px;
    padding-bottom:15px;
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
    padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
    background-color: #DDD;
}

.ui-autocomplete > li:hover {
    background-color: #DDD;
}
.ui-helper-hidden-accessible {
    display: none;
}

#ink_and_toner_finder .brand{
    margin-bottom:10px;
}

#ink_and_toner_finder .model-series{
    margin-bottom:10px;
}

.specials  .product-image-thumbnail .img-thumbnail {
    max-height:100%; height:100%; width: 100%; overflow: hidden;
}
/*

.specials  .products-grid .item-inner{
    min-height: 100%;
}
*/

.add-to-links .btn{
    border: none;
    padding:15px;
    color:#fff;
}

.footer .toplinks ol, ul {
    list-style: outside none none;margin-top: 10px; margin-left:0px; padding:0px;
}

