{config_load file="$language/lang_$language.conf" section="boxes"}
<div class="widget" id="mp_login">
  <div class="content-head"><h2 class="widgettitle">{#heading_mp_login#}</h2></div>
  <div class="widget-content">
	{$BOX_CONTENT}
  </div>
  <div class="widget-foot"></div>
</div>

