{config_load file="$language/lang_$language.conf" section="boxes"}

<div class="widget" id="categories">
  <div class="widget-head"><h2 class="widgettitle">{#heading_categories#}</h2></div>
  <div class="widget-content">
    {if $CATEGORIES}
    <ul class="categories">
    {foreach name=aussen item=cat from=$CATEGORIES}
      <li>&raquo; <a href="{$cat.link}" title="{$cat.name}" >{if $cat.current_cat}<b>{$cat.name}</b>{else}{$cat.name}{/if} {if $cat.count_products} <i>( {$cat.count_products} ) </i> {/if}</a>
		<hr size="1" noshade="noshade" color="#bbbbbb"></li>
    {/foreach}
    </ul>
    {/if}
  </div>
	<div class="widget-foot"></div>
</div>
