{config_load file="$language/lang_$language.conf" section="boxes"}

<div class="panel panel-default">
	<div class="panel-heading">{$box_data.PRODUCTS_NAME}</div>
		<div class="panel-body">
      <a href="{$box_data.PRODUCTS_LINK}"><img src="{$box_data.PRODUCTS_IMAGE}" alt="{$box_data.PRODUCTS_NAME}" class="img-thumbnail" style="width:50px; height:50px;" /></a>
      <div class="caption">    
        <p>{$box_data.PRODUCTS_PRICE}<br /><small>{$box_data.PRODUCTS_TAX_INFO}<br />
        {if $box_data.PRODUCTS_SHIPPING_LINK}{$box_data.PRODUCTS_SHIPPING_LINK}{/if}</small></p>
        <p><a href="{$box_data.PRODUCTS_LINK}">{$box_data.PRODUCTS_NAME}</a></p>
        {* <p>{$box_data.PRODUCTS_SHORT_DESCRIPTION}</p>*}
      </div>   
    </div>
  <div class="panel-footer"><a href="{$NEW_LINK}">{#show_more#}</a></div>
</div>
