{config_load file="$language/lang_$language.conf" section="boxes"}

{if $BOX_CONTENT}
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">{#heading_content#} <b class="caret"></b></a>
	<ul class="dropdown-menu mega-menu">
		{foreach name=aussen item=box_data from=$BOX_CONTENT}
		<li><a href="{$box_data.link}" target="_self">{$box_data.name}</a></li>
		{/foreach}
	</ul>
</li>
{/if}
