{config_load file="$language/lang_$language.conf" section="boxes"}

{if $BOX_CONTENT}
<h4>Informationen</h4>
  <ul class="links">
    {foreach name=aussen item=items from=$BOX_CONTENT}
      <li><a href="{$items.link}" title="{$items.name}" >{$items.name}</a></li>
    {/foreach}
  </ul>
{/if}
