{config_load file="$language/lang_$language.conf" section="boxes"}

<div class="widget" id="reviews">
  <div class="widget-head"><h2 class="widgettitle">{#heading_reviews#}</h2></div>
  <div class="widget-content">
		{$BOX_CONTENT}
    <br />
    <span class="rechts"><a href="{$REVIEWS_LINK}">{#show_more#}</a></span>  
  </div>
  <div class="widget-foot"></div>
</div>
