{config_load file="$language/lang_$language.conf" section="categories_favored"}


<span id="text_to_categories_favored" data-title="{#text_to_categories_favored#}" style="display: none"></span>
<span id="text_search_show" data-title="{#text_search_show#}" style="display: none"></span>
{if $box_VISIBILITY==TRUE}



<div class="btn-group btn-group-md"  role="group">

    <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="{#text_search_printers#}">
        <span class="glyphicon glyphicon-print"></span>
        <span class="badge categories_favored_count">{if $box_content!=''}{$box_content|@count}{else}0{/if}</span>
    </button>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {if $box_content!=''}
        <li class="dropdown-header">{#tablehead_device#}</li>
        {foreach name=aussen item=box_data from=$box_content}
        <li><a href="{$box_data.categories_link}">{$box_data.model}</a></li>
        {/foreach}
        <li class="divider"></li>
        {/if}
        <li><a href="{$box_LINK_CATEGORIES_FAVORED}">{#text_to_categories_favored#}</a></li>
        <li><a class="link-box-printers" href="#" title="{#text_search_printers#}" data-title="{#text_search_printers#}">{#text_search_printers#}</a></li>
    </ul>
</div>
{else}
<!--<button type="button" class="btn btn-danger link-box-printers" title="{#text_search_printers#}" data-title="{#text_search_printers#}"><span class="glyphicon glyphicon-print"></span></button>-->
{/if}