{config_load file="$language/lang_$language.conf" section="ekomi"}

<div class="widget" id="ekomi">
  <div class="widget-head"><h2 class="widgettitle">{#ekomi_headline#}</h2></div>
  <div class="widget-content">

    {$EKOMI_IMPLEMENTATION}
  </div>
  <div class="widget-foot"></div>
</div>
