{config_load file="$language/lang_$language.conf" section="boxes"}

<div class="panel panel-default">
	<div class="panel-heading"><b>{#heading_cat_search#}</b></div>
		<div class="panel-body">
		{$FORM_ACTION}
			<input class="inputfield"
				type="text" 
				id="cat_keywords" 
				name="cat_keywords" 
				onblur="javascript:timeout();"
				tabindex="1"
				maxlength="30"
				onkeyup="javascript:check_search_cat_string(this.value);" 
				onfocus="javascript:check_search_cat_string(this.value);" />
			{$BUTTON_SUBMIT}
			{$FORM_END}
    
			<div id="ajax_search_cat_result"></div>
    </div>
  <div class="panel-footer"></div>
</div>
