{config_load file="$language/lang_$language.conf" section="storelist"}

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{$THEME.name} <b class="caret"></b></a>
  <ul class="dropdown-menu">
    {foreach name=aussen item=store_data from=$STORES}
    <li><a href="_th_{$store_data.slug}" target="_self">{$store_data.name}</a></li>
    {/foreach}
  </ul>
</li>
