{config_load file="$language/lang_$language.conf" section="boxes"}
	<h4>{#heading_guestnewsletter#}</h4>
  	{$FORM_ACTION}
  	{#text_email#}: <br />
    {$FIELD_EMAIL}<br />
    {$BUTTON} <input type="submit" class="btn btn-danger" value="Austragen" title=" Abmelden "><br />
    {$FORM_END}
    </div>
    {if $ARCHIV}
      <u>{$ARCHIV}</u>
    {/if}
