{config_load file="$language/lang_$language.conf" section="wishlist"}

{if $deny neq 'true'}
<div class="widget" id="categories">
  <div class="widget-head"><h2 class="widgettitle">{#heading_wishlist#}</h2></div>  
  <div class="widget-content">
  	{if $empty=='false'}
  	<ul class="categories">
      {foreach name=aussen item=products_data from=$wishlist}
    	<li><s5>{$products_data.MODEL}<s5><br />
      	<s3><a href="{$products_data.LINK}">{$products_data.NAME|truncate:24:"...":true}</a></s3>
      	<hr size="1" noshade="noshade" color="#bbbbbb"><li>
      {/foreach}
    </ul>
    {else}
    	{#text_empty#}<br />
    {/if}
    <s5><a href="{$LINK_WISHLIST}"><u>{#text_to_wishlist#}</u></a></s5>
  </div>
  <div class="widget-foot"></div>
</div>
{/if}
