{config_load file="$language/lang_$language.conf" section="boxes"}

{literal}
<!--[if gte IE 5.5]>
<style type="text/css">
ul.categories_tree ul {
	margin-left:-10px;
}
ul.categories_tree ul li{
	padding:3px 0px 3px 10px;
}
</style>
<![endif]-->
<!--[if IE 8]>
<style type="text/css">
ul.categories_tree ul {
	margin-left:0px;
}
ul.categories_tree ul li{
	padding:3px 0px 3px 10px;
}
</style>
<![endif]-->
{/literal}

<div class="widget" id="categories_tree">
<div class="widget-head"><h2 class="widgettitle">{#heading_categories#}</h2></div>
	<div class="widget-content">
		<ul class="categories_tree">
			{assign var="lvl" value=0}
			{foreach name=aussen item=cat from=$CATEGORIES_TREE}
			{if $lvl < $cat.lvl}
				{assign var="lvl" value=$cat.lvl}
			<ul class="categories_tree">
			{elseif $lvl > $cat.lvl}
				{while $lvl > $cat.lvl}
		</ul>
					{assign var="lvl" value=$lvl-1}
				{/while}
			{/if}
				<li class="li_{$cat.lvl} {$cat.class}">{if $cat.url}<a {$cat.style} href="{$cat.url}" title="{$cat.categories_name}" target="{$cat.target}">{$cat.categories_name}</a>{else}{$cat.categories_name}{/if}</li>
			{/foreach}
		</ul>
	</div>
	<div class="widget-foot"></div>
</div>