<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		{foreach name=aussen item=box_data from=$box_content}
		<li class="breadcrumb-item"><a href="{$box_data.link}" >{$box_data.title}</a></li>
		{/foreach}
	</ol>
</nav>
