{config_load file="$language/lang_$language.conf" section="boxes"}

<div class="panel panel-default">
	<div class="panel-heading"><b>{#heading_last_viewed#}</b></div>
	<div class="panel-body">
		<a href="{$box_data.PRODUCTS_LINK}">{if $box_data.PRODUCTS_IMAGE!=''}<img src="{$box_data.PRODUCTS_IMAGE}" alt="{$box_data.PRODUCTS_NAME}" />{/if}</a>
		<br />
		<br />
		<h4><a href="{$box_data.PRODUCTS_LINK}" class="box_best_sellers">{$box_data.PRODUCTS_NAME}</a></h4>
		<s5>{$box_data.PRODUCTS_SHORT_DESCRIPTION}</s5>
		<br />
		<center>
			<h2 class="product_price">{$box_data.PRODUCTS_PRICE}</h2>
			<s7>{$box_data.PRODUCTS_TAX_INFO}</s7>
			{if $box_data.PRODUCTS_SHIPPING_LINK}
			<s7>&nbsp;{$box_data.PRODUCTS_SHIPPING_LINK}</s7>
			{/if}
		</center>
		<hr size="1" noshade="noshade" color="#bbbbbb">
		<a href="account.php#alle_aufgerufenen_artikel"><strong>{#show_more#}</strong></a>
	</div>
	{if $ARCHIV}
	<div class="panel-footer">
		<u>{$ARCHIV}</u>
	</div>
	{/if}
</div>
