{config_load file="$language/lang_$language.conf" section="spylist"}

{php} if (isset($_SESSION['customer_id'])) { {/php}
<a href="{$LINK_SPYLIST}" type="button" class="btn btn-outline-light" title="{#heading_spy#}" ><i class="fas fa-eye"></i> <span class="badge spylist_count">{$spylist|@count}</span></a>
{php} } {/php}
