{config_load file="$language/lang_$language.conf" section="boxes"}

<div class="widget" id="order_history">
  <div class="widget-head"><h2 class="widgettitle">{#heading_order_history#}</h2></div>
  <div class="widget-content" style="overflow:hidden; width:200px; display:inline-block;">
    {$BOX_CONTENT}
  </div>
  <div class="widget-foot"></div>
</div>
