{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="$language/lang_$language.conf" section="boxes"}
{if $LOGIN_CHECK == false}
<div id="modal-box-login" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{#heading_login_1#}</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			{$FORM_ACTION}
			<div class="modal-body">
				{#text_email#}: <br />
                <input type="text" name="email_address" class="form-control">
				<br />
				{#text_pwd#}: <br />
                <input type="password" name="password" class="form-control">

			</div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-success" value="{#heading_login_1#}" title=" {#heading_login_1#} ">
				<div class="pull-left">
					<a class="btn btn-danger" href="{$LINK_LOST_PASSWORD}">{#text_password_forgotten#}</a>
				</div>
            </div>
			{$FORM_END}
		</div>
	</div>
</div>
{/if}
{if $LOGIN_CHECK == true}
	{if $account}<li class="menu-item"><a href="{$account}" type="button" class="btn btn-outline-light"><i class="fas fa-user"></i> {#link_account#}</a></li>{/if}
	<li><a href="{$logoff}" type="button" class="btn btn-outline-light"><i class="fas fa-sign-out-alt"></i> {#link_logoff#}</a></li>
{else}
	<li><a href="#modal-box-login" class="link-login btn btn-outline-light" data-toggle="modal" title="{#link_login#}" type="button"><i class="fas fa-sign-in-alt"></i> {#link_login#}</a></li>
	<li><a href="/create_account.php" type="button" class="btn btn-outline-light"><i class="fas fa-user"></i> {#link_registry#}</a></li>
{/if}
