{config_load file="$language/lang_$language.conf" section="trustedshops"}

<div class="widget" id="trustedshops">
  <div class="widget-head"><h2 class="widgettitle">{#ts_heading_text#}</h2></div>  
  <div class="widget-content">
    <form name="formSiegel" method="post" action= "https://www.trustedshops.com/shop/certificate.php" target="_blank" />
      <input name="shop_id" type="hidden" value="{$TRUSTED_SHOPS_ID}" />
      <center>
      	<input type="image" src="{$TPL_PATH}img/{#ts_seal_box#}" title="{#ts_click_seal#}" />
      </center>
      <p>
      	<a title="{#ts_more_information#} {$SHOP_NAME}" href="http://www.trustedshops.de/profil/{$SHOP_NAME_URL}_{$TRUSTED_SHOPS_ID}.html" target="_blank">{$SHOP_NAME} {#ts_text#}</a>
      </p>
    </form>
  </div>
  <div class="widget-foot"></div>
</div>