{config_load file="$language/lang_$language.conf" section="boxes"}

<div class="btn-group btn-group-md">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Language">
    <span class="lang-sm" lang="{$language_code}" />
  </button>
  <ul class="dropdown-menu">
    {foreach name=outer item=lang from=$Languages}
    <li><a href="?language={$lang.code}"><span class="lang-sm lang-lbl" lang="{$lang.code}" /></a></li>
    {/foreach}
  </ul>
</div>
