<script src="{$tpl_path}javascript/unslider.js"></script>
<div class="banner_slide">
    <ul>
        <li><img src="{$tpl_path}img/Megapunkte_Banner.png" /></li>
        <li><img src="{$tpl_path}img/Newsletter_Banner.jpg" /></li>
    </ul>
</div>
<br />

{literal}
<script>

$('.banner_slide').unslider({
	speed: 900,               //  The speed to animate each slide (in milliseconds)
	delay: 5000,              //  The delay between slide animations (in milliseconds)
	complete: function() {},  //  A function that gets called after every slide animation
	keys: true,               //  Enable keyboard (left, right) arrow shortcuts
	dots: true,               //  Display dot navigation
	fluid: false              //  Support responsive design. May break non-responsive designs
});

</script>
{/literal}