{if $Items}
<div class="container">
    <section id="home" class="text-center" style="margin-bottom: 15px;">
        <div id="carousel-home-top" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {assign var="turns" value=0}
                {foreach name=aussen item=ItemData from=$Items}
                <div class="item {if $turns == 0}active{/if}">
                    {if $ItemData.url != ''}<a href="{$ItemData.url}" target="{$ItemData.target}">{/if}
                    <img src="{$ItemData.image}" class="img-fluid" alt="" style="display: inline-block"/>
                    <div class="carousel-caption">
                        {if $ItemData.title}
                        <h2 class="back-light">{$ItemData.title}</h2>
                        {/if}
                    </div>
                    {if $ItemData.url != ''}</a> {/if}
                </div>
                {assign var="turns" value=$turns+1}
                {/foreach}
            </div>
            <ol class="carousel-indicators">
                {assign var="turns" value=0}
                {foreach name=aussen item=ItemData from=$Items}
                <li data-target="#carousel-example" data-slide-to="{$turns}" {if $turns== 0}class="active" {
                /if}></li>
                {assign var="turns" value=$turns+1}
                {/foreach}
            </ol>
        </div>
    </section>
</div>
{/if}