{config_load file="$language/lang_$language.conf" section="information"}

{if $BOX_CONTENT}
<h3 class="title"> </h3>
<ul class="links">
    {foreach name=aussen item=items from=$BOX_CONTENT}
    <li><a href="{$items.link}" title="{$items.name}" >{$items.name}</a></li>
    {/foreach}
</ul>
{/if}
