{config_load file="$language/lang_$language.conf" section="boxes"}

<div id="printers">
	<div id="ink_and_toner_finder">
		<div class="row">
			<div class="col-md-12 brand">
				<select class="form-control custom-select compa-scout-select-brands" id="compa-scout-select-brands"
						data-no-fancy-select="true" disabled style="">
					<option value="">Druckerhersteller</option>
				</select>
			</div>
			<div class="col-md-12 model-series">
				<select class="form-control custom-select compa-scout-select-series" id="compa-scout-select-series"
						data-no-fancy-select="true" disabled>
					<option value="">Druckerserie</option>
				</select>
			</div>
			<div class="col-md-12 printer-model">
				<select class="form-control custom-select compa-scout-select-models" id="compa-scout-select-models"
						data-no-fancy-select="true" disabled>
					<option value="">Druckermodel</option>
				</select>
			</div>
		</div>
	</div>
</div>