{config_load file="$language/lang_$language.conf" section="boxes"}

<a href="{$LINK_CART}" class="btn btn-outline-light shopping-cart" type="button" title="{#link_cart#}">
    <i class="fas fa-shopping-cart"></i>  <span class="shopping-cart-quantity">{if $empty=='true'}0{/if}{$PRODUCTS}</span>
    - <b ><span class="shopping-cart-price">{if $empty=='true'}0,00 &euro;{/if}{$TOTAL}</span></b>
</a>
