{config_load file="$language/lang_$language.conf" section="storelist"}

<div class="widget" id="stores">
  <div class="widget-head"><h2 class="widgettitle">{#heading_text#}</h2></div>  
  <div class="widget-content">
  	{foreach name=aussen item=store_data from=$storelist}	
    	{$store_data.S_NAME}<br />
    {/foreach}
    <a href="{$LINK_STORELIST}">{#text_to_storelist#}</a>
  </div>
  <div class="widget-foot"></div>
</div>
