{config_load file="$language/lang_$language.conf" section="boxes"}

<div class="widget" id="products_compare">
	<div class="widget-head"><h2 class="widgettitle">{#heading_products_compare#}</h2></div>
	<div class="widget-content mitte">
	{if $count!=''}
		{#text_item#} {$count}<br />
	{else}
		{#text_empty_products_compare#}<br />
	{/if}
	{$FORM_ACTION}
	{$FIELD_PRODUCT}
	{$BUTTON}
	{$FORM_END}
	
	{if $count!=''}
		<br />
		<hr size="1" noshade="noshade" color="#bbbbbb">
		&raquo; <a href="javascript:popup('{$LINK_PRODUCTS_COMPARE}');" rel="nofollow" title="{#text_to_products_compare#}" target="_self" ><strong>{#text_to_products_compare#}</strong></a>
	{/if}
  </div>
</div>

