{config_load file="$language/lang_$language.conf" section="boxes"}
{if $BOX_CONTENT}
	<li class="menu-item"><a href="/admin" target="_self" type="button" class="btn btn-outline-light"><i class="glyphicon glyphicon-cog"></i> Shop Admin</a></li>
{/if}
{*{$BOX_CONTENT}*}