{config_load file="$language/lang_$language.conf" section="boxes"}
<div id="modal-box-add-quickie" class="modal fade" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{#heading_direct_order#}</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			{$FORM_ACTION}
			<div class="modal-body">
				{#text_quickie#} <br />
				<input class="form-control" type="text" id="quickie" name="quickie" />
				<br />
				<div class="add-quickie-response"></div>
			</div>
			<div class="modal-footer">
				{$SUBMIT_BUTTON}
			</div>
			{$FORM_END}
		</div>
	</div>
</div>