{config_load file="$language/lang_$language.conf" section="customers_advertising"}

<div class="panel panel-default">
	<div class="panel-heading"><b>{#advertising_customer#}</b></div>
		<div class="panel-body">
  	{#text_description#} {$MODULE_CUSTOMERS_ADVERTISING_AMOUNT}
    </div>
    <div class="panel-footer">
    <a href="{$LINK_ADVERTISING}">{#advertising#} </a>
    </div>
</div>