{config_load file="$language/lang_$language.conf" section="account_history"}
{config_load file="$language/lang_$language.conf" section="buttons"}

<div class="page-header">
    <h2>{#heading_history#}</h2>
</div>


<div  class="panel panel-default">
    <table class="table">
        <tr>
            <th>{#text_oid#}</th>
            <th>{#text_date#}</th>
            <th>{#text_articles#}</th>
            <th>{#text_total#}</th>
            <th>{#text_status#}</th>
            <th>&nbsp;</th>
        </tr>
        {foreach name=aussen item=order_data from=$order_content}
        <tr>
            <td>{$order_data.ORDER_ID}</td>
            <td>{$order_data.ORDER_DATE}</td>
            <td>{$order_data.ORDER_PRODUCTS}</td>
            <td>{$order_data.ORDER_TOTAL}</td>
            <td>{$order_data.ORDER_STATUS}</td>
            <td>{$order_data.ORDER_BUTTON}</td>
        </tr>
        {/foreach}
    </table>
    <div class="panel-footer" align="right">
        <div class="pull-left">
        {$SPLIT_BAR_COUNT}
        {$SPLIT_BAR_LINKS}
        </div>
        <a href="javascript:history.back();" class="btn btn-default">{#back#}</a>
    </div>
</div>
