{config_load file="$language/lang_$language.conf" section="account_newsletter"} 
{config_load file="$language/lang_$language.conf" section="buttons"}

<div class="card text-white bg-primary">
    <div class="card-header">
        <h4><strong>{#heading_newsletter#}</strong></h4>
    </div>
    {$FORM_ACTION}
    <div class="card-body">
      {#title_newsletter#}<br />
      {$CHECKBOX}
      {#text_newsletter#}<br />
      {#text_newsletter_desc#}<br />
      {$BUTTON_BACK}
    </div>
    <div class="card-footer" style="text-align: right;">{$BUTTON_CONTINUE}</div>
    {$FORM_END}
</div>
