{config_load file="$language/lang_$language.conf" section="account_edit"}
{config_load file="$language/lang_$language.conf" section="buttons"}

{if $error!=''}
<div class="panel panel-danger">
    <div class="panel-body">
		{$error}
    </div>
</div>
{/if}


<div class="page-header">
	<h2>{#heading_account#}</h2>
	<h5>{#title_personal#}</h5>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            {$FORM_ACTION}
            <div class="panel-body">
                <div class="form-horizontal">

                    {if $gender=='1'}
                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_gender#}</label>
                        <div class="col-sm-10">
                            {$INPUT_MALE} {$INPUT_FEMALE}
                        </div>
                    </div>
                    {/if}

                    {if $nick=='1'}
                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_nick#}</label>
                        <div class="col-sm-10">
                            {$INPUT_NICK}
                        </div>
                    </div>
                    {/if}

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_firstname#}</label>
                        <div class="col-sm-10">
                            {$INPUT_FIRSTNAME}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_lastname#}</label>
                        <div class="col-sm-10">
                            {$INPUT_LASTNAME}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_company#}</label>
                        <div class="col-sm-10">
                            {$INPUT_COMPANY}
                        </div>
                    </div>

                    {if $birthdate=='1'}
                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_birthdate#}</label>
                        <div class="col-sm-10">
                            {$INPUT_DOB}
                        </div>
                    </div>
                    {/if}

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_email#}</label>
                        <div class="col-sm-10">
                            {$INPUT_EMAIL}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_tel#}</label>
                        <div class="col-sm-10">
                            {$INPUT_TEL}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_fax#}</label>
                        <div class="col-sm-10">
                            {$INPUT_FAX}
                        </div>
                    </div>

                    <p>{#text_must#}</p>

                </div>
            </div>
            <div class="panel-footer" align="right">{$BUTTON_BACK}  <input type="submit" class="btn btn-primary" value="{#send#}"></div>
            {$FORM_END}
        </div>
     </div>
</div>
