{config_load file="$language/lang_$language.conf" section="account_history_info"}
{config_load file="$language/lang_$language.conf" section="buttons"}

<div class="page-header">
  <h2>{#heading_history_info#}</h2>
</div>


<div class="well">
  <table class="table" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="left" width="20%">{#text_oid#}</td>
      <td align="left" width="80%">{$ORDER_NUMBER}</td>
    </tr>
    <tr>
      <td align="left" width="20%">{#text_date#}</td>
      <td align="left" width="80%">{$ORDER_DATE}</td>
    </tr>
    <tr>
      <td align="left" width="20%">{#text_status#}</td>
      <td align="left" width="80%">{$ORDER_STATUS}</td>
    </tr>
  </table>
</div>

<div  class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">{#heading_address#}</h4>
  </div>
  <table class="table">
    <tr>
      <td width="50%">{#text_shipping_address#}</td>
      <td width="50%">{if $BILLING_LABEL}{#text_payment_address#}{/if}</td>
    </tr>
    <tr>
      <td width="50%">{$DELIVERY_LABEL}</td>
      <td width="50%">{if $BILLING_LABEL}{$BILLING_LABEL}{/if}</td>
    </tr>
  </table>
</div>


<div  class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">{#heading_payment#}</h4>
  </div>
  <table class="table">
    <tr>
      <td width="20%">{#text_shipping_method#}</td>
      <td width="80%">{$SHIPPING_METHOD}</td>
    </tr>
    <tr>
      <td width="20%">{if $PAYMENT_METHOD}{#text_payment_method#}{/if}</td>
      <td width="80%">{if $PAYMENT_METHOD}{$PAYMENT_METHOD}{/if}</td>
    </tr>
  </table>
</div>


{if $ORDER_COMMENTS!=''}
<div  class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">{#text_comments#}</h4>
  </div>
  <div class="panel-body">{$ORDER_COMMENTS}</div>
</div>
{/if}

{if $PAYMENT_INFORMATION!=''}
<div  class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">{#text_payment_info#}</h4>
  </div>
  <div class="panel-body">{$PAYMENT_INFORMATION}</div>
</div>
{/if}


<div  class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">{#title_history#}</h4>
  </div>
  <table class="table">
    {foreach name=aussen item=history_data from=$history_block}
    <tr>
      <td align="left" width="20%">{$history_data.DATE}</td>
      <td align="left" width="20%">{$history_data.NAME}</td>
      <td align="left" width="80%">{$history_data.COMMENT}</td>
    </tr>
    {/foreach}
  </table>
</div>


<div  class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">{#text_products#}</h4>
  </div>
  <table class="table">
    {foreach name=aussen item=product_data from=$product_block}
    <tr>
      <td style="border-bottom: 1px solid #bbbbbb;" align="left" width="3%" valign="top">
        {if $product_data.STATUS == 2}
        <img src="{$tpl_path}img/os_package.png" title="Auftrag &uuml;bernommen Ware wird gepackt" />
        {elseif $product_data.STATUS == 3}
        <img src="{$tpl_path}img/os_delivery.png" title="Ware wird zugestellt" />
        {elseif $product_data.STATUS == 5}
        <img src="{$tpl_path}img/os_remove.png" alt="" />
        {else}
        &nbsp;
        {/if}
      </td>
      <td style="border-bottom: 1px solid #bbbbbb;" align="left" width="50%" valign="top">
        {$product_data.QTY} x {$product_data.NAME}
        <br />
        {if $product_data.ATTRIB}
        {foreach key=a_data item=attrib_data from=$product_data.ATTRIB}
        {$attrib_data.OPTION}: {$attrib_data.OPTION_VALUE} <br />
        {/foreach}
        {/if}
      </td>
      <td style="border-bottom: 1px solid #bbbbbb;" align="left" width="20%" valign="top">{$product_data.MODEL}</td>
      <td style="border-bottom: 1px solid #bbbbbb;" align="right" width="15%" valign="top">{$product_data.PRICE}</td>
      <td style="border-bottom: 1px solid #bbbbbb;" align="right" width="15%" valign="top">{$product_data.FINAL_PRICE}</td>
    </tr>
    {/foreach}

    <tr>
      <td align="left" colspan="6"></td>
    </tr>

    {foreach name=aussen item=total_data from=$total_block}
    <tr>
      <td align="right" colspan="4" valign="top">{$total_data.TITLE}</td>
      <td align="right" valign="top">{$total_data.TEXT}</td>
    </tr>
    {/foreach}

  </table>
</div>


<div  class="panel panel-default">
  <div class="panel-heading">
    <a href="javascript:history.back();" class="btn btn-default">{#back#}</a>
    <div class="pull-right">
      <a href="/print_order.php/oID/{$ORDER_NUMBER}" class="btn btn-primary" target="_blank">{#print#}</a>
      <a href="/reload_cart.php/oID/{$ORDER_NUMBER}" class="btn btn-success">{#addBasket#}</a>
    </div>
  </div>
</div>
