{config_load file="$language/lang_$language.conf" section="account_password"}


{if $error!=''}
<div class="card border-danger mb-3">
    <div class="card-body">
		{$error}
    </div>
</div>
{/if}

{if $SHOW_TEXT_CHPWD==true}
<div class="card border-primary mb-3">
    <div class="card-header">
        <h4><strong>{#password_update#}</strong></h4>
    </div>
    <div class="card-body">
		{$TEXT_CPWD}
    </div>
</div>
{/if}

<div class="page-header">
	<h2>{#heading_password#}</h2>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            {$FORM_ACTION}
            <div class="card-body">
                <div class="form-horizontal">
                    {if $SHOW_CURRENT_PWD==true}
                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_actual#}</label>
                        <div class="col-sm-10">
                            {$INPUT_ACTUAL}
                        </div>
                    </div>
                    {/if}

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_new#}</label>
                        <div class="col-sm-10">
                            {$INPUT_NEW}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_confirm#}</label>
                        <div class="col-sm-10">
                            {$INPUT_CONFIRM}
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer" align="right">{$BUTTON_SUBMIT}</div>
            {$FORM_END}
        </div>
     </div>
</div>
