{config_load file="$language/lang_$language.conf" section="address_book_process"}

<div class="page-header">
	<h2>{#title_address#}</h2>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-horizontal">
                    {if $gender=='1'}
                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_gender#}</label>
                        <div class="col-sm-10">
                            {$INPUT_MALE} {$INPUT_FEMALE}
                        </div>
                    </div>
                    {/if}

                    {if $nick=='1'}
                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_nick#}</label>
                        <div class="col-sm-10">
                            {$INPUT_NICK}
                        </div>
                    </div>
                    {/if}

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_firstname#}</label>
                        <div class="col-sm-10">
                            {$INPUT_FIRSTNAME}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_lastname#}</label>
                        <div class="col-sm-10">
                            {$INPUT_LASTNAME}
                        </div>
                    </div>

                    {if $company=='1'}
                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_company#}</label>
                        <div class="col-sm-10">
                            {$INPUT_COMPANY}
                        </div>
                    </div>
                    {/if}

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_street#}</label>
                        <div class="col-sm-10">
                            {$INPUT_STREET}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_code#}</label>
                        <div class="col-sm-10">
                            {$INPUT_CODE}
                        </div>
                    </div>

                    {if $suburb=='1'}
                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_suburb#}</label>
                        <div class="col-sm-10">
                            {$INPUT_SUBURB}
                        </div>
                    </div>
                    {/if}

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_city#}</label>
                        <div class="col-sm-10">
                            {$INPUT_CITY}
                        </div>
                    </div>

                    {if $suburb=='1'}
                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_state#}</label>
                        <div class="col-sm-10">
                            {$INPUT_STATE}
                        </div>
                    </div>
                    {/if}

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_country#}</label>
                        <div class="col-sm-10">
                            {$SELECT_COUNTRY}
                        </div>
                    </div>

                    {if $new=='1'}
                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_standard#}</label>
                        <div class="col-sm-10">
                            {$CHECKBOX_PRIMARY}
                        </div>
                    </div>
                    {/if}

                    <p>{#text_must#}</p>

                </div>
            </div>
            <div class="panel-footer" align="right"></div>
        </div>
     </div>
</div>

