{config_load file="$language/lang_$language.conf" section="address_book_process"}

{if $error!=''}
<div class="panel panel-danger">
    <div class="panel-body">
		{$error}
    </div>
</div>
{/if}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title"><strong>{#heading_address#}</strong></h4>
    </div>
    <div class="panel-body">
	{$FORM_ACTION}
	{if $delete=='1'}
        {#title_delete#}<br /><br />
        {#text_delete#}<br /><br />
        {$ADDRESS}
    {else}	
      {$MODULE_address_book_details}	
    {/if}
    </div>
    <div class="panel-footer" style="text-align: right;">{$BUTTON_BACK} {$BUTTON_UPDATE} {$BUTTON_DELETE}</div>
    {$FORM_END}
</div>

