{config_load file="$language/lang_$language.conf" section="address_book"}

<div class="page-header">
    <h2>{#heading_address#}</h2>
</div>

{if $error!=''}
<div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    {$error}
</div>
{/if}

{#text_standard#}

<div class="card mt-3">
    <div class="card-header"><h4 class="panel-title">{#title_standard#}</h4></div>
    <div class="card-body">{$ADDRESS_DEFAULT}</div>
</div>


{$FORM_ACTION}
<div class="card mt-3 mb-3">
    <div class="card-header"><h4>{#title_addresses#}</h4></div>
    <ul class="list-group">
        {foreach name=aussen item=addresses from=$addresses_data}
        <li class="list-group-item">
            <div class="pull-right">
                <div class="btn-group btn-group-sm">
                    <a href="/address_book_process.php/edit/{$addresses.ADDRESS_BOOK_ID}" class="btn btn-default" ><i class="glyphicon glyphicon-edit"></i></a>
                    <a href="/address_book_process.php/delete/{$addresses.ADDRESS_BOOK_ID}" class="btn btn-danger" ><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            {$addresses.NAME}<br />&nbsp;
            {if $addresses.PRIMARY=='1'}<span class="label label-primary">{#title_standard#}</span>{/if}
        </li>
        {/foreach}
    </ul>
    <div class=card-footer" align="right">{$BUTTON_NEW}</div>
</div>

{$BUTTON_BACK}
