{config_load file="$language/lang_$language.conf" section="advanced_search"}
{config_load file="$language/lang_$language.conf" section="popup_search_help"}
{config_load file="$language/lang_$language.conf" section="buttons"}

{if $error!=''}
<div class="alert alert-danger fade in">
  <button class="close" data-dismiss="alert">×</button>
  {$error}
</div>
{/if}


<div class="page-header">
    <h2>{#heading_search#}</h2>
</div>
  

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">

            {$FORM_ACTION}
            <div class="panel-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <label for="INPUT_KEYWORDS" class="col-sm-4 control-label">{#title_keywords#}</label>
                        <div class="col-sm-8">
                            {$INPUT_KEYWORDS}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="SELECT_CATEGORIES" class="col-sm-4 control-label">{#text_categories#}</label>
                        <div class="col-sm-8">
                            {$SELECT_CATEGORIES}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ENTRY_SUBCAT" class="col-sm-4 control-label">{#text_subkategories#}</label>
                        <div class="col-sm-8">
                            {$ENTRY_SUBCAT}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="SELECT_MANUFACTURERS" class="col-sm-4 control-label">{#text_manufacturer#}</label>
                        <div class="col-sm-8">
                            {$SELECT_MANUFACTURERS}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="SELECT_PFROM" class="col-sm-4 control-label">{#text_min#}</label>
                        <div class="col-sm-8">
                            {$SELECT_PFROM}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="SELECT_PTO" class="col-sm-4 control-label">{#text_max#}</label>
                        <div class="col-sm-8">
                            {$SELECT_PTO}
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel-footer" align="right"><input type="submit" class="btn btn-primary" value="{#send#}"></div>
            {$FORM_END}

            <div class="panel-body">
                <h2>{#title_help#}</h2>
                {#text_help#}
            </div>

        </div>
     </div>
</div>
