{config_load file="$language/lang_$language.conf" section="customers_advertising"}

<div class="page-header">
	<h2>{#heading_customers_advertising#}</h2>
</div>


{$FORM_ACTION} 

{if $error!=''}
<div class="panel panel-danger">
    <div class="panel-body">
		{$error}
    </div>
</div>
{/if}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="form-horizontal">

                    <p>{#text_description#} <b>{$MODULE_CUSTOMERS_ADVERTISING_AMOUNT}</b><br />
                    <br />
                    {#text_note#} <b>{$MODULE_CUSTOMERS_ADVERTISING_CHEAP}</b><br />
                    <br />{#text_must#}</p>

                    <div class="page-header">
                    	<h4>{#title_personal#}</h4>
                    </div>

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_firstname#}</label>
                        <div class="col-sm-10">
                            {$INPUT_FIRSTNAME_CUSTOMER}
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_lastname#}</label>
                        <div class="col-sm-10">
                            {$INPUT_LASTNAME_CUSTOMER}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_email#}</label>
                        <div class="col-sm-10">
                            {$INPUT_EMAIL_CUSTOMER}
                        </div>
                    </div>

                    <div class="page-header">
                    	<h4>{#title_guest#}</h4>
                    </div>

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_firstname#}</label>
                        <div class="col-sm-10">
                            {$INPUT_FIRSTNAME_GUEST}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_lastname#}</label>
                        <div class="col-sm-10">
                            {$INPUT_LASTNAME_GUEST}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_email#}</label>
                        <div class="col-sm-10">
                            {$INPUT_EMAIL_GUEST}
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel-footer" align="right">{$BUTTON_SUBMIT}</div>

        </div>
     </div>
</div>
{$FORM_END}
