{config_load file="$language/lang_$language.conf" section="bonuspunkte"}


{if $ERROR!=''}
<div class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	{$ERROR}
</div>
{/if}


<div class="row">
	{if $TYPE == 'redeem'}
	{foreach name=bonus_system item=produkt from=$BONUS_PRODUCTS}
	<div class="col-md-4 col-sm-6 col-xs-12">
		{$FORM_ACTION}
		{$produkt.hiddenfield}
		<div class="panel panel-info">
			<div class="panel-heading"><h4 class="panel-title"><strong>{$produkt.name}</strong></h4></div>
			<div class="panel-body"><strong>{#points#}:</strong> {$produkt.points}<br />{$produkt.description}</div>
			<div class="panel-footer" style="text-align: right;">{$SUBMIT_BUTTON}</div>
		</div>
		{$FORM_END}
	</div>
	{/foreach}
	{elseif $TYPE == 'info'}
	<div class="page-header">
		<h1>{#coupon_info2#}</h1>
	</div>
	<div class="col-md-12">
		<div class="panel panel-success">
			<div class="panel-heading"><h4 class="panel-title"><strong>{$NAME}</strong></h4></div>
			<div class="panel-body">{#points#}: {$POINTS}<br />{#description#}: {$DESCRIPTION}<br /><br />{#coupon_info3#}</div>
			<div class="panel-footer" style="text-align: right;">{$DELETE_BUTTON}</div>
		</div>
	</div>
	{/if}
</div>