{config_load file="$language/lang_$language.conf" section="categories_favored_edit"}

{if $error!=''}
<div class="panel panel-danger">
    <div class="panel-body">
		{$error}
    </div>
</div>
{/if}

{if $after_save===TRUE}
{if $text_after_save}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title"><strong></strong></h4>
    </div>
    <div class="panel-body">
		{$text_after_save}
    </div>
    <div class="panel-footer" style="text-align: right;"></div>
</div>
{/if}
{/if}


<div class="page-header">
	<h2>{#heading_categories_favored#} {$DEVICE.manufacturers_name} - {$DEVICE.serie} - {$DEVICE.model}</h2>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            {$FORM_ACTION}
            <div class="panel-body">
                <div class="form-horizontal">
                
                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_device_location1#}</label>
                        <div class="col-sm-10">
                            {$INPUT_DEVICE_LOCATION1}
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_device_location2#}</label>
                        <div class="col-sm-10">
                            {$INPUT_DEVICE_LOCATION2}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_device_amount#}</label>
                        <div class="col-sm-10">
                            {$INPUT_DEVICE_AMOUNT}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_device_serial#}</label>
                        <div class="col-sm-10">
                            {$INPUT_DEVICE_SERIAL}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_capacity_monthly#}</label>
                        <div class="col-sm-10">
                            {$INPUT_CAPACITY_MONTHLY}
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel-footer" align="right">{$BUTTON_SAVE} {$BUTTON_CANCEL}</div>

            {$FORM_END}
        </div>
     </div>
</div>


{if $after_save===TRUE}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title"><strong></strong></h2>
    </div>
    <div class="panel-body">
	   	<span class="center"><img src="{$tpl_path}img/arrow_green.gif" alt="" /><a href="{$LINK_CATEGORIES_FAVORED}">{#text_to_categories_favored#}</a></span><br />
		<span class="center"><img src="{$tpl_path}img/arrow_green.gif" alt="" /><a href="{$LINK_DEVICE_MATERIAL}">{#text_to_device_material#}</a></span><br />
		<span class="center"><img src="{$tpl_path}img/arrow_green.gif" alt="" /><a href="{$LINK_CONTINUE}">{#text_continue#}</a></span>
    </div>
</div>
{/if}
