{config_load file="$language/lang_$language.conf" section="categorie_listing"}
{assign var="assetsTpl" value="`$tpl_path_abs`assets/tpl/"}

{if $module_content !=''}
<div class="page-header">
	<h2>{#heading_bestseller_categories#} '{$categories_name}'</h2>
</div>
<div class="row">
	{foreach name=aussen item=module_data from=$module_content}
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading"><center><h4 class="panel-title"><strong>{$module_data.CATEGORIES_NAME}</strong></h4></center></div>
			<div class="panel-body">
				<center>
					<a href="{$module_data.CATEGORIES_LINK}">
						{if is_file($module_data.CATEGORIES_IMAGE)}
						<img src="{$module_data.CATEGORIES_IMAGE}" alt="{$module_data.CATEGORIES_IMAGE}" border="0" />
						{else}
						<img src="{$tpl_path}img/_clear1px.gif" width="50" height="50" border="0" align="absmiddle">
						<h4 class="text_red">Top Produkte:<br />
							{$module_data.CATEGORIES_NAME}</h4>
						{/if}
					</a>
					{if $module_data.CATEGORIES_DESCRIPTION}<br /><br />{$module_data.CATEGORIES_DESCRIPTION}{/if}
				</center>
			</div>
		</div>
	</div>
	{/foreach}
</div>
{/if}
