{config_load file="$language/lang_$language.conf" section="categories_favored"}

<h2>{#box_heading#}</h2>

{if $module_content!=''}

{include file='assets/tpl/modal-confirmation.tpl' modalContent=''}

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>{#tablehead_device#}<br />{#tablehead_device_serial#}</th>
            <th>{#tablehead_device_location1#}<br />{#tablehead_device_location2#}</th>
            <th>{#tablehead_device_amount#}<br />{#tablehead_capacity_monthly#}</th>
            <th><br />{#tablehead_action#}</th>
        </tr>
        {foreach name=aussen item=module_data from=$module_content}
        <tr>
            <td>
                <a class="wishlist" href="{$module_data.categories_link}"><strong>&raquo; {$module_data.manufacturers_name} - {$module_data.model}</strong></a><br/>
                {$module_data.device_serial}
            </td>
            <td>{$module_data.device_location1}<br/>{$module_data.device_location2}</td>
            <td>{$module_data.device_amount}<br/>{$module_data.capacity_monthly}</td>
            <td align="right">
                <div class="btn-group btn-group-sm">
                    <a class="btn btn-success" href="{$module_data.edit_link}" alt="{#text_action_edit#}" title="{#text_action_edit#}"><i class="glyphicon glyphicon-edit"></i></a>
                    <a class="btn btn-danger link-delete-item" alt="{#text_action_delete#}" title="{#text_action_delete#}" data-catId="{$module_data.categories_favored_id}"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </td>
        </tr>
        {/foreach}
    </table>
</div>
{/if}



{if $module_content==''}
<p>{#text_no_favorites_found#}</p>
{/if}

