{config_load file="$language/lang_$language.conf" section="checkout_new_address"}

<div class="page-header">
	<h2>{#title_new_address#}</h2>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h4 class="panel-title">{#title_address#}</h4></div>
    <div class="panel-body">
        <div class="form-horizontal">
            {if $gender=='1'}
            <div class="form-group">
                <label class="col-sm-2 control-label">{#text_gender#}</label>
                <div class="col-sm-10">
                    {$INPUT_MALE} {$INPUT_FEMALE}
                </div>
            </div>
            {/if}
            {if $nick=='1'}
            <div class="form-group">
                <label class="col-sm-2 control-label">{#text_nick#}</label>
                <div class="col-sm-10">
                    {$INPUT_NICK}
                </div>
            </div>
            {/if}
            <div class="form-group">
                <label for="inputFirstName" class="col-sm-2 control-label">{#text_firstname#}</label>
                <div class="col-sm-10">
                    <input type="text" name="firstname" class="form-control" id="inputFirstName">
                </div>
            </div>
            <div class="form-group">
                <label for="inputLastName" class="col-sm-2 control-label">{#text_lastname#}</label>
                <div class="col-sm-10">
                    <input type="text" name="lastname" class="form-control" id="inputLastName">
                </div>
            </div>
            {if $birthdate=='1'}
            <div class="form-group">
                <label for="inputLastName" class="col-sm-2 control-label">{#text_birthdate#}</label>
                <div class="col-sm-10">
                    {$INPUT_DOB}
                </div>
            </div>
            {/if}
            <div class="form-group">
                <label for="inputLastName" class="col-sm-2 control-label">{#text_email#}</label>
                <div class="col-sm-10">
                    {$INPUT_EMAIL}
                </div>
            </div>

            {if $company=='1'}
            <div class="form-group">
                <label class="col-sm-2 control-label">{#text_company#}</label>
                <div class="col-sm-10">
                    {$INPUT_COMPANY}
                </div>
            </div>
            {if $vat=='1'}
            <div class="form-group">
                <label class="col-sm-2 control-label">{#text_ustid#}</label>
                <div class="col-sm-10">
                    {$INPUT_VAT}
                </div>
            </div>
            {/if}
            {/if}

            <div class="form-group">
                <label class="col-sm-2 control-label">{#text_street#}</label>
                <div class="col-sm-10">
                    {$INPUT_STREET}
                </div>
            </div>
            {if $suburb=='1'}
            <div class="form-group">
                <label class="col-sm-2 control-label">{#text_suburb#}</label>
                <div class="col-sm-10">
                    {$INPUT_SUBURB}
                </div>
            </div>
            {/if}
            <div class="form-group">
                <label class="col-sm-2 control-label">{#text_code#}</label>
                <div class="col-sm-10">
                    {$INPUT_CODE}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{#text_city#}</label>
                <div class="col-sm-10">
                    {$INPUT_CITY}
                </div>
            </div>
            {if $state=='1'}
            <div class="form-group">
                <label class="col-sm-2 control-label">{#text_state#}</label>
                <div class="col-sm-10">
                    {$INPUT_STATE}
                </div>
            </div>
            {/if}
            <div class="form-group">
                <label class="col-sm-2 control-label">{#text_country#}</label>
                <div class="col-sm-10">
                    {$SELECT_COUNTRY}
                </div>
            </div>
        </div>
    </div>
</div>