{config_load file="$language/lang_$language.conf" section="checkout_shipping_address"}

<div class="page-header">
    <h2>{#heading_address#}</h2>
</div>

{if $error!=''}
<div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    {$error}
</div>
{/if}

{$FORM_ACTION}
<div  class="panel panel-default">
    <div class="panel-heading"><h4 class="panel-title">{#text_current_address#}</h4></div>
    <div class="panel-body">{$ADDRESS_LABEL}</div>
</div>

{if $block_address}
<div  class="panel panel-default">
    <div class="panel-heading"><h4 class="panel-title">{#title_old_addresses#}<br/><small>{#text_old_addresses#}</small></h4></div>
    <ul class="list-group list-group-selection">
        {foreach name=aussen item=address_data from=$block_address}
        <label class="list-group-item {if $address_data.STATUS == 1} active{/if}" for="rd-{$address_data.ADDRESS_ID}" >
            <input id="rd-{$address_data.ADDRESS_ID}" type="radio" name="address" value="{$address_data.ADDRESS_ID}"{if $address_data.STATUS == 1} checked="checked" {/if}>
            {$address_data.ADDRESS}
            <small>{$address_data.FIRSTNAME} {$address_data.LASTNAME}</small>
        </label>
        {/foreach}
    </ul>
</div>
{/if}

{if $MODULE_new_address}
{$MODULE_new_address}
{/if}

<div  class="panel panel-default">
    <div class="panel-heading" align="right">{$BUTTON_CONTINUE}</div>
</div>
{$FORM_END}
