
<div id="accordion">
{foreach name=aussen item=module_data from=$module_content}
	<div class="card toggle-checkout-payment">
		<div class="card-body">
			<span class="float-right">{$module_data.module_cost}</span>
			<div class="form-check form-check-inline">
				<label class="form-check-label font-weight-bold" >
					<input type="radio" name="payment" value="{$module_data.id}"> {$module_data.module}
				</label>
			</div>
			<div>

					{if $module_data.error != ''}
						{$module_data.error}
						<br/>
					{else}
					{$module_data.description}
						{foreach name=aussen item=method_data from=$module_data.fields}
						{$method_data.title} {$method_data.field}<br />
						{/foreach}
					{/if}

			</div>
		</div>
	</div>
{/foreach}
</div>
