{config_load file="$language/lang_$language.conf" section="checkout_shipping"}
{config_load file="$language/lang_$language.conf" section="buttons"}
{config_load file="$language/lang_$language.conf" section="checkout"}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="shopping_cart.php" >{#text_ware#}</a></li>
    <li class="breadcrumb-item active">{#text_versand#}</li>
    <li class="breadcrumb-item">{#text_zahlung#}</li>
    <li class="breadcrumb-item">{#text_bestell#}</li>
  </ol>
</nav>

{if $error!=''}
<div class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  {$error}
</div>
{/if}

<div class="page-header">
	<h1>{#heading_shipping#}</h1>
</div>

{$FORM_ACTION}
<div class="card mb-3">
  <div class="card-header">{#text_actual_address#}</div>
  <div class="card-body">{#text_addressbook#}<br><br>{$ADDRESS_LABEL}</div>
  <div class="card-footer">{$BUTTON_ADDRESS}</div>
</div>


<div class="card mb-3">
  <div class="card-header">{#title_shipping#}</div>
  <div class="card-body">{#text_shipping#}<br><br>{$SHIPPING_BLOCK}</div>
  <div class="card-footer text-right">{$BUTTON_CONTINUE}</div>
</div>
{$FORM_END}