{config_load file="$language/lang_$language.conf" section="checkout_payment_address"}

{if $error!=''}
<div class="panel panel-danger">
    <div class="panel-body">
		{$error}
    </div>
</div>
{/if}


{$FORM_ACTION}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title"><strong>{#heading_address#}</strong></h4>
    </div>
    <div class="panel-body">
		{#text_current_address#}<br />
        {$ADDRESS_LABEL}
    </div>
    <div class="panel-footer" style="text-align: right;"></div>
</div>

{if $block_address}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title"><strong>{#title_old_addresses#}</strong></h4>
    </div>
    <div class="panel-body">
		{#text_old_addresses#}
		<br />
        {foreach name=aussen item=address_data from=$block_address}
          <br />
          {$address_data.FIRSTNAME}
          {$address_data.LASTNAME}
          <span style="text-align: right;">{$address_data.SELECT}</span><br />
          {$address_data.ADDRESS}<br />
        {/foreach}
    </div>
    <div class="panel-footer" style="text-align: right;"></div>
</div>
{/if}

{if $MODULE_new_address}
    {$MODULE_new_address}
{/if}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title"><strong>{#title_continue#}</strong></h4>
    </div>
    <div class="panel-body">
		{#text_continue#}
    </div>
    <div class="panel-footer" style="text-align: right;">{$BUTTON_CONTINUE}</div>
</div>
{$FORM_END}