<style type="text/css">{literal}#paymentMethodContainer {    -moz-user-select: none;    color: #3f3f3f;    font-family: Arial;    padding: 0;}

#paymentMethodContainer .paymentMethodRow {
    display: table;
    width: 100%;
}#paymentMethodContainer .paymentMethodRow div.nameRow {    display: table;    height: 64px;
    width: 16.6667%;
    float:left;
    position: relative;    padding-left: 8px;    padding-right: 8px;}#paymentMethodContainer .paymentMethodRow div.nameRow .methodName {    display: table-cell;    vertical-align: middle;     font-size: 12px;}*::before, *::after {    box-sizing: border-box;}*::before, *::after {    box-sizing: border-box;}* {    box-sizing: border-box;}#paymentMethodContainer .separator {    border-bottom: 1px solid #dfdfdf;}.row {}#paymentMethodContainer .paymentMethodRow:hover {  background: #f9f9f9;  cursor: pointer;  cursor: hand;}

#paymentMethodContainer .paymentMethodRow div.paymentMethodDetails {
    display: block;
}

#paymentMethodContainer .paymentMethodRow div.paymentMethodDetails .detailsText {
    color: #3f3f3f;
    font-family: Arial;
    font-size: 11px;
    margin-bottom: 5px;
    padding-right: 8px;
    width: 66.6667%;
    float:left;
}

#paymentMethodContainer .paymentMethodRow div.checkMark {
    width: 16.6667%;
    float:left;
    text-align: right; position: right;
    height:64px;
    padding-top: 10px;    padding-right: 8px;
}
.checkMark input[type="radio"] {    display: none;}
.checkMark input[type="radio"]+label {        height:23px;
    padding-bottom: 5px;
    padding-left: 23px;}

.checkMark input[type="radio"]:checked + label{    background-image: url("https://www.paypalobjects.com/webstatic/ppplus/icons/checkmark.png");    height:23px;}


{/literal}</style>{$FORM_ACTION}<div id="paymentMethodContainer" class="container-fluid">{foreach name=aussen item=module_data from=$module_content} 
<label class="paymentSelections"><div class="paymentMethodRow">	<div class="nameRow" style="height: 64px;">		<div class="methodName">{$module_data.module}</div>
  </div>		<div class="paymentMethodDetails">				<div class="detailsText"><span>		<table border="0" cellspacing="0" cellpadding="2">						{if $module_data.description}			{$module_data.description}</br>			{/if}						{foreach name=aussen item=method_data from=$module_data.fields} 				 				                      <tr>				                        <td class="onepxwidth">&nbsp;</td>				                        <td class="main">{$method_data.title}</td>				                        <td class="onepxwidth">&nbsp;</td>				                        <td class="main">{$method_data.field}</td>				                        <td class="onepxwidth">&nbsp;</td>				                      </tr>							{/foreach}			 </table>
			 </span>			 </div>			 <div class="checkMark">			 {$module_data.selection}
			 <label for="pmt_{$module_data.css_id}"></label>			 </div>		</div>	</div>
</label><div class="separator row"><div class="col-xs-12"></div></div>{/foreach}</div>	    <table width="100%" border="0" cellspacing="0" cellpadding="0">        <tr>           <td style="border-right: 1px solid; border-color: #cccccc;" valign="top" class="main"><strong>{#title_continue#}</strong><br />{#text_continue#}<br /><br />		    <table width="100%" border="0" cellspacing="0" cellpadding="0">              <tr>                 <td align="right">                    {$BUTTON_CONTINUE}                </td>              </tr>            </table></td>        </tr>      </table>	    {$FORM_END}