{config_load file="$language/lang_$language.conf" section="checkout_payment"}
{config_load file="$language/lang_$language.conf" section="buttons"}
{config_load file="$language/lang_$language.conf" section="checkout"}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="shopping_cart.php" >{#text_ware#}</a></li>
    <li class="breadcrumb-item"><a href="checkout_shipping.php" >{#text_versand#}</a></li>
    <li class="breadcrumb-item active">{#text_zahlung#}</li>
    <li class="breadcrumb-item">{#text_bestell#}</li>
  </ol>
</nav>

{if $error!=''}
<div class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  {$error}
</div>
{/if}

{if $payment_code != 'xt_paypal_plus'}
{$FORM_ACTION}
{/if
<h2>{#title_payment#}</h2>

<div class="card mb-3">
  <div class="card-header">{#heading_payment#}</div>
  <div class="card-body">{#text_payment#}<br><br>{$PAYMENT_BLOCK}</div>
  {if $payment_code != 'xt_paypal_plus'}
    <div class="card-footer text-right">{$BUTTON_CONTINUE}</div>
  {/if}
</div>

{if $payment_code != 'xt_paypal_plus'}
{$FORM_END}
{/if}