
{if $FREE_SHIPPING} 

<div class="widget" id="checkout_shipping_block">
  <div class="content-head"><h2 class="widgettitle">{$FREE_SHIPPING_TITLE}</h2></div>
  <div class="widget-content">
    	{if $FREE_SHIPPING_ICON}
    		{$FREE_SHIPPING_ICON}
 			{/if}
      
      {$FREE_SHIPPING_DESCRIPTION}
  </div>
</div>

<div class="card">
    <div class="card-header">
        <h4 class="card-title"><strong>{#FREE_SHIPPING_TITLE#}</strong></h4>
    </div>
    <div class="card-body">
		{if $FREE_SHIPPING_ICON}
    		{$FREE_SHIPPING_ICON}
 		{/if}
        {$FREE_SHIPPING_DESCRIPTION}
    </div>
</div>


{else}	

{foreach name=aussen item=module_data from=$module_content}
<div class="card mb-3">
    <div class="card-body">
		{if $module_data.error != ''}
      	    {$module_data.error}
    	{else}
            {foreach name=aussen item=method_data from=$module_data.methods}
                <span class="float-right">{$method_data.price}</span>
                <div class="form-check form-check-inline">

                    <label class="form-check-label font-weight-bold">{$method_data.radio_field} {$module_data.module}</label>
                </div>
                <p>{$method_data.title}</p>

      	    {/foreach}
    	{/if}
    </div>
</div>
{/foreach}

{/if}