{config_load file="$language/lang_$language.conf" section="checkout_confirmation"} {config_load file="$language/lang_$language.conf" section="checkout_navigation"}
{config_load file="$language/modules/payment/iclear.conf" section="ic_order"}

<div class="page-header">
	<h2>{#ic_heading#}</h2>
</div>

{if $IC_PAYMENT_URL}
    <iframe id="ic_payment" name="ic_payment" src="{$IC_PAYMENT_URL}" style="width: 98%; border: none; height: 900px; overflow: hidden; background-color: white;" frameborder="0" scrolling="no"></iframe>
{/if}