{config_load file="$language/lang_$language.conf" section="checkout_success"}

{$MODULE_trusted_shops}

{$FORM_ACTION}
<div class="widget" id="checkout_success">
  <div class="content-head"><h2 class="widgettitle">{#heading_success#}</h2></div>
  <div class="widget-content">
	{#text_success#}<br /><br />
	{#title_printorder#}<br />
	{#text_printorder#}<br />
	<span class="rechts">{$BUTTON_PRINT}</span><br />
	<br />{#text_thankyou#}
	  <div class="text-right">{$BUTTON_CONTINUE}</div>
  </div>
</div>
{$FORM_END}