{config_load file="$language/lang_$language.conf" section="checkout_confirmation"}
{config_load file="$language/lang_$language.conf" section="checkout"}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="shopping_cart.php">{#text_ware#}</a></li>
        <li class="breadcrumb-item"><a href="checkout_shipping.php">{#text_versand#}</a></li>
        <li class="breadcrumb-item"><a href="checkout_payment.php">{#text_zahlung#}</a></li>
        <li class="breadcrumb-item active">{#text_bestell#}</li>
    </ol>
</nav>

{if $error!=''}
<div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    {$error}
</div>
{/if}

{if $IP_LOG=='true'}
<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    {#text_ip#}: {$CUSTOMERS_IP}
</div>
{/if}

<div class="page-header">
	<h1>{#heading_confirmation#}</h1>
</div>

<div  class="card mb-3">
    <div class="card-header">
        <h4 class="card-title">{#text_shipping_address#}</h4>
    </div>
    <div class="card-body">
        <div class="float-right"><a class="btn btn-primary" href="{$SHIPPING_ADDRESS_EDIT}">{#text_edit#}</a></div>
        {$DELIVERY_LABEL}
    </div>

</div>

{if $BILLING_LABEL=='TX'}
<div  class="card mb-3">
    <div class="card-header">
        <h4 class="card-title">{#text_payment_address#}</h4>
    </div>
    <div class="card-body">
        <div class="float-right"><a class="btn btn-primary" href="{$BILLING_ADDRESS_EDIT}">{#text_edit#}</a></div>
        {$BILLING_LABEL}
    </div>
</div>
{/if}


{if $SHIPPING_METHOD}
<div  class="card mb-3">
    <div class="card-header"><h4 class="card-title">{#text_method#}</h4></div>
    <div class="card-body">
        <div class="float-right"><a class="btn btn-primary" href="{$SHIPPING_EDIT}">{#text_edit#}</a></div>
        <h4 class="card-title">{$SHIPPING_METHOD}</h4>
    </div>
</div>
{/if}

{if $PAYMENT_METHOD!=''}
<div  class="card mb-3">
    <div class="card-header"><h4 class="card-title">{#text_payment_info#}</h4></div>
    {if $PAYMENT_METHOD!=''}
    <div class="card-body">
        <div class="float-right"><a class="btn btn-primary" href="{$PAYMENT_EDIT}">{#text_edit#}</a></div>
        <h3>{$PAYMENT_METHOD}</h3>
        {foreach name=aussen item=payment from=$payment_info}
        {$payment.TITLE} {$payment.FIELD}<br />
        {/foreach}
    </div>
    {/if}
</div>
{/if}


{if $ORDER_COMMENTS!=''}
<div  class="card mb-3">
    <div class="card-header"><h4 class="card-title">{#text_comments#}</h4></div>
    <div class="card-body">{$ORDER_COMMENTS}</div>
</div>
{/if}


<td width="20%">{$data.model}</td>
<td align="right" width="10%">{$data.qty}</td>
<td align="right" width="20%">{$data.price}</td>
<td align="right" width="20%">{$data.final_price}</td>


<div  class="card mb-3">
    <div class="card-header">
        <div class="float-right"><a class="btn btn-primary" href="{$PRODUCTS_EDIT}">{#text_edit#}</a></div>
        <h4 class="card-title">{#text_products#}</h4>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>{#text_article#}</th>
                <th>{#text_model#}</th>
                <th>{#text_single#}</th>
                <th>{#text_qty#}</th>
                <th>{#text_total#}</th>
            </tr>
            {foreach name=aussen item=item_data from=$products_data}
            <tr>
                <td style="width:10%;">
                    <div class="">
                        <img src="{$item_data.image}" alt="{$item_data.name}" class="img-responsive" />
                    </div>
                </td>
                <td><img src="{$item_data.stockamp}" /></td>
                <td><h3 class="card-title">
                    {$item_data.name}
                    {if $item_data.info}<br /><small>{$item_data.info}</small>{/if}</h3>
                    {if $item_data.attrib}
                    {foreach key=a_data item=attrib_data from=$item_data.attrib}
                    {$attrib_data.option_name}: {$attrib_data.option_value_name}<br />
                    {/foreach}
                    {/if}
                    {if $item_data.shipping_time}<small>{#text_shipping_time#} {$item_data.shipping_time}</small><br />{/if}
                </td>
                <td align="center">{$item_data.model}</td>
                <td align="right">{$item_data.price}</td>
                <td align="right">{$item_data.qty}</td>
                <td align="right">{$item_data.final_price}</td>
            </tr>
            {/foreach}
            {foreach name=total_data item=total from=$total_block}
            <tr>
                <td colspan="5" align="right">{$total.title}</td>
                <td colspan="2" align="right" >{$total.text}</td>
            </tr>
            {/foreach}
        </table>
    </div>

</div>

{$CHECKOUT_FORM}

<div  class="card mb-3">
    <div class="card-header"><h4 class="card-title">{#title_comments#}</h4></div>
    <div class="card-body">{$COMMENTS}</div>
</div>

<div  class="card mb-3">
    <div class="card-header"><h4 class="card-title">{#title_agb#}</h4></div>
    <div class="card-body">
        {$AGB}<br>
        {if $AGB_checkbox} {$AGB_checkbox} {#text_accept_agb#} <br />{/if}
        {$WBL}
    </div>
</div>

<div class="card">
    <div class="card-body text-right">{if $MODULE_BUTTONS!=''} {$MODULE_BUTTONS} {/if} {$CHECKOUT_BUTTON}</div>
</div>

{$FORM_END}
