{config_load file="$language/lang_$language.conf" section="contact_us"}
{config_load file="$language/lang_$language.conf" section="buttons"}

{if $error_message!=''}
<div class="well">
	{$error_message}
</div>
{/if}

<div class="page-header">
    <h2>{$CONTACT_HEADING}</h2>
</div>

{if $CONTACT_CONTENT}
<div class="well">
	{$CONTACT_CONTENT}
</div>
{/if}

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">

            {if $success!='1'}
            {$FORM_ACTION}
            <div class="panel-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <label for="INPUT_NAME" class="col-sm-4 control-label"><b>Name und Nachname</b><sup>&lowast;</sup></label>
                        <div class="col-sm-8">
                            {$INPUT_NAME}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="INPUT_COMPANY_DIVISION" class="col-sm-4 control-label"><b>Besteller / Abteilung</b></label>
                        <div class="col-sm-8">
                            {$INPUT_COMPANY_DIVISION}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="INPUT_COMPANY_CUSTOMER_ID" class="col-sm-4 control-label"><b>Firma / Kundennummer</b></label>
                        <div class="col-sm-8">
                            {$INPUT_COMPANY_CUSTOMER_ID}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="INPUT_PLZ_CITY" class="col-sm-4 control-label"><b>PLZ und Ort</b><sup>&lowast;</sup></label>
                        <div class="col-sm-8">
                            {$INPUT_PLZ_CITY}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="INPUT_STREET" class="col-sm-4 control-label"><b>Stra&szlig;e und Hausnummer</b><sup>&lowast;</sup></label>
                        <div class="col-sm-8">
                            {$INPUT_STREET}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="INPUT_PHONE" class="col-sm-4 control-label"><b>Telefon</b><sup>&lowast;</sup></label>
                        <div class="col-sm-8">
                            {$INPUT_PHONE}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="INPUT_EMAIL" class="col-sm-4 control-label"><b>E-Mail</b><sup>&lowast;</sup></label>
                        <div class="col-sm-8">
                            {$INPUT_EMAIL}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="INPUT_MOBILE" class="col-sm-4 control-label"><b>Mobiltelefon</b></label>
                        <div class="col-sm-8">
                            {$INPUT_MOBILE}
                        </div>
                    </div>

                    <div class="form-group">
                        	<label for="INPUT_CHECKBOX" class="col-sm-8 control-label">{$INPUT_CHECKBOX} <b>Ich m&ouml;chte den Newsletter abonnieren</b></label>
                    </div>


                </div>
            </div>

            <div class="panel-footer" align="right"><input type="submit" class="btn btn-primary" value="{#send#}"></div>
            {$FORM_END}

            {else}

            <div class="panel-body">
                {#text_success#}
            </div>
            <div class="panel-footer" align="right">{$BUTTON_CONTINUE}</div>

            {/if}
        </div>
     </div>
</div>

