{config_load file="$language/lang_$language.conf" section="contact_us"}
{config_load file="$language/lang_$language.conf" section="buttons"}

{if $error_message!=''}
<div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    {$error_message}
</div>
{/if}

<div class="page-header">
    <h2>{$CONTACT_HEADING}</h2>
</div>

{if $CONTACT_CONTENT}
<div class="well">
	{$CONTACT_CONTENT}
</div>
{/if}

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">

            {if $success!='1'}
            {$FORM_ACTION}
            <div class="panel-body">
                <div class="form-horizontal">
<!--
                    <div class="form-group">
                        <label for="catalog" class="col-sm-4 control-label"><b>Katalog</b><sup>&lowast;</sup></label>
                        <div class="col-sm-8">
                            <select name="catalog" id="catalog">
                            	<option value="">--Auswahl--</option>
                            	<option value="A">A</option>
                            	<option value="B">B</option>
                            </select>
                        </div>
                    </div>
-->
                    <div class="form-group">
                        <label for="INPUT_FIRSTNAME" class="col-sm-4 control-label"><b>Vorname</b><sup>&lowast;</sup></label>
                        <div class="col-sm-8">
                            {$INPUT_FIRSTNAME}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="INPUT_LASTNAME" class="col-sm-4 control-label"><b>Nachname</b><sup>&lowast;</sup></label>
                        <div class="col-sm-8">
                            {$INPUT_LASTNAME}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="INPUT_COMPANY" class="col-sm-4 control-label"><b>Firma</b><sup>&lowast;</sup></label>
                        <div class="col-sm-8">
                            {$INPUT_COMPANY}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="INPUT_COMPANY_DIVISION" class="col-sm-4 control-label"><b>Position</b></label>
                        <div class="col-sm-8">
                            {$INPUT_COMPANY_DIVISION}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="INPUT_EMAIL" class="col-sm-4 control-label"><b>E-Mail</b><sup>&lowast;</sup></label>
                        <div class="col-sm-8">
                            {$INPUT_EMAIL}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="INPUT_PHONE" class="col-sm-4 control-label"><b>Telefon</b><sup>&lowast;</sup></label>
                        <div class="col-sm-8">
                            {$INPUT_PHONE}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="INPUT_STREET" class="col-sm-4 control-label"><b>Stra&szlig;e und Hausnummer</b><sup>&lowast;</sup></label>
                        <div class="col-sm-8">
                            {$INPUT_STREET}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="INPUT_PLZ" class="col-sm-4 control-label"><b>PLZ</b><sup>&lowast;</sup></label>
                        <div class="col-sm-8">
                            {$INPUT_PLZ}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="INPUT_CITY" class="col-sm-4 control-label"><b>Ort</b><sup>&lowast;</sup></label>
                        <div class="col-sm-8">
                            {$INPUT_CITY}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="INPUT_COUNTRY" class="col-sm-4 control-label"><b>Land</b></label>
                        <div class="col-sm-8">
                            {$INPUT_COUNTRY}
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel-footer" align="right"><input type="submit" class="btn btn-primary" value="{#send#}"></div>
            {$FORM_END}

            {else}

            <div class="panel-body">
                {#text_success#}
            </div>
            <div class="panel-footer" align="right">{$BUTTON_CONTINUE}</div>

            {/if}
        </div>
     </div>
</div>

