
<div style=" text-align:right">{$BUTTON_PRINT_PDF}&nbsp;&nbsp;&nbsp;{$BUTTON_PRINT}</div>

<div class="widget" id="content">
  <div class="content-head"><h4 class="widgettitle">{$CONTENT_HEADING}</h4></div>
  <div class="widget-content">
    {if $file}
			{$file}
		{else}
			{$CONTENT_BODY}
		{/if}
  </div>
  <div class="widget-foot"></div>
</div>
