{config_load file="$language/lang_$language.conf" section="contact_us"}
{config_load file="$language/lang_$language.conf" section="buttons"}


{if $error_message!=''}
<div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    {$error_message}
</div>
{/if}

<div class="page-header">
    <h2>{$CONTACT_HEADING}</h2>
</div>

{if $CONTACT_CONTENT}
<div class="well">
	{$CONTACT_CONTENT}
</div>
{/if}

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">

            {if $success!='1'}
            {$FORM_ACTION}
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_email#}</label>
                        <div class="col-sm-10">
                            {$INPUT_EMAIL}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">{#text_message#}</label>
                        <div class="col-sm-10">
                            {$INPUT_TEXT}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputLastName" class="col-sm-2 control-label">{#text_code#}</label>
                        <div class="col-sm-5">
                            {$VVIMG}
                        </div>
                        <div class="col-sm-5">
                            {$INPUT_CODE}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer" align="right"><input type="submit" class="btn btn-primary" value="{#send#}"></div>
            {$FORM_END}
            {else}
            <div class="panel-body">
                {#text_success#}
            </div>
            <div class="panel-footer" align="right">{$BUTTON_CONTINUE}</div>
            {/if}
        </div>
     </div>
</div>
