{config_load file="$language/lang_$language.conf" section="coupon"}

{if $ERROR!=''}
<div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    {$ERROR}
</div>
{/if}

<div class="card">
    <div class="card-header"><h4 class="panel-title"><strong>{#heading_coupon#}</strong></h4></div>
    {if $TYPE == 'redeem'}
    {$FORM_ACTION}
    <div class="card-body">{#coupon_info#}{$INPUT_FIELD}</div>
    <div class="card-footer" style="text-align: right;">{$SUBMIT_BUTTON}</div>
    {$FORM_END}
    {elseif $TYPE == 'info'}
    <div class="card-body">{#coupon_info2#}<br />
        <h4>{$COUPON_NAME}</h4><br />{#coupon_info3#}</div>
    <div class="card-footer" style="text-align: right;">{$DELETE_BUTTON}</div>
    {/if}
</div>

