{config_load file="$language/lang_$language.conf" section="create_account"}
<script type="text/javascript" src="{$tpl_path}javascript/jquery/password_strength_plugin.js"></script>


<div class="page-header">
    <h2>{#heading_create_account#}</h2>
</div>

{if $error!=''}
<div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    {$error}
</div>
{/if}

{$FORM_ACTION}


{if $company=='1'}
<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-header">{#title_company#}</div>
            <div class="card-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label">{#text_company#}</label>
                        {$INPUT_COMPANY}
                    </div>
                    {if $vat=='1'}
                    <div class="form-group">
                        <label class="control-label">{#text_ustid#}</label>
                        {$INPUT_VAT}
                    </div>
                    {/if}
                </div>
            </div>
        </div>
    </div>
</div>

<br/>
{/if}
<div class="row">
    <div class="col-lg-6">

        <div class="card">
            <div class="card-header">{#title_personal#}</div>
            <div class="card-body">
                <div class="form-horizontal">
                    {if $gender=='1'}
                    <div class="form-group">
                        <label for="inputFirstName" class="control-label">{#text_gender#}</label>
                        {$INPUT_MALE} {$INPUT_FEMALE}
                    </div>
                    {/if}
                    {if $nick=='1'}
                    <div class="form-group">
                        <label for="inputFirstName" class="control-label">{#text_nick#}</label>
                        {$INPUT_NICK}
                    </div>
                    {/if}
                    <div class="form-group">
                        <label for="inputFirstName" class="control-label">{#text_firstname#}</label>
                        <input type="text" name="firstname" class="form-control" id="inputFirstName">
                    </div>
                    <div class="form-group">
                        <label for="inputLastName" class="control-label">{#text_lastname#}</label>
                        <input type="text" name="lastname" class="form-control" id="inputLastName">
                    </div>
                    {if $birthdate=='1'}
                    <div class="form-group">
                        <label for="inputLastName" class="control-label">{#text_birthdate#}</label>
                        {$INPUT_DOB}
                    </div>
                    {/if}
                    <div class="form-group">
                        <label for="inputLastName" class="control-label">{#text_email#}</label>
                        {$INPUT_EMAIL}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">

        <div class="card">
            <div class="card-header">{#title_address#}</div>
            <div class="card-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail" class="control-label">{#text_street#}</label>
                        {$INPUT_STREET}
                    </div>
                    {if $suburb=='1'}
                    <div class="form-group">
                        <label for="inputPassword" class="control-label">{#text_suburb#}</label>
                        {$INPUT_SUBURB}
                    </div>
                    {/if}
                    <div class="form-group">
                        <label for="inputEmail" class="control-label">{#text_code#}</label>
                        {$INPUT_CODE}
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="control-label">{#text_city#}</label>
                        {$INPUT_CITY}
                    </div>
                    {if $state=='1'}
                    <div class="form-group">
                        <label for="inputPassword" class="control-label">{#text_state#}</label>
                        {$INPUT_STATE}
                    </div>
                    {/if}
                    <div class="form-group">
                        <label for="inputEmail" class="control-label">{#text_country#}</label>
                        {$SELECT_COUNTRY}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br/>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">{#title_contact#}</div>
            <div class="card-body">

                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail" class="control-label">{#text_tel#}</label>
                        <div class="col-sm-10">
                            {$INPUT_TEL}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="control-label">{#text_fax#}</label>
                        <div class="col-sm-10">
                            {$INPUT_FAX}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <div class="card">
            <div class="card-header">{#title_newsletter#}</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="inputEmail">{#text_newsletter#}</label>
                    {$CHECKBOX_NEWSLETTER}
                </div>
            </div>
        </div>

        <br/>
        <div class="card">
            <div class="card-header">{#title_refcode#}</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="inputEmail" class="control-label">{#text_refcode#}</label>
                    <div class="col-sm-10">
                        {$INPUT_REF_CODE}
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <div class="card">
            <div class="card-header">{#title_password#}</div>
            <div class="card-body">

                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail" class="control-label">{#text_password#}</label>
                        <div class="col-sm-10">
                            {$INPUT_PASSWORD}
                            <div id="messages"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword" class="control-label">{#text_confirmation#}</label>
                        <div class="col-sm-10">
                            {$INPUT_CONFIRMATION}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <small>{$ENTRY_PASSWORD_SECURITY_LEVEL}</small>
            </div>
        </div>

        <br/>
        <div class="card">
            <div class="card-header">{#text_ready#}</div>
            <div class="card-footer">{$BUTTON_SUBMIT}</div>
        </div>


        {#text_must#}
    </div>
</div>
{$FORM_END}





