{config_load file="$language/lang_$language.conf" section="create_account"}

{if $error!=''}
<div class="widget" id="error">
  <div class="widget-head"></div>  
  <div class="widget-content">
  {$error}
  </div>
  <div class="widget-foot"></div>
</div>
{/if}


<div class="widget">
  <div class="widget-head"></div>  
  <div class="widget-content">
  	<h2 class="widgettitle">{#heading_create_account#}</h2>
    {$FORM_ACTION}
      <table >
      <tr>
        <th colspan="2">{#title_personal#}</th>
      </tr>	
      
        {if $gender=='1'}
          <tr>
            <td>{#text_gender#}</td>
            <td>{$INPUT_MALE} {$INPUT_FEMALE}</td>				
          </tr>	
        {/if}
        
        {if $nick=='1'}
          <tr>
            <td>{#text_nick#}</td>
            <td>{$INPUT_NICK}</td>				
          </tr>	
        {/if}	
        
        <tr>
          <td>{#text_firstname#}</td>
          <td>{$INPUT_FIRSTNAME}</td>				
        </tr>	
        
        <tr>
          <td>{#text_lastname#}</td>
          <td>{$INPUT_LASTNAME}</td>				
        </tr>	  	
          
        {if $birthdate=='1'}
          <tr>
            <td>{#text_birthdate#}</td>
            <td>{$INPUT_DOB}</td>				
          </tr>	   	
        {/if}
        
        <tr>
          <td>{#text_email#}</td>
          <td>{$INPUT_EMAIL}</td>				
        </tr>  	
          
        {if $company=='1'}
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>    	
          
          <tr>
            <th colspan="2">{#title_company#}</th>
          </tr>
          
          <tr>
            <td>{#text_company#}</td>
            <td>{$INPUT_COMPANY}</td>				
          </tr>   	
          
          {if $vat=='1'}
            <tr>
              <td>{#text_ustid#}</td>
              <td>{$INPUT_VAT}</td>				
            </tr>    	
          {/if}
          
        {/if}
          
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr> 
            
        <tr>
          <th colspan="2">{#title_address#}</th>
        </tr>
        
        <tr>
            <td>{#text_street#}</td>
            <td>{$INPUT_STREET}</td>				
        </tr>  	
        
        {if $suburb=='1'}
          <tr>
            <td>{#text_suburb#}</td>
            <td>{$INPUT_SUBURB}</td>				
          </tr>  	
        {/if}
          
        <tr>
          <td>{#text_code#}</td>
          <td>{$INPUT_CODE}</td>				
        </tr>   
          
        <tr>
          <td>{#text_city#}</td>
          <td>{$INPUT_CITY}</td>				
        </tr>     	
            
        {if $state=='1'}
          <tr>
            <td>{#text_state#}</td>
            <td>{$INPUT_STATE}</td>				
          </tr>     	
        {/if}
          
        <tr>
          <td>{#text_country#}</td>
          <td>{$SELECT_COUNTRY}</td>				
        </tr>    	
          
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>    	
        
        <tr>
          <th colspan="2">{#title_contact#}</th>
        </tr>
        
        <tr>
          <td>{#text_tel#}</td>
          <td>{$INPUT_TEL}</td>				
        </tr>   	
        
        <tr>
          <td>{#text_fax#}</td>
          <td>{$INPUT_FAX}</td>				
        </tr>     	
        
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
      
        <tr>
          <th colspan="2">{#title_newsletter#}</th>
        </tr>
        
        <tr>
          <td>{#text_newsletter#}</td>
          <td>{$CHECKBOX_NEWSLETTER}</td>				
        </tr>   	
        
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
        
        <tr>
          <th colspan="2">{#title_refcode#}</th>
        </tr>
        
        <tr>
          <td>{#text_refcode#}</td>
          <td>{$INPUT_REF_CODE}</td>				
        </tr>   	
        
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>  
      
        <tr>
          <th colspan="2">{#title_password#}</th>
        </tr>
        
        <tr>
          <td>{#text_password#}</td>
          <td>{$INPUT_PASSWORD}</td>				
        </tr> 	
        
        <tr>
          <td>{#text_confirmation#}</td>
          <td>{$INPUT_CONFIRMATION}</td>				
        </tr> 	
        
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr> 
          
      </table>
			
      <br />
    	{#text_ready#}
      <span class="rechts">{$BUTTON_SUBMIT}</span>
      <p class="Arial_grey_10">{#text_must#}</p> 
      {$FORM_END}
  </div>
  <div class="widget-foot"></div>
</div>