{config_load file="$language/lang_$language.conf" section="create_account"}

{if $error!=''}
<div class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  {$error}
</div>
{/if}

<div class="page-header">
	<h2>{#heading_create_account#}</h2>
</div>

{$FORM_ACTION}
<div class="row">
  <div class="col-lg-12">

    <div class="panel panel-default">
      <div class="panel-heading">{#title_personal#}</div>
      <div class="panel-body">
        <div class="form-horizontal">
          {if $gender=='1'}
          <div class="form-group">
            <label class="col-sm-2 control-label">{#text_gender#}</label>
            <div class="col-sm-10">
              {$INPUT_MALE} {$INPUT_FEMALE}
            </div>
          </div>
          {/if}
          {if $nick=='1'}
          <div class="form-group">
            <label class="col-sm-2 control-label">{#text_nick#}</label>
            <div class="col-sm-10">
              {$INPUT_NICK}
            </div>
          </div>
          {/if}
          <div class="form-group">
            <label for="inputFirstName" class="col-sm-2 control-label">{#text_firstname#}</label>
            <div class="col-sm-10">
              <input type="text" name="firstname" class="form-control" id="inputFirstName">
            </div>
          </div>
          <div class="form-group">
            <label for="inputLastName" class="col-sm-2 control-label">{#text_lastname#}</label>
            <div class="col-sm-10">
              <input type="text" name="lastname" class="form-control" id="inputLastName">
            </div>
          </div>
          {if $birthdate=='1'}
          <div class="form-group">
            <label class="col-sm-2 control-label">{#text_birthdate#}</label>
            <div class="col-sm-10">
              {$INPUT_DOB}
            </div>
          </div>
          {/if}
          <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">{#text_email#}</label>
            <div class="col-sm-10">
              {$INPUT_EMAIL}
            </div>
          </div>
        </div>
      </div>
    </div>

    {if $company=='1'}
    <div class="panel panel-default">
      <div class="panel-heading">{#title_company#}</div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">{#text_company#}</label>
            <div class="col-sm-10">
              {$INPUT_COMPANY}
            </div>
          </div>
          {if $vat=='1'}
          <div class="form-group">
            <label class="col-sm-2 control-label">{#text_ustid#}</label>
            <div class="col-sm-10">
              {$INPUT_VAT}
            </div>
          </div>
          {/if}
        </div>
      </div>
    </div>
    {/if}

    <div class="panel panel-default">
      <div class="panel-heading">{#title_address#}</div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">{#text_street#}</label>
            <div class="col-sm-10">
              {$INPUT_STREET}
            </div>
          </div>
          {if $suburb=='1'}
          <div class="form-group">
            <label class="col-sm-2 control-label">{#text_suburb#}</label>
            <div class="col-sm-10">
              {$INPUT_SUBURB}
            </div>
          </div>
          {/if}
          <div class="form-group">
            <label class="col-sm-2 control-label">{#text_code#}</label>
            <div class="col-sm-10">
              {$INPUT_CODE}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{#text_city#}</label>
            <div class="col-sm-10">
              {$INPUT_CITY}
            </div>
          </div>
          {if $state=='1'}
          <div class="form-group">
            <label class="col-sm-2 control-label">{#text_state#}</label>
            <div class="col-sm-10">
              {$INPUT_STATE}
            </div>
          </div>
          {/if}
          <div class="form-group">
            <label class="col-sm-2 control-label">{#text_country#}</label>
            <div class="col-sm-10">
              {$SELECT_COUNTRY}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">{#title_contact#}</div>
      <div class="panel-body">

        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">{#text_tel#}</label>
            <div class="col-sm-10">
              {$INPUT_TEL}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{#text_fax#}</label>
            <div class="col-sm-10">
              {$INPUT_FAX}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">{#title_newsletter#}</div>
      <div class="panel-body">
        <div class="form-group">
          <label >{#text_newsletter#}</label>
          {$CHECKBOX_NEWSLETTER}
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">{#title_refcode#}</div>
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-2 control-label">{#text_refcode#}</label>
          <div class="col-sm-10">
            {$INPUT_REF_CODE}
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">{#text_ready#}</div>
      <div class="panel-footer">{$BUTTON_SUBMIT}</div>
    </div>


    {#text_must#}
  </div>
</div>
{$FORM_END}
