{config_load file="$language/lang_$language.conf" section="categorie_listing"}

<div class="page-header">
	<div class="row">
		<div class="col">
			<h1>{$CATEGORIES_NAME}</h1>
			<h4>{$CATEGORIES_HEADING_TITLE}</h4>
		</div>
		{if $CATEGORIES_IMAGE}<div class="col-3 col-md-2 col-lg-1"><img class="img-fluid" src="{$CATEGORIES_IMAGE}" alt="{$CATEGORIES_NAME}" /></div>{/if}
	</div>
</div>
<div class="clearfix"></div>

{if $CATEGORIES_DESCRIPTION}
<p class="mb-3">{$CATEGORIES_DESCRIPTION}</p>
{/if}
