{if $smarty.post.dealer_search}
<pre>
{$smarty.post.dealer_search|@print_r}
</pre>
{/if}

<div class="box content dealer_search">
	<div class="row dealer_search_header">
		<div class="col col-md-2">
			<img class="dealer_map" alt="Haendler-Karte" src="{$dl_assets}img/dealer_map.jpg" />
		</div>
		<div class="col col-md-1 icon-location"></div>
		<div class="col col-md-9">
			<h3 class="heading">Finden Sie den n&auml;chsten<br/>Calipage H&auml;ndler in Ihrer Umgebung</h3>
			<span class="description">Kurzer Einleitungstext zu den H&auml;ndlern und dieser Suche.</span>
		</div>
	</div>
	
	<br/><br/>
	
	<div class="dealer_search_filter">
		<form method="post" name="dealer_search">
			<input type="hidden" name="dealer_search[action]" value="filter_list"/>
			<input type="hidden" name="dealer_search[sort_direction]" value="{$smarty.post.dealer_search.sort_direction|default:'desc'}"/>
			<input type="hidden" name="dealer_search[entries_per_page]" value="{$smarty.post.dealer_search.entries_per_page|default:'40'}"/>
			<h5 class="heading">Filtern nach:</h5>
			<div class="row">
				<div class="col col-md-2">Region</div>
				<div class="col col-md-1">^</div>
				<div class="col col-md-4"><input type="text" name="dealer_search[company]" placeholder="Nach Name" value="{$smarty.post.dealer_search.company}"/></div>
				<div class="col col-md-5 payment_methods">
					<div class="row">
						<div class="col col-md-6">
							<div><input type="checkbox" name="dealer_search[payment_methods][paypal]" {if $smarty.post.dealer_search.payment_methods.paypal} checked="checked"{/if}> Paypal</div>
							<div><input type="checkbox" name="dealer_search[payment_methods][sofortueberweisung]" {if $smarty.post.dealer_search.payment_methods.sofortueberweisung} checked="checked"{/if}> Sofort&uuml;berweisung</div>
							<div><input type="checkbox" name="dealer_search[payment_methods][vorkasse]" {if $smarty.post.dealer_search.payment_methods.vorkasse} checked="checked"{/if}> Vorkasse</div>
						</div>
						<div class="col col-md-6"">
							<div><input type="checkbox" name="dealer_search[payment_methods][eustandardtransfer]" {if $smarty.post.dealer_search.payment_methods.eustandardtransfer} checked="checked"{/if}> Lastschrift</div>
							<div><input type="checkbox" name="dealer_search[payment_methods][rechnung]" {if $smarty.post.dealer_search.payment_methods.rechnung} checked="checked"{/if}> Rechnung</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-md-2"><input type="submit" class="btn btn-pink" value="Anzeigen" /></div>
				<div class="col col-md-10">
					Sortieren
					<select name="dealer_search[sort_by]">
						<option value="hersteller">Hersteller</option>
					</select>
					<span>
						<a class="sort_direction asc set_formdata" class="inactive" href="#" data-input="dealer_search[sort_direction]" data-value="asc">asc</a>
						<a class="sort_direction desc set_formdata" class="active" href="#" data-input="dealer_search[sort_direction]" data-value="desc">desc</a>
					</span>
					<span>
						<a class="entries_per_page set_formdata" class="active" href="#" data-input="dealer_search[entries_per_page]" data-value="20">20</a>
						<a class="entries_per_page set_formdata" class="inactive" href="#" data-input="dealer_search[entries_per_page]" data-value="50">50</a>
						<a class="entries_per_page set_formdata" class="inactive" href="#" data-input="dealer_search[entries_per_page]" data-value="100">100</a>
						<a class="entries_per_page set_formdata" class="inactive" href="#" data-input="dealer_search[entries_per_page]" data-value="0">Alle</a>
					</span>					
				</div>
			</div>
		</form>
	</div>
	
	<br/><br/>
	
	<div class="dealer_search_list">
  	
		{foreach name=aussen item=dealer from=$dealers}
		<div class="item">
			<div class="row label">
				<div class="col col-md-11">{$dealer.company}</div>
				<div class="col col-md-1"><a href="#" class="btn btn-green">w&auml;hlen</a></div>
			</div>
			<div class="row details">
				<div class="col col-md-1 icon-location"></div>
				<div class="col col-md-3">
					<div class="city">{$dealer.zipcode} {$dealer.city}</div>
					<div class="street">{$dealer.street}</div>
				</div>
				<div class="col col-md-3">
					<div class="phone">{$dealer.phone}</div>
					<div class="opening_times">Mo-Fr, 09:00 - 16:00 Uhr</div>
				</div>
				<div class="col col-md-2 mail">info@calingo-office.de</div>
				<div class="col col-md-1 payment_methods">
					<div class="state_active">Vorkasse</div>
					<div class="state_active">Lastschrift</div>
					<div class="state_inactive">Rechnung</div>
				</div>
				<div class="col col-md-1 paypal">
					<img src="{$dl_assets}img/paypal_active.jpg" alt="Paypal" />
				</div>
				<div class="col col-md-1 sofortueberweisung">
					<img src="{$dl_assets}img/sofortueberweisung_active.jpg" alt="Sofortueberweisung" />
				</div>
			</div>
		</div>
		{/foreach}
	</div>
</div>