{config_load file="$language/lang_$language.conf" section="error_handler"}
{config_load file="$language/lang_$language.conf" section="boxes"}

<div class="page-header">
	<h2>{$LEVENSHTEIN_SEARCH_RESULT_TEXT}</h2>
</div>

<p>{#text_search_again#}</p>
<br/>
{$FORM_ACTION}
<div class="row">
  <div class="col-md-3">
    <div class="input-group">
      {$INPUT_SEARCH}
      <div class="input-group-btn">
      {$BUTTON_SUBMIT}
      </div>
    </div>
  </div>
  <div class="col-md-9" style="padding-top: 5px;">
    <a href="{$LINK_ADVANCED}"> {#text_advanced_search#}</a><br />
  </div>
</div>
{$FORM_END}
<br/>
<div class="clearfix"></div>
{if $LEVENSHTEIN}
<div class="well">
    {#you_mine#}
    <ul>
      {foreach name=aussen item=levItem from=$LEVENSHTEIN}
      <li><a href="{$levItem.url}" >{$levItem.value}</a></li>
      {/foreach}
    </ul>
</div>
{/if}
