{config_load file="$language/lang_$language.conf" section="graduated_price"}


<span class="graduated-details">
    <a href="javascript:void('');"  id="popover-graduated-price" class="">{#heading_text#} <span class="glyphicon glyphicon-signal"></span> </a>

    <div id="popover-graduated-price-title">{#heading_text#}</div>
    <div id="popover-graduated-price-content">
        <div class="popover-graduated-price">
            {foreach name=aussen item=module_data from=$module_content}
            {$module_data.QUANTITY} {#pieces#} {$module_data.PRICE}
            {if $module_data.VPE}
            {if $PRODUCT.products_vpe_value >= 2}
            {$module_data.VPE}
            {/if}
            {/if}
            <br/>
            {/foreach}
        </div>
    </div>
</span>