{config_load file="$language/lang_$language.conf" section="login"}

{if $info_message!=''}
<div class="widget" id="info_message">
    <div class="content-head_special"><h2 class="widgettitle"><strong>{#info_message#}</strong></h2></div>
    <div class="widget-content">
        {$info_message}
    </div>
</div>
{/if}

<h1>{#heading_login#}</h1>

    {if $account_option=='account' or $account_option=='both'}
    <div class="row">
        <div class="col-lg-6">
            {$FORM_ACTION}
            <div class="card">
                <div class="card-header"><strong>{#title_returning#}</strong></div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputEmail">{#text_email#}</label>
                        <input type="email" name="email_address" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">{#text_password#}</label>
                        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <div class="card-footer"><a class="box_login_content" href="{$LINK_LOST_PASSWORD}">{#text_lost_password#}</a></div>
            </div>
            {$FORM_END}
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-header"><strong>{#title_new#}</strong></div>
                <div class="card-body">
                    <a href="{$link_CreateAccount}" class="btn btn-primary btn-sm">{#create_account#}</a>
                </div>
                <div class="card-footer">&nbsp;</div>
            </div>
        </div>
    </div>
    {/if}


    {if $account_option=='both' or $account_option=='guest'}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header"><strong>{#title_guest#}</strong></div>
                <div class="card-body">
                    <a href="{$link_CreateGuestAccount}" class="btn btn-primary btn-sm">{#title_guest#}</a></li>
                </div>
            </div>
        </div>
    </div>
    {/if}


