{config_load file="$language/lang_$language.conf" section="logoff"} 

<div class="widget">
	<div class="content-head"><h2 class="widgettitle"><strong>{#heading_logoff#}</strong></h2></div>
	<div class="widget-content">
		<br />
		{#text_logoff#}
		<br /><br />
		<hr size="1" noshade="noshade" color="#bbbbbb">
		<br />
		<span class="rechts">{$BUTTON_CONTINUE}</span>
		<br />
	</div>    
	</div>
</div>