{config_load file="$language/lang_$language.conf" section="index"}

{$MODULE_error}

{if $CONTENT_DATA}
{foreach name=aussen item=data from=$CONTENT_DATA}
<div class="card">
  <div class="card-body">
    {$data.content}
  </div>
</div>
{/foreach}
{/if}

{$MODULE_new_products}

{$MODULE_upcoming_products}
