{config_load file="$language/lang_$language.conf" section="new_products"}
{assign var="assetsTpl" value="`$tpl_path_abs`assets/tpl/"}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title"><strong>{#heading_text#}</strong></h4>
    </div>
    <div class="panel-body">
		{foreach name=aussen item=module_data from=$module_content}
		{php}$col++;{/php}
		<a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME}</a><br />
		{if $module_data.PRODUCTS_IMAGE}
			<a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME}" /></a><br />
        {/if}
		<span class="price">{$module_data.PRODUCTS_PRICE}</span><br />
		<span class="tax-details">{$module_data.PRODUCTS_TAX_INFO}</span><br />
		<span class="tax-details">{$module_data.PRODUCTS_SHIPPING_LINK}</span>
		{php} 
			if ($col>=2) {
				$col=0;
				echo '';
			}
		{/php}
		{/foreach}
    </div>
    <div class="panel-footer" style="text-align: right;">{$BUTTON_CONTINUE}</div>
</div>
