<div class="box">
  <div class="box_header">
    {$titel}
    <span class="rechts">
    	<a href="javascript:ajax_popup_close();">
    		<img src="/images/images/close.jpg" alt="close" >
			</a>
    </span>
  </div>  
  <div class="box_content_norm">
    {$newsletter_body}
  </div>
</div>