{config_load file="$language/lang_$language.conf" section="newsletter"}

<div class="card border-primary mb-3">
    <div class="card-header">
        <h4><strong></strong></h4>
    </div>
    <div class="card-body">
		{$info_message}
    </div>
</div>

<div class="card border-primary">
    <div class="card-header">
        <h4><strong>{#heading_title#}-Anmeldung</strong></h4>
    </div>
    <div class="card-body">
        {$FORM_ACTION} 
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table" style="margin-bottom:10px;">
		<tr>
			<td valign="top" style="padding-top:8px; width:300px;"><strong>{#text_sec_code#}</strong><br />
			{$VVIMG}</td>
			<td valign="top"><br /><br />
			{$INPUT_CODE}</td>		
		</tr>	        
		<tr>
			<td valign="top" style="padding-top:8px; width:300px;">{#text_email#}</td>
			<td valign="top">{$INPUT_EMAIL}</td>		
		</tr>	        
		<tr>
			<td valign="top">&nbsp;</td>
			<td valign="top" style="padding-top:8px;" class="kein_umbruch">{#text_in#} <input type="radio" name="check" value="inp" checked> &nbsp; {#text_out#} {$CHECK_DEL}</td>
		</tr>	        
		<tr>
			<td valign="top" style="padding-top:8px; width:300px;">Ich m&ouml;chte regelm&auml;&szlig;ig per E-Mail &uuml;ber interessante Angebote informiert werden.</td>
			<td valign="top">{$BUTTON_SEND}</td>
		</tr>
		</table>
		{$FORM_END}
    </div>
</div>