{config_load file="$language/lang_$language.conf" section="shopping_cart"}

<div class="page-header mt-3">
    <h2>{#heading_cart#}</h2>
</div>

{foreach name=aussen item=module_data from=$module_content}
<form id="shopping-cart-update" method="post">
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>{#text_article#}</th>
                <th>{#text_model#}</th>
                <th>{#text_single#}</th>
                <th>{#text_qty#}</th>
                <th>{#text_total#}</th>
                <th>&nbsp;</th>
            </tr>
            {foreach key=key_data item=item_data from=$module_data.SDATA}
            <input type="hidden" name="{$item_data.CART_ID_VALUE}.pID" value="{$item_data.PRODUCTS_ID_VALUE}">
            <tr>
                <td style="width:10%;">
                    <a href="{$item_data.PRODUCTS_LINK}" title="{$item_data.PRODUCTS_MODEL}">
                        <div class="">
                            <img src="{$item_data.PRODUCTS_IMAGE}" alt="{$item_data.PRODUCTS_MODEL}" class="img-responsive" />
                        </div>
                    </a>
                </td>
                <td><img src="{$item_data.PRODUCTS_STOCKAMP}" /></td>
                <td>
                    <a href="{$item_data.PRODUCTS_LINK}">{$item_data.PRODUCTS_NAME}</a>
                    <br /><small>{#text_desc#}</small>
                    <input class="form-control" type="text" name="{$item_data.CART_ID_VALUE}.info" value="{$item_data.PRODUCTS_INFO_VALUE}">
                </td>
                <td align="center">{$item_data.PRODUCTS_MODEL}</td>
                <!--
                            <td>
                            {if $item_data.ATTRIB}
                              {foreach key=a_data item=attrib_data from=$item_data.ATTRIB}
                                  {$attrib_data.ATTRIB_NAME}<br />
                              {/foreach}
                            {/if}
                            {if $item_data.PRODUCTS_SHIPPING_TIME neq ""}
                                 <span class="small_text">{#text_shipping_time#}: {$item_data.PRODUCTS_SHIPPING_TIME}</span>
                            {/if}
                            </td>
                -->

                <td align="right">{$item_data.PRODUCTS_SINGLE_PRICE}</td>
                <td>
                    <div class="input-group spinner" data-trigger="spinner" style="width: 100px;">
                        <input name="{$item_data.CART_ID_VALUE}.qty"  type="text" class="form-control" value="{$item_data.PRODUCTS_QTY_VALUE}" data-rule="quantity" id="Qty" data-pID="{$item_data.PRODUCTS_ID_VALUE}" data-CartId="{$item_data.CART_ID_VALUE}">
                        <div class="input-group-addon">
                            <a href="javascript:;" class="spin-up" data-spin="up"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a href="javascript:;" class="spin-down" data-spin="down"><i class="glyphicon glyphicon-chevron-down"></i></a>
                        </div>
                    </div>
                </td>
                <td align="right">{$item_data.PRODUCTS_PRICE}</td>
                <td class="shopping-cart-rm-item"><a href="#" class="btn btn-danger btn-xs link-delete-basket" data-CartId="{$item_data.CART_ID_VALUE}" ><i class="fas fa-times"></i> </a></td>
            </tr>
            {/foreach}
        </table>
    </div>

    <div  class="card mb-3">
        <div class="card-body">
            <div class="pull-right"><button class="btn btn-default link-update-shopping-cart">Aktualisieren</button> </div>
            <p>{#cart_info#}</p>
        </div>
    </div>

</form>

<div class="row" align="right"><div class="col-sm-12"><span class="taxInfo">{$module_data.SUST}</span></div></div>
{if $module_data.SCOUPON}
<div class="row" align="right"><div class="col-sm-12"><span class="taxInfo">{$module_data.SCOUPON}</span></div></div>
{/if}
<div class="row" align="right"><div class="col-sm-12"><span class="price">{$module_data.STOTAL}</span></div></div>
{if $module_data.SSHIPPING}
<div class="row" align="right"><div class="col-sm-12"><span class="shippingLink">{$module_data.SSHIPPING}</span></div></div>
{/if}



<div  class="card mt-3">
    <div class="card-body text-right">
        <div id="amazon_checkout_button"></div>
        {$module_data.SCHECKOUT}
    </div>
</div>




{if $module_data.INFO_MESSAGE}
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="error">
    <tr>
        <td  align="center">{$module_data.INFO_MESSAGE}</td>
    </tr>
</table>
<br />
{/if}

{if $module_data.INFO_MESSAGE_MAX}
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="error">
    <tr>
        <td align="center">{$module_data.INFO_MESSAGE_MIN}</td>
    </tr>
</table>
<br />
{/if}

{if $module_data.INFO_MESSAGE_MIN}
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="error">
    <tr>
        <td align="center">{$module_data.INFO_MESSAGE_MIN}</td>
    </tr>
</table>
<br />
{/if}

{/foreach}
