{config_load file="$language/lang_$language.conf" section="new_password"} 

{if $info_message!=''}
<div class="panel panel-primary">
    <div class="panel-body">
		{#info_message#}
    </div>
</div>
{/if}

{$FORM_ACTION}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title"><strong>{$text_heading}</strong></h4>
    </div>
    <div class="panel-body">
        <table class="table" width="100%" border="0" cellspacing="0" cellpadding="0" class="password">
          <tr>
            <td class="password_content" colspan="2" align="left">{$message}</td>
          </tr>

          <tr>
            <td class="password_content" colspan="2" align="left">&nbsp;</td>
          </tr>	

          <tr>
            <td class="password_content" colspan="2" align="left"><strong>{#text_step1#}</strong>: {#text_info_pre#} {$SHOP_NAME} {#text_info_post#}</td>
          </tr>	

          <tr>
              <td class="create_account_content" align="left">{#text_sec_code#}</td>
              <td class="create_account_content" align="left">{$VVIMG}</td>				
            </tr>		

          <tr>
              <td class="create_account_content" align="left">{#text_sec_code#}</td>
              <td class="create_account_content" align="left">{$INPUT_CODE}</td>				
            </tr>	

          <tr>
              <td class="create_account_content" align="left">{#text_email#}</td>
              <td class="create_account_content" align="left">{$INPUT_EMAIL}</td>				
            </tr>  	

          <tr>
            <td class="password_content" colspan="2" align="left">{#text_continue#}</td>
          </tr>  	
        </table>
    </div>
    <div class="panel-footer" style="text-align: right;"><input type="submit" class="btn btn-primary" value="{#text_to_step2#}"></div>
</div>
{$FORM_END}
