{config_load file="$language/lang_$language.conf" section="password_forgotten"} 

<div class="box">
  <div class="box_header">
    {$text_heading}
  </div>  
  <div class="box_content_norm">
    {$info_message}
  </div>
</div>