<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"  type="text/javascript"></script>
<script src="https://www.paypalobjects.com/webstatic/ppplus/ppplus.min.js" type="text/javascript"></script>
<script type="text/javascript">
{literal}

{/literal}
</script>
<div id="ppplus"></div>
{$hidden_payment_method}
{literal} 
<script type="application/javascript">


	var buttonSelector = '#checkout_button_paypal';
	var commentSelector = '';

	function enablePPPContinue()
	{
		jQuery("input[name=payment]").prop('checked',false);
		jQuery(commentSelector).hide();
	}

	function disablePPPContinue()
	{
		jQuery(commentSelector).show()
	}
	
	function resizeDiv() {		
		console.log('onload');
	}

	jQuery(document).ready(function(){

		try {
			//buttonSelector = '{/literal}checkout_button_paypal{literal}';
			if (buttonSelector=='')
			{
				console.log('PPP_BUTTON_NEXT_SELECTOR not configured');
				throw new Error('PPP_BUTTON_NEXT_SELECTOR not configured');
			}
			if (jQuery(buttonSelector).length==0)
			{
				console.log('No matching element found for PPP_BUTTON_NEXT_SELECTOR ['+buttonSelector+']');
				throw new Error('No matching element found for PPP_BUTTON_NEXT_SELECTOR ['+buttonSelector+']');
			}
			if (jQuery(buttonSelector).length>1)
			{
				console.log('Multiple elements found for PPP_BUTTON_NEXT_SELECTOR ['+buttonSelector+'].');
				throw new Error('Multiple elements found for PPP_BUTTON_NEXT_SELECTOR ['+buttonSelector+'].');
			}

			jQuery(buttonSelector).click(
					function(e)
					{
						if (jQuery("input[name=payment]:checked").length==0)
						{
							ppp.doContinue();
							return false;
						}
					}
			);



	var ppp = PAYPAL.apps.PPP({
        "approvalUrl": "{/literal}{$approval_url}{literal}",
        "placeholder": "ppplus",{/literal}
        {if $smarty.const.MODULE_PAYMENT_PAYPAL_PLUS_SANDBOX_INVOICE_STATUS eq 'True' and $smarty.const.XT_PAYPAL_PLUS_MODE eq 'sandbox'}
        {literal}"showPuiOnSandbox": "true",{/literal}
        {/if}{literal}
        "language":"{/literal}{if $language eq 'german'}de_DE{else}en_EN{/if}{literal}",
        "country":"{/literal}{$payment_country}{literal}",
        "mode": '{/literal}{$smarty.const.XT_PAYPAL_PLUS_MODE}{literal}',
		"buttonLocation": "outside",
		"disableContinue": function(){ disablePPPContinue(); },
		"enableContinue": function(){ enablePPPContinue(); },
		"onLoad": function() {resizeDiv();}
	});
}
catch (e)
{
	if ('{/literal}{$ppp_mode}{literal}'=='sandbox')
	{
		alert('Error: ' + e.message);
	}
}
						

$('.paymentSelections').click(function () {
	  $('#paymentMethodContainer').find('input[type="radio"]').prop("checked", "");
	  $(this).find('input[type="radio"]').prop("checked", "checked");
	  ppp.deselectPaymentMethod();
});

});
	
	
</script>
{/literal} 