{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="$language/lang_$language.conf" section="product_listing"}
{config_load file="$language/lang_$language.conf" section="product_info"}


{if $module_content}
	<p>
   {foreach name=feature_groups item=feature_groups from=$module_content}
			<ul>
				{if $feature_groups.feature_group_id == "1"}
      	<!--{$feature_groups.group_name}-->
      	{foreach name=feature item=feature from=$feature_groups.features}
         	<li><b>{$feature.feature_name}:</b> {$feature.feature_value}</li>
       	{/foreach}
        {/if}
      </ul>
	{/foreach} 
	</p>
{/if}
