{config_load file="$language/lang_$language.conf" section="product_listing"}
{assign var="assetsTpl" value="`$tpl_path_abs`assets/tpl/"}


<div class="page-header">
    <h2>{#heading_bestseller_products#} '{$categories_name}'</h2>
</div>

{if count($module_content) gt 3}
{assign var="colmd" value=3}
{assign var="colsm" value=6}
{elseif count($module_content) gt 2}
{assign var="colmd" value=4}
{assign var="colsm" value=6}
{elseif count($module_content) gt 1}
{assign var="colmd" value=6}
{assign var="colsm" value=6}
{else}
{assign var="colmd" value=12}
{assign var="colsm" value=12}
{/if}

<div class="product slider bestseller-listing owl-slider-wrapper col-md-12">
	<ul id="products-bestseller-listing-slider" class="products-grid">
		{foreach name=aussen item=module_data from=$module_content}
		<li class="item col-md-{$colmd} col-sm-{$colsm} col-xs-12">
			<div class="item-inner">

				{include file="`$assetsTpl`product/colorBlock.tpl" colorValue=$products_data.PRODUCTS_FEATURES.1.features.1.feature_value}
				<div class="product-image col-md-12">
					<div class="product-image-thumbnail">
						<a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.PRODUCTS_NAME}">
							<div class="img-thumbnail">
								{if $module_data.PRODUCTS_IMAGE_INFO}
								<img src="{$module_data.PRODUCTS_IMAGE_INFO}" alt="{$module_data.PRODUCTS_NAME}" />
								{/if}
							</div>
						</a>
					</div>
					<div class="more-info"></div>

					<div class="reviews-wrap"></div>
				</div>
				{if $module_data.PRODUCTS_SPECIAL_OFFER_PRICE}<div class="labels specialoffer"></div>{/if}
				{if $module_data.PRODUCTS_BONUS_POINTS}<div class="labels extra-points"></div>{/if}
				{if $module_data.PRODUCTS_FREE_SHIPPING}<div class="labels free-shipping"></div>{/if}

				<div class="price-review col-md-12 col-sm-12 col-xs-12">
					<span class="tax-details">{#text_model#} {$module_data.PRODUCTS_MODEL}</span>
					<h4 class="product-name"><a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.PRODUCTS_NAME}">{$module_data.PRODUCTS_NAME}</a></h4>
					<div class="price-box">
						{if $module_data.PRODUCTS_OLD_PRICE > 0}
                                    <span class="old-price">
                                        <span class="price" id="old-price-236">{$module_data.PRODUCTS_OLD_PRICE}</span>
                                    </span>
						{if $module_data.PRODUCTS_SPECIAL_OFFER_PRICE > 0}
                                        <span class="special-price">
                                            <span class="price" itemprop="price" id="product-price-236">{$module_data.PRODUCTS_SPECIAL_OFFER_PRICE}</span>
                                        </span>
						{else}
                                        <span class="regular-price">
                                            <span class="price" itemprop="price">{$module_data.PRODUCTS_PRICE}</span>
                                        </span>
						{/if}
						{else}
                                    <span class="regular-price">
                                        <span class="price" itemprop="price">{$module_data.PRODUCTS_PRICE}</span>
                                    </span>
						{/if}
					</div>
                    <span class="availability in-stock">
                        {if $module_data.PRODUCTS_STOCK_VALUE == 3}
                        <span class="availabel-full">{#stock_description_full#}</span>
                        {elseif $module_data.PRODUCTS_STOCK_VALUE == 2}
                        <span class="availabel-short">{#stock_description_short#}</span>
                        {else}
                        <span class="availabel-empty">{#stock_description_empty#}</span>
                        {/if}
                    </span>
                    {if $module_data.PRODUCTS_PRICE_PER_PAGE != ''}<div class="price-per-page"><strong>{#product_price_per_page#} </strong> {$module_data.PRODUCTS_PRICE_PER_PAGE}</div>{/if}
					<span class="tax-details">({$module_data.PRODUCTS_TAX_INFO}) {if $module_data.PRODUCTS_SHIPPING_LINK}{$module_data.PRODUCTS_SHIPPING_LINK}{/if}</span>

					<div class="baseprice-grid">{$module_data.PRODUCTS_BASE_PRICE_FORMATED}</div>
					<div class="actions clearfix"></div>

				</div>

				<div class="add-to-links col-md-12 col-sm-12 col-xs-12">
					<div class="btn-group">
						<button type="button" class="btn btn-default link-add-basket" data-Qty="1" data-pID="{$module_data.PRODUCTS_ID}" title="{#basket#}" id="add-basket" ><span class="glyphicon glyphicon-arrow-right"></span><span class="glyphicon glyphicon-shopping-cart"></span></button>
						<a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.PRODUCTS_NAME}" class="btn btn-default" title="{#details#}"><span class="glyphicon glyphicon-search"></span></a>
						{if $smarty.session.customer_id}
						<button type="button" class="btn btn-default link-wishlist{if $module_data.PRODUCTS_ON_WISHLIST == 'true'} active delete{else} add{/if}" data-pID="{$module_data.PRODUCTS_ID}"  title="{#wishlist#}"><span class="glyphicon glyphicon-star-empty"></span></button>
						{/if}
						<button type="button" class="btn btn-default link-compare{if $module_data.PRODUCTS_COMPARE == 'true'} active delete{else} add{/if}" data-pID="{$module_data.PRODUCTS_ID}"  title="{#compare#}"><span class="glyphicon glyphicon-transfer"></span></button>
					</div>
				</div>
			</div>
		</li>
		{/foreach}
	</ul>
</div>
<div class="clearfix" />