{config_load file="$language/lang_$language.conf" section="reviews"}

{if $error!=''}
<div class="panel panel-danger">
    <div class="panel-body">
		{$error}
    </div>
</div>
{/if}

{$FORM_ACTION}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title"><strong>{#heading_reviews_write#}</strong></h4>
    </div>
    <div class="panel-body">
        <strong>{#text_product#}</strong> {$PRODUCTS_NAME}<br />
        <strong>{#text_author#}</strong> {$AUTHOR}<br />
        <br />
          <strong>{#text_input#}</strong><br />
          {$INPUT_TEXT}<br />
          <font size="1" face="Verdana, Arial, Helvetica, sans-serif">{#text_note#}</font><br />
          <br />
          <strong>{#text_rating#}&nbsp;<font color="#FF0000">{#text_bad#}</strong>
          {$INPUT_RATING}<strong>{#text_good#}</strong></font>
    </div>
    <div class="panel-footer" style="text-align: right;">{$BUTTON_BACK}  {$BUTTON_SUBMIT}</div>
</div>
{$FORM_END}

