{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="$language/lang_$language.conf" section="product_listing"}
{config_load file="$language/lang_$language.conf" section="product_info"}
{assign var="assetsTpl" value="`$tpl_path_abs`assets/tpl/"}

<div class="clearfix"></div>

<div class="page-header">
    <h2>{#heading_text#}</h2>
</div>

<div class="product also-purchased">
    <ul id="also-purchased-slider" class="products-grid products-list normal-list">
        {foreach item=products_data from=$module_content}
        <li class="item col-md-3 col-sm-4 col-xs-12">
            <div class="item-inner">

                {include file="`$assetsTpl`product/colorBlock.tpl" colorValue=$products_data.PRODUCTS_FEATURES.1.features.1.feature_value}
                <div class="product-image col-md-12 col-sm-12 col-xs-12">
                    <div class="product-image-thumbnail">
                        <a href="{$products_data.PRODUCTS_LINK}" title="{$products_data.PRODUCTS_NAME}">
                            <div class="img-thumbnail">
                                <img src="{$products_data.PRODUCTS_IMAGE_INFO}" alt="{$products_data.PRODUCTS_NAME}" />
                            </div>
                        </a>
                    </div>
                    <div class="more-info"></div>

                    <div class="reviews-wrap"></div>
                </div>
                {if $module_data.PRODUCTS_SPECIAL_OFFER_PRICE}<div class="labels specialoffer"></div>{/if}
                {if $module_data.PRODUCTS_BONUS_POINTS}<div class="labels extra-points"></div>{/if}
                {if $module_data.PRODUCTS_FREE_SHIPPING}<div class="labels free-shipping"></div>{/if}
                <div class="price-review">
                    <h4 class="product-name"><a href="{$products_data.PRODUCTS_LINK}" title="{$products_data.PRODUCTS_NAME}">{$products_data.PRODUCTS_NAME}</a></h4>
                    <div class="price-box">

                        {if $products_data.PRODUCTS_OLD_PRICE > 0}
                        <p class="old-price">
                            <span class="price-label">{#regular_price#}</span>
                            <span class="price" id="old-price-236">{$products_data.PRODUCTS_OLD_PRICE}</span>
                        </p>

                        <p class="special-price">
                            <span class="price-label">{#special_price#}</span>
                            <span class="price" itemprop="price" id="product-price-236">{$products_data.PRODUCTS_SPECIAL_OFFER_PRICE}</span>
                        </p>
                        {else}
                        <span class="regular-price" id="product-price-134">
                            <span class="price" itemprop="price">{$products_data.PRODUCTS_PRICE}</span>
                        </span>
                        {/if}
                    </div>
                    <span class="availability in-stock">
                        {if $module_data.PRODUCTS_STOCK_VALUE == 3}
                        <span class="availabel-full">{#stock_description_full#}</span>
                        {elseif $module_data.PRODUCTS_STOCK_VALUE == 2}
                        <span class="availabel-short">{#stock_description_short#}</span>
                        {else}
                        <span class="availabel-empty">{#stock_description_empty#}</span>
                        {/if}
                    </span>
                    <span class="tax-details">({$products_data.PRODUCTS_TAX_INFO}) {if $products_data.PRODUCTS_SHIPPING_LINK}{$products_data.PRODUCTS_SHIPPING_LINK}{/if}</span>
                    {if $products_data.PRODUCTS_PRICE_PER_PAGE != ''}<div class="price-per-page"><strong>{#product_price_per_page#} </strong> {$products_data.PRODUCTS_PRICE_PER_PAGE}</div>{/if}
                    <div class="baseprice-grid">{$products_data.PRODUCTS_BASE_PRICE_FORMATED}</div>
                    <div class="actions clearfix"></div>


                </div>

                <div class="add-to-links">
                    <div class="add-to-links-group btn-group">
                        <button type="button" class="btn btn-default bg-button-light-blue link-add-basket" data-Qty="1" data-pID="{$products_data.PRODUCTS_ID}" title="{#basket#}" id="add-basket" ><span class="glyphicon glyphicon-arrow-right"></span><span class="glyphicon glyphicon-shopping-cart"></span></button>

                        <a href="{$products_data.PRODUCTS_LINK}" title="{$products_data.PRODUCTS_NAME}" class="btn btn-default bg-button-light-blue" title="{#details#}"><span class="glyphicon glyphicon-search"></span></a>
                        {if $smarty.session.customer_id}
                        <button type="button" class="btn btn-default bg-button-light-blue link-wishlist{if $products_data.PRODUCTS_ON_WISHLIST == 'true'} active delete{else} add{/if}" data-pID="{$products_data.PRODUCTS_ID}"  title="{#wishlist#}"><span class="glyphicon glyphicon-star-empty"></span></button>
                        {/if}
                        <button type="button" class="btn btn-default bg-button-light-blue link-compare{if $products_data.PRODUCTS_COMPARE == 'true'} active delete{else} add{/if}" data-pID="{$products_data.PRODUCTS_ID}"  title="{#compare#}"><span class="glyphicon glyphicon-transfer"></span></button>
                    </div>
                </div>
            </div>
        </li>
        {/foreach}
    </ul>
</div>


