{config_load file="$language/lang_$language.conf" section="wishlist"}

{if $DENY_WISHLIST neq true}
{if $IS_ON_WISHLIST neq true}
    <li><a href="#modal-spylist" class="link-spylist" data-toggle="modal" title="{#add_spylist#}"><span class="glyphicon glyphicon-eye-open"></span>{#add_wishlist#}</a></li>
    <div id="modal-spylist" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{#heading_text#}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                {$FORM_ACTION}
                <div class="modal-body">
                    {$HIDDEN_FIELD_PRODUCTS_ID}
                    {$HIDDEN_FIELD_ACTION}
                    {$HIDDEN_FIELD_TAX}
                    <div class="form-group">
                        <label for="inputPrice">{#text_wish_this#}</label>
                        <div class="input-group">
                            <div class="input-group-addon">&euro;</div>
                            <input type="text" class="form-control" id="inputPrice" name="target_price" placeholder="00,00">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{#close#}</button>
                        <button type="submit" class="btn btn-primary">{#send#}</button>
                        {$ADD_WL_BUTTON}
                    </div>
                </div>
                {$FORM_END}
            </div>
        </div>
    </div>
{else}
	{#text_is_on_wishlist#}
{/if}
{else}
    <a href="{$LINK_LOGIN}">{#text_please_login#}</a>
{/if}
