{config_load file="$language/lang_$language.conf" section="reviews"}<br />

<div class="page-header">
	{#heading_reviews#}</h2>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title"><strong>{$module_data.ID}</strong></h4>
    </div>
    <div class="panel-body">
		{$module_data.AUTHOR}<br />
		{$module_data.RATING}<br />
		<br />
		{$module_data.DATE}
    </div>
</div>