{config_load file="$language/lang_$language.conf" section="reviews"}<br />

<h2 class="widgettitle">{#heading_reviews#}</h2>


{foreach name=aussen item=module_data from=$ICECAT_REVIEWS} 
<div class="widget" id="reviews">
  <div class="widget-head"><strong>{#text_author#}</strong> {$module_data.Code}</div>  
  <div class="widget-content">
    <a href="{$module_data.URL}" target="_blank"><img src="{$module_data.LogoPic}" alt="{$module_data.Code}" border="0" /></a>
    <br /><br /><br />
    <strong>{#text_text#}</strong><br />
    {$module_data.Value} <br />
    <br />
    {$module_data.ValueGood}
    <br />
    {$module_data.ValueBad}
    <br />
    {$module_data.BottomLine}    
  </div>
  <div class="widget-foot"></div>
</div>
{/foreach}
