{config_load file="$language/lang_$language.conf" section="product_listing"}
{config_load file="$language/lang_$language.conf" section="product_info"}
{config_load file="$language/lang_$language.conf" section="boxes"}
{assign var="assetsTpl" value="`$tpl_path_abs`assets/tpl/"}

<div class="page-header">
    <h2>{#heading_products_compare#}</h2>
</div>

{if $module_content}
{* if $features_list *}
<div class="row">
<ul class="products-grid products-compare-list">
	{foreach name=aussen item=module_data from=$module_content}
	<li class="item col-md-3 col-sm-4 col-xs-12">
		<div class="item-inner">

			{include file="`$assetsTpl`product/colorBlock.tpl" colorValue=$products_data.PRODUCTS_FEATURES.1.features.1.feature_value}
			<div class="product-image col-md-12 col-sm-12 col-xs-12">
				<div class="product-image-thumbnail">
					<a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.PRODUCTS_NAME}">
						<div class="img-thumbnail">
							<img src="{$module_data.PRODUCTS_IMAGE_INFO}" alt="{$module_data.PRODUCTS_NAME}" />
						</div>
					</a>
				</div>
				<div class="more-info">{$product.PRODUCTS_RATING_IMAGE}</div>
			</div>
            {if $module_data.PRODUCTS_SPECIAL_OFFER_PRICE}<div class="labels specialoffer"></div>{/if}
            {if $module_data.PRODUCTS_BONUS_POINTS}<div class="labels extra-points"></div>{/if}
            {if $module_data.PRODUCTS_FREE_SHIPPING}<div class="labels free-shipping"></div>{/if}

            <div class="price-review col-md-12 col-sm-12 col-xs-12">
				<span class="tax-details">{#text_model#} {$module_data.PRODUCTS_MODEL}</span>
                <h4 class="product-name"><a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.PRODUCTS_NAME}">{$module_data.PRODUCTS_NAME}</a></h4>
                {if $module_data.PRODUCTS_FEATURES}
					<span class="tax-details">
					&bull; <b>Inhalt der VPE:</b> {$module_data.PRODUCTS_VE}<br />
					{foreach name=feature_groups item=feature_groups from=$module_data.PRODUCTS_FEATURES}
						{if $feature_groups.feature_group_id == "1"}	
							{foreach name=feature item=feature from=$feature_groups.features}
								&bull; <b>{$feature.feature_name}:</b> {$feature.feature_value} <br />
							{/foreach}
						{/if}
					{/foreach} 
					</span>
				{/if}
                <div class="price-box">
                    {if $module_data.PRODUCTS_OLD_PRICE > 0}
                                    <span class="old-price">
                                        <span class="price" id="old-price-236">{$module_data.PRODUCTS_OLD_PRICE}</span>
                                    </span>
                    {if $module_data.PRODUCTS_SPECIAL_OFFER_PRICE > 0}
                                        <span class="special-price">
                                            <span class="price" itemprop="price" id="product-price-236">{$module_data.PRODUCTS_SPECIAL_OFFER_PRICE}</span>
                                        </span>
                    {else}
                                        <span class="regular-price">
                                            <span class="price" itemprop="price">{$module_data.PRODUCTS_PRICE}</span>
                                        </span>
                    {/if}
                    {else}
                                    <span class="regular-price">
                                        <span class="price" itemprop="price">{$module_data.PRODUCTS_PRICE}</span>
                                    </span>
                    {/if}
                </div>
                    <span class="availability in-stock">
                        {if $module_data.PRODUCTS_STOCK_VALUE == 3}
                        <span class="availabel-full">{#stock_description_full#}</span>
                        {elseif $module_data.PRODUCTS_STOCK_VALUE == 2}
                        <span class="availabel-short">{#stock_description_short#}</span>
                        {else}
                        <span class="availabel-empty">{#stock_description_empty#}</span>
                        {/if}
                    </span>
                <span class="tax-details">({$module_data.PRODUCTS_TAX_INFO}) {if $module_data.PRODUCTS_SHIPPING_LINK}{$module_data.PRODUCTS_SHIPPING_LINK}{/if}</span>
                {if $module_data.PRODUCTS_PRICE_PER_PAGE != ''}<div class="price-per-page"><strong>{#product_price_per_page#} </strong> {$module_data.PRODUCTS_PRICE_PER_PAGE}</div>{/if}

                <div class="baseprice-grid">{$module_data.PRODUCTS_BASE_PRICE_FORMATED}</div>
                <div class="actions clearfix"></div>

            </div>
			<div class="add-to-links col-md-12 col-sm-12 col-xs-12">
				<div class="btn-group">

					<button type="button" class="btn btn-default bg-button-light-blue link-add-basket" data-Qty="1" data-pID="{$module_data.PRODUCTS_ID}" title="{#basket#}" id="add-basket" ><span class="glyphicon glyphicon-arrow-right"></span><span class="glyphicon glyphicon-shopping-cart"></span></button>
					<a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.PRODUCTS_NAME}" class="btn btn-default bg-button-light-blue" title="{#details#}"><span class="glyphicon glyphicon-search"></span></a>
					{if $smarty.session.customer_id}
					<button type="button" class="btn btn-default bg-button-light-blue link-wishlist{if $module_data.PRODUCTS_ON_WISHLIST == 'true'} active delete{else} add{/if}" data-pID="{$module_data.PRODUCTS_ID}"  title="{#wishlist#}"><span class="glyphicon glyphicon-star-empty"></span></button>
					{/if}
					<button type="button" class="btn btn-default bg-button-light-blue link-compare{if $module_data.PRODUCTS_COMPARE == 'true'} active delete{else} add{/if}" data-pID="{$module_data.PRODUCTS_ID}"  title="{#compare#}"><span class="glyphicon glyphicon-transfer"></span></button>
				</div>
			</div>
			
			{if $group.features}
			<table class="table">
			{assign var="count" value=1}
			{foreach name=feature key=fkey item=feature from=$group.features}
			{if $count == 1}
			{assign var="count" value=2}
			{assign var="row_color" value='EBEBEB'}
			{else}
			{assign var="count" value=1}
			{assign var="row_color" value='D6D6D6'}
			{/if}
			<tr style="background:#{$row_color};">
				<td width="200" align="left" valign="top" style="padding:2px;">{$feature.feature_name}</td>
				{foreach name=product item=product from=$module_content}
				{if $product.features}
				{foreach name=pfg key=fgkey item=pfg from=$product.features}
				{if $pfg.features}
				{foreach name=pf key=pfkey item=pf from=$pfg.features}
				{if $pfkey == $fkey && $gkey == $fgkey}
				<td width="300"  align="left" valign="top" style="padding:2px;">{if $pf.feature_value}{$pf.feature_value}{else}---{/if}</td>
				{/if}
				{/foreach}
				{/if}
				{/foreach}
				{/if}
				{/foreach}

			</tr>
			{/foreach}
			</table>
			{/if}
		</div>
	</li>
	{/foreach}
</ul>
</div>
{* /if *}

{else}
<br /><br />
<h2>{#text_no_products_compare#}</h2>
<br /><br />
<a href="javascript:window.close()">{#close_window#}</a>
{/if}