{config_load file="$language/lang_$language.conf" section="reviews"}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title"><strong>{#heading_product_reviews#} <a href="{$PRODUCTS_LINK}">{$PRODUCTS_NAME}</a></strong></h4>
    </div>
    <div class="panel-body">
        {$IMAGE}
        <strong> {#text_date#}</strong> {$DATE}<br />
        <strong>{#text_author#}</strong> {$AUTHOR}<br />
        <br />
        <strong>{#text_text#}</strong><br />
        {$REVIEWS_TEXT}<br />
        <br />
        <strong>{#text_rating#}</strong> {$RATING}
        <br />
        <br />
        {$BUTTON_BUY_NOW}
    </div>
    <div class="panel-footer" style="text-align: right;">{$BUTTON_BACK}</div>
</div>
