{config_load file="$language/lang_$language.conf" section="spylist"}
{config_load file="$language/lang_$language.conf" section="buttons"}

{if $DENY_SPYLIST neq true}
{if $IS_ON_SPYLIST neq true}
    <div id="modal-spylist" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{#heading_text#}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                {$FORM_ACTION}
                <div class="modal-body">
                    {$HIDDEN_FIELD_PRODUCTS_ID}
                    {$HIDDEN_FIELD_ACTION}
                    {$HIDDEN_FIELD_TAX}
                    <div class="form-group">
                        <label for="inputPrice">{#text_spy_this#}</label>
                        <div class="input-group">
                            <div class="input-group-addon">&euro;</div>
                            <input type="text" class="form-control" id="inputPrice" name="target_price" placeholder="00,00">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{#close#}</button>
                        <button type="submit" class="btn btn-primary">{#send#}</button>
                    </div>
                </div>
                {$FORM_END}
            </div>
        </div>
    </div>
{else}
    {$FORM_ACTION}
    <input type="hidden" name="spylist_action" value="del">
    <input type="hidden" name="spyId" value="{$SPYLIST_ID}">
    <div class="col-md-auto"><a href="javascript:void('');" onclick="spylist.submit();" ><i class="fas fa-eye mr-2"></i>{#text_price_target#}<span class="price">{$TARGET_PRICE}</span> {#del#}</a> </div>
    {$FORM_END}
{/if}
{/if}