{config_load file="$language/lang_$language.conf" section="products_media"}

<table class="table" border="0" width="100%" cellspacing="2" cellpadding="0">
    <tr> 
      <td colspan="2"><h4>{#file#}</h4></td>
      <td colspan="2" align="right"><h4>{#size#}</h4></td>
    </tr>
    {foreach name=aussen item=module_data from=$module_content}
    <tr> 
      <td  width="1" valign="top" class="main">{$module_data.ICON}</td>
      <td width="100%" class="main"><strong>{$module_data.FILENAME}</strong><br />
        {$module_data.DESCRIPTION}</td>
      <td align="right" nowrap="nowrap" class="main">{$module_data.FILESIZE}</td>
      <td width="1" align="right" class="main">{$module_data.BUTTON}</td>
    </tr>
    {/foreach}
</table>
