{config_load file="$language/lang_$language.conf" section="reviews"}

<div class="sidebar-content" id="product-reviews" style="height: 300px; padding-right: 20px; padding-top: 10px;">
    {foreach name=aussen item=module_data from=$module_content}
    <div class="panel panel-default">
        <div class="panel-heading"><b>{#text_author#}</b> {$module_data.AUTHOR} {$module_data.DATE}<br />{$module_data.RATING}
        </div>
        <div class="panel-body">
            {$module_data.TEXT}
        </div>
    </div>
    {/foreach}
</div>