{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="$language/lang_$language.conf" section="buttons"}

{if $module_content}
<div id="modal-product-listing-filter" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Filter</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<form action="" method="post">
				<input type="hidden" name="listfiltering" value="1">
				<div class="modal-body">
					<div class="overflow_auto">
						{foreach name=feature_groups item=feature_groups from=$module_content}
						{if $feature_groups.feature_group_id == "1"}
						<!-- {$feature_groups.group_name} -->


						<dl class="dl-horizontal">
							{foreach name=feature item=feature from=$feature_groups.features}
							<dt>{$feature.feature_name}</dt>
							<dd style="line-height: 2em; border-bottom: 1px solid #6e6f71;">
								{foreach name=value item=value from=$feature.values}
								<div class="checkbox-text">
									<input name="FV[{$value.key}][{$value.value}]" value="{$value.value}" id="[{$value.key}][{$value.value}]" type="checkbox" {$value.checked}>
									<label for="[{$value.key}][{$value.value}]" class="label"> {$value.value} <i>({$value.count})</i></label>
								</div>
								{/foreach}
							</dd>
							{/foreach}
						</dl>

						{/if}
						{/foreach}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">{#close#}</button>
						<button type="submit" class="btn btn-primary">{#send#}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{/if}