{config_load file="$language/lang_$language.conf" section="reverse_cross_selling"} 

<div class="page-header">
    <h2>{#heading_text#}</h2>
</div>

<div class="product reverse-cross-selling">
    <ul id="reverse-cross-selling-slider" class="products-grid products-list normal-list">
        {foreach name=aussen item=module_data from=$module_content}
        {foreach item=products_data from=$module_data.PRODUCTS}
        <li class="item col-md-3 col-sm-4 col-xs-12">
            <div class="item-inner">
                <div class="product-image col-md-12 col-sm-12 col-xs-12">
                    <div class="product-image-thumbnail">
                        <a href="{$products_data.PRODUCTS_LINK}" title="{$products_data.PRODUCTS_NAME}">
                            <div class="img-thumbnail">
                                <img src="{$products_data.PRODUCTS_IMAGE_INFO}" alt="{$products_data.PRODUCTS_NAME}" />
                            </div>
                        </a>
                    </div>
                    <div class="more-info"></div>

                    <div class="reviews-wrap"></div>
                </div>
                {if $module_data.PRODUCTS_SPECIAL_OFFER_PRICE}<div class="labels specialoffer"></div>{/if}
                {if $module_data.PRODUCTS_BONUS_POINTS}<div class="labels extra-points"></div>{/if}
                {if $module_data.PRODUCTS_FREE_SHIPPING}<div class="labels free-shipping"></div>{/if}
                <div class="print-color-label">
                    {if preg_match('/RGB/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color red" ></div><div class="color y" ></div><div class="color blue" ></div>
                    {elseif preg_match('/3-FARBIG/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color red" ></div><div class="color y" ></div><div class="color blue" ></div>
                    {elseif preg_match('/FARBIG/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color red" ></div><div class="color y" ></div><div class="color blue" ></div>
                    {elseif preg_match('/CMY/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color c" ></div><div class="color m" ></div><div class="color y" ></div>
                    {elseif preg_match('/CMYK/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color c" ></div><div class="color m" ></div><div class="color y" ></div><div class="color k" ></div>
                    {elseif preg_match('/4-FARBIG/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color c" ></div><div class="color m" ></div><div class="color y" ></div><div class="color k" ></div>
                    {elseif preg_match('/5-FARBIG/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color blue" ></div><div class="color c" ></div><div class="color m" ></div><div class="color rose" ></div><div class="color y" ></div>
                    {elseif preg_match('/6-FARBIG/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color k" ></div><div class="color blue" ></div><div class="color c" ></div><div class="color m" ></div><div class="color rose" ></div><div class="color y" ></div>
                    {elseif preg_match('/4 FARBIG/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color c" ></div><div class="color m" ></div><div class="color y" ></div><div class="color k" ></div>
                    {elseif preg_match('/5 FARBIG/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color blue" ></div><div class="color c" ></div><div class="color m" ></div><div class="color rose" ></div><div class="color y" ></div>
                    {elseif preg_match('/6 FARBIG/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color k" ></div><div class="color blue" ></div><div class="color c" ></div><div class="color m" ></div><div class="color rose" ></div><div class="color y" ></div>{/if}


                    {if preg_match('/CYAN/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color c" ></div>{/if}
                    {if preg_match('/MAGENTA/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color m" ></div>{/if}
                    {if preg_match('/YELLOW/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color y" ></div>{/if}

                    {if preg_match('/SCHWARZ/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color k" ></div>{/if}
                    {if preg_match('/ROT/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color red" ></div>{/if}
                    {if preg_match('/GELB/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color y" ></div>{/if}
                    {if preg_match('/HELLBLAU/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color light_blue" ></div>
                    {elseif preg_match('/BLAU/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color blue" ></div>{/if}
                    {if preg_match('/GRÜN/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color green" ></div>{/if}
                    {if preg_match('/GRAU/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color grey" ></div>{/if}
                    {if preg_match('/ORANGE/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color orange" ></div>{/if}
                    {if preg_match('/ROSA/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color rose" ></div>{/if}
                </div>
                <div class="price-review">
                    <h4 class="product-name"><a href="{$products_data.PRODUCTS_LINK}" title="{$products_data.PRODUCTS_NAME}">{$products_data.PRODUCTS_NAME}</a></h4>
                    <div class="price-box">

                        {if $products_data.PRODUCTS_OLD_PRICE > 0}
                        <p class="old-price">
                            <span class="price-label">Regulärer Preis:</span>
                            <span class="price" id="old-price-236">{$products_data.PRODUCTS_OLD_PRICE}</span>
                        </p>

                        <p class="special-price">
                            <span class="price-label">Special Price</span>
                            <span class="price" itemprop="price" id="product-price-236">{$products_data.PRODUCTS_SPECIAL_OFFER_PRICE}</span>
                        </p>
                        {else}
                        <span class="regular-price" id="product-price-134">
                            <span class="price" itemprop="price">{$products_data.PRODUCTS_PRICE}</span>
                        </span>
                        {/if}
                    </div>
                    <span class="availability in-stock">
                        {if $module_data.PRODUCTS_STOCK_VALUE == 3}
                        <span class="availabel-full">{#stock_description_full#}</span>
                        {elseif $module_data.PRODUCTS_STOCK_VALUE == 2}
                        <span class="availabel-short">{#stock_description_short#}</span>
                        {else}
                        <span class="availabel-empty">{#stock_description_empty#}</span>
                        {/if}
                    </span>
                    <span class="tax-details">({$products_data.PRODUCTS_TAX_INFO}) {if $products_data.PRODUCTS_SHIPPING_LINK}{$products_data.PRODUCTS_SHIPPING_LINK}{/if}</span>
                    {if $products_data.PRODUCTS_PRICE_PER_PAGE != ''}<div class="price-per-page"><strong>{#product_price_per_page#} </strong> {$products_data.PRODUCTS_PRICE_PER_PAGE}</div>{/if}

                    <div class="baseprice-grid">{$products_data.PRODUCTS_BASE_PRICE_FORMATED}</div>
                    <div class="actions clearfix"></div>


                </div>

                <div class="add-to-links">
                    <div class="add-to-links-group btn-group">
                        <button type="button" class="btn btn-default link-add-basket" data-Qty="1" data-pID="{$products_data.PRODUCTS_ID}" title="{#basket#}" id="add-basket" ><span class="glyphicon glyphicon-arrow-right"></span><span class="glyphicon glyphicon-shopping-cart"></span></button>

                        <a href="{$products_data.PRODUCTS_LINK}" title="{$products_data.PRODUCTS_NAME}" class="btn btn-default" title="{#details#}"><span class="glyphicon glyphicon-search"></span></a>
                        {if $smarty.session.customer_id}
                        <button type="button" class="btn btn-default link-wishlist{if $products_data.PRODUCTS_ON_WISHLIST == 'true'} active delete{else} add{/if}" data-pID="{$products_data.PRODUCTS_ID}"  title="{#wishlist#}"><span class="glyphicon glyphicon-star-empty"></span></button>
                        {/if}
                        <button type="button" class="btn btn-default link-compare{if $products_data.PRODUCTS_COMPARE == 'true'} active delete{else} add{/if}" data-pID="{$products_data.PRODUCTS_ID}"  title="{#compare#}"><span class="glyphicon glyphicon-transfer"></span></button>
                    </div>
                </div>
            </div>
        </li>
        {/foreach}
        {/foreach}
    </ul>
</div>
