{config_load file="$language/lang_$language.conf" section="reviews"}<br />

<div class="page-header">
	<h2>{#heading_reviews#}</h2>
</div>

{foreach name=aussen item=module_data from=$module_content} 
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title"><strong>{#text_product#} <a href="{$module_data.PRODUCTS_LINK}"><span style="color: white;">{$module_data.PRODUCTS_NAME}</span></a></strong></h4>
    </div>
    <div class="panel-body">
		<a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME}" border="0" /></a>
		<strong> {#text_author#}</strong> {$module_data.AUTHOR} <br />
        <br />
        <strong>{#text_text#}</strong><br />
        {$module_data.TEXT} <br />
        <br />
        <strong>{#text_rating#}</strong> {$module_data.RATING}
    </div>
    <div class="panel-footer" style="text-align: right;"></div>
</div>
{/foreach}

{if $NAVBAR}
<div class="panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body">
        {$NAVBAR}
    </div>
    <div class="panel-footer" style="text-align: right;"></div>
</div>
{/if}
