{config_load file="$language/lang_$language.conf" section="shopping_cart"}
{config_load file="$language/lang_$language.conf" section="checkout"}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">{#text_ware#}</li>
      <li class="breadcrumb-item">{#text_versand#}</li>
      <li class="breadcrumb-item">{#text_zahlung#}</li>
      <li class="breadcrumb-item">{#text_bestell#}</li>
    </ol>
</nav>

{$coupon_content}

{$bonuspunkte_content}

{if $cart_empty==true}
<div class="card mt-3">
    <div class="card-header">
        <h4 class="card-title"><strong>{#heading_cart#}</strong></h4>
    </div>
    <div class="card-body">
		{#text_empty#}
    </div>
    <div class="card-footer text-right">{$BUTTON_CONTINUE}</div>
</div>
{else}
	{$MODULE_order_details}
{/if}