{config_load file="$language/lang_$language.conf" section="specials"} 
{config_load file="$language/lang_$language.conf" section="product_listing"}
{config_load file="$language/lang_$language.conf" section="buttons"}


{if $smarty.session.template.style.productListing == 'list-wide'}

{assign var="ClassProductsList" value="list-wide"}
{assign var="ClassProductsListItem" value="col-md-12 col-sm-12"}
{assign var="ClassProductsListImage" value="col-md-2 col-sm-3"}
{assign var="ClassProductsListPrice" value="col-md-9 col-sm-7"}
{assign var="ClassProductsListLink" value="col-md-1 col-sm-2"}
{assign var="ClassProductsListLinkGroup" value="btn-group-vertical"}
{assign var="BtnProductsListShort" value=""}
{assign var="BtnProductsListWide" value="active"}

{else}

{assign var="ClassProductsList" value=""}
{assign var="ClassProductsListItem" value="col-md-3 col-sm-4"}
{assign var="ClassProductsListImage" value="col-md-12 col-sm-12"}
{assign var="ClassProductsListPrice" value="col-md-12 col-sm-12"}
{assign var="ClassProductsListLink" value="col-md-12 col-sm-12"}
{assign var="ClassProductsListLinkGroup" value="btn-group"}
{assign var="BtnProductsListShort" value="active"}
{assign var="BtnProductsListWide" value=""}

{/if}

<div class="page-header">
	<h2>{#heading_text#}</h2>
</div>

<div class="product slider specials owl-slider-wrapper">
    <ul class="products-grid products-list {$ClassProductsList}">
        {foreach name=aussen item=module_data from=$module_content}
        <li class="item {$ClassProductsListItem} col-xs-12">
            <div class="item-inner">
                <div class="product-image {$ClassProductsListImage} col-xs-12">
                    <div class="product-image-thumbnail">
                        <a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.PRODUCTS_NAME}">
                            <div class="img-thumbnail">
                                <img src="{$module_data.PRODUCTS_IMAGE_INFO}" alt="{$module_data.PRODUCTS_NAME}" />
                            </div>
                        </a>
                    </div>
                    <div class="more-info"></div>

                    <div class="reviews-wrap"></div>
                </div>
                {if $module_data.PRODUCTS_SPECIAL_OFFER_PRICE}<div class="labels specialoffer"></div>{/if}
                {if $module_data.PRODUCTS_BONUS_POINTS}<div class="labels extra-points"></div>{/if}
                {if $module_data.PRODUCTS_FREE_SHIPPING}<div class="labels free-shipping"></div>{/if}

                <div class="print-color-label">

                    {if preg_match('/RGB/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color red" ></div><div class="color y" ></div><div class="color blue" ></div>
                    {elseif preg_match('/3-FARBIG/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color red" ></div><div class="color y" ></div><div class="color blue" ></div>
                    {elseif preg_match('/FARBIG/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color red" ></div><div class="color y" ></div><div class="color blue" ></div>
                    {elseif preg_match('/CMY/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color c" ></div><div class="color m" ></div><div class="color y" ></div>
                    {elseif preg_match('/CMYK/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color c" ></div><div class="color m" ></div><div class="color y" ></div><div class="color k" ></div>
                    {elseif preg_match('/4-FARBIG/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color c" ></div><div class="color m" ></div><div class="color y" ></div><div class="color k" ></div>
                    {elseif preg_match('/5-FARBIG/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color blue" ></div><div class="color c" ></div><div class="color m" ></div><div class="color rose" ></div><div class="color y" ></div>
                    {elseif preg_match('/6-FARBIG/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color k" ></div><div class="color blue" ></div><div class="color c" ></div><div class="color m" ></div><div class="color rose" ></div><div class="color y" ></div>
                    {elseif preg_match('/4 FARBIG/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color c" ></div><div class="color m" ></div><div class="color y" ></div><div class="color k" ></div>
                    {elseif preg_match('/5 FARBIG/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color blue" ></div><div class="color c" ></div><div class="color m" ></div><div class="color rose" ></div><div class="color y" ></div>
                    {elseif preg_match('/6 FARBIG/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color k" ></div><div class="color blue" ></div><div class="color c" ></div><div class="color m" ></div><div class="color rose" ></div><div class="color y" ></div>{/if}


                    {if preg_match('/CYAN/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color c" ></div>{/if}
                    {if preg_match('/MAGENTA/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color m" ></div>{/if}
                    {if preg_match('/YELLOW/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color y" ></div>{/if}

                    {if preg_match('/SCHWARZ/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color k" ></div>{/if}
                    {if preg_match('/ROT/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color red" ></div>{/if}
                    {if preg_match('/GELB/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color y" ></div>{/if}
                    {if preg_match('/HELLBLAU/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color light_blue" ></div>
                    {elseif preg_match('/BLAU/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color blue" ></div>{/if}
                    {if preg_match('/GRÜN/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color green" ></div>{/if}
                    {if preg_match('/GRAU/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color grey" ></div>{/if}
                    {if preg_match('/ORANGE/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color orange" ></div>{/if}
                    {if preg_match('/ROSA/', $module_data.PRODUCTS_FEATURES.2.features.5.feature_value|@strtoupper)}<div class="color rose" ></div>{/if}
                </div>
                <div class="price-review {$ClassProductsListPrice}">
                    <h4 class="product-name"><a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.PRODUCTS_NAME}">{$module_data.PRODUCTS_NAME}</a></h4>
                    <div class="price-box" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        {if $module_data.PRODUCTS_OLD_PRICE > 0}
                                    <span class="old-price">
                                        <span class="price" id="old-price-236">{$module_data.PRODUCTS_OLD_PRICE}</span>
                                    </span>
                        {if $module_data.PRODUCTS_SPECIAL_OFFER_PRICE > 0}
                                        <span class="special-price">
                                            <span class="price" itemprop="price" id="product-price-236">{$module_data.PRODUCTS_SPECIAL_OFFER_PRICE}</span>
                                        </span>
                        {else}
                                        <span class="regular-price">
                                            <span class="price" itemprop="price">{$module_data.PRODUCTS_PRICE}</span>
                                        </span>
                        {/if}
                        {else}
                                    <span class="regular-price">
                                        <span class="price" itemprop="price">{$module_data.PRODUCTS_PRICE}</span>
                                    </span>
                        {/if}
                    </div>
                    <span class="availability in-stock">
                        {if $module_data.PRODUCTS_STOCK_VALUE == 3}
                        <span class="availabel-full">{#stock_description_full#}</span>
                        {elseif $module_data.PRODUCTS_STOCK_VALUE == 2}
                        <span class="availabel-short">{#stock_description_short#}</span>
                        {else}
                        <span class="availabel-empty">{#stock_description_empty#}</span>
                        {/if}
                    </span>
                    <span class="tax-details">({$module_data.PRODUCTS_TAX_INFO}) {if $module_data.PRODUCTS_SHIPPING_LINK}{$module_data.PRODUCTS_SHIPPING_LINK}{/if}</span>
                    {if $module_data.PRODUCTS_PRICE_PER_PAGE != ''}<div class="price-per-page"><strong>{#product_price_per_page#} </strong> {$module_data.PRODUCTS_PRICE_PER_PAGE}</div>{/if}
                    <div class="baseprice-grid">{$module_data.PRODUCTS_BASE_PRICE_FORMATED}</div>
                    <div class="actions clearfix"></div>


                </div>

                <div class="add-to-links {$ClassProductsListLink}">
                    <div class="add-to-links-group {$ClassProductsListLinkGroup}">


                        <button type="button" class="btn btn-default link-add-basket" data-Qty="1" data-pID="{$module_data.PRODUCTS_ID}" title="{#basket#}" id="add-basket" ><span class="glyphicon glyphicon-arrow-right"></span><span class="glyphicon glyphicon-shopping-cart"></span></button>


                        <a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.PRODUCTS_NAME}" class="btn btn-default" title="{#details#}" ><span class="glyphicon glyphicon-search"></span></a>
                        {if $smarty.session.customer_id}
                        <button type="button" class="btn btn-default link-wishlist{if $module_data.PRODUCTS_ON_WISHLIST == 'true'} active delete{else} add{/if}" data-pID="{$module_data.PRODUCTS_ID}"  title="{#wishlist#}"><span class="glyphicon glyphicon-star-empty"></span></button>
                        {/if}
                        <button type="button" class="btn btn-default link-compare{if $module_data.PRODUCTS_COMPARE == 'true'} active delete{else} add{/if}" data-pID="{$module_data.PRODUCTS_ID}"  title="{#compare#}"><span class="glyphicon glyphicon-transfer"></span></button>
                    </div>
                </div>
            </div>
        </li>
        {/foreach}
    </ul>
</div>


<div class="clearfix"></div>

<hr>

<div class="row" style="margin-left: 0; margin-right: 0;">
    <div  class="col-md-5 col-sm-6 col-xs-12 pull-right" style="text-align: right; padding-top: 5px;">
        {$PCOUNT}{$PPAGES}
    </div>
</div>

