{config_load file="$language/lang_$language.conf" section="storelist"}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title"><strong>{#heading_text#}</strong></h4>
    </div>
    <div class="panel-body">
        {$NAVBAR}<br />
      {foreach name=aussen item=module_data from=$module_content}
        <b>{$module_data.S_NAME}</b>
        {if $module_data.S_IMAGE}
          {$module_data.S_IMAGE}
        {/if}
        {#text_store_info#}<br>
        {$module_data.S_INFO}
        {#text_store_desc#}<br>
        {$module_data.S_DESC}
        {$module_data.S_BUTTON}
        <br /><br />
      {/foreach}
        {$NAVBAR}
    </div>
    <div class="panel-footer" style="text-align: right;"></div>
</div>
