{config_load file="$language/lang_$language.conf" section="tell_a_friend"} 

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title"><strong>{$heading_tell_a_friend}</strong></h4>
    </div>
{if $action !='send'}
    {$FORM_ACTION}
    <div class="panel-body">
		<strong>{#title_yours#}</strong><br />
        <hr color="#000000" size="1" />
        {#text_name#} {$INPUT_NAME}<br />
        {#text_email#} {$INPUT_EMAIL}
    </div>
    <div class="panel-body">
		<strong>{#title_friend#}</strong><br />
        <hr color="#000000" size="1" />
        {#text_friendname#} {$INPUT_FRIENDNAME}<br />
        {#text_friendemail#} {$INPUT_FRIENDEMAIL}
    </div>
    <div class="panel-body">
		<strong>{#title_recomend#}</strong><br />
        <hr color="#000000" size="1" />
        {$INPUT_MESSAGE}
    </div>
    <div class="panel-footer" style="text-align: right;">{$BUTTON_BACK}  {$BUTTON_SUBMIT}</div>
    {$FORM_END}
</div>
{else}
    <div class="panel-body">
        {$message}
    </div>
    <div class="panel-footer" style="text-align: right;">{$BUTTON_BACK}  {$BUTTON_SUBMIT}</div>
</div>
