{config_load file="$language/lang_$language.conf" section="product_listing"}
{config_load file="$language/lang_$language.conf" section="wishlist"}


{if $wl_empty==true}

<div class="card border-primary">
    <div class="card-header">
        <h4><strong>{#heading_text#}</strong></h4>
    </div>
    <div class="card-body">
		{#text_empty#}<br />
		<br />
    </div>
    <div class="card-footer" style="text-align: right;">{$BUTTON_CONTINUE}</div>
</div>

{else}

<div class="page-header">
	<h2>{#heading_wishlist#}</h2>
</div>

<div class="product slider specials owl-slider-wrapper">
    <ul class="products-grid">
        {foreach name=aussen item=module_data from=$WL_CONTENT}
        <li class="item col-12">
            <div class="card p-3">
                <div class="row align-items-center">
                    <div class="hidden-sm">
                        {include file="`$assetsTpl`product/colorBlock.tpl" colorValue=$module_data.PRODUCTS_FEATURES.1.features.1.feature_value}
                    </div>
                    <div class="product-image col-2">
                        <div class="product-image-thumbnail">
                            <a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.PRODUCTS_NAME}">
                                <div class="img-thumbnail">
                                    {if $module_data.PRODUCTS_IMAGE_INFO}
                                    <img src="{$module_data.PRODUCTS_IMAGE_INFO}" class="img-fluid" alt="{$module_data.PRODUCTS_NAME}" />
                                    {/if}
                                </div>
                            </a>
                        </div>
                        <div class="more-info"></div>

                        <div class="reviews-wrap"></div>
                    </div>

                    {if $module_data.PRODUCTS_SPECIAL_OFFER_PRICE}<div class="labels specialoffer"></div>{/if}
                    {if $module_data.PRODUCTS_BONUS_POINTS}<div class="labels extra-points"></div>{/if}
                    {if $module_data.PRODUCTS_FREE_SHIPPING}<div class="labels free-shipping"></div>{/if}


                    <div class="price-review col-7">
                        <div class="hidden-md hidden-lg hidden-xl">
                            {include file="`$assetsTpl`product/colorBlock.tpl" colorValue=$module_data.PRODUCTS_FEATURES.1.features.1.feature_value}
                        </div>
                        <span class="tax-details">{#text_model#} {$module_data.PRODUCTS_MODEL}</span>
                        <h4 class="product-name"><a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.PRODUCTS_NAME}">{$module_data.PRODUCTS_NAME|truncate:56:"...":true}</a></h4>
                        <div class="price-box">
                            {if $module_data.PRODUCTS_OLD_PRICE > 0}
                            <span class="old-price">
                                        <span class="price" id="old-price-236">{$module_data.PRODUCTS_OLD_PRICE}</span>
                                    </span>
                            {if $module_data.PRODUCTS_SPECIAL_OFFER_PRICE > 0}
                            <span class="special-price">
                                            <span class="price" itemprop="price" id="product-price-236">{$module_data.PRODUCTS_SPECIAL_OFFER_PRICE}</span>
                                        </span>
                            {else}
                            <span class="regular-price">
                                            <span class="price" itemprop="price">{$module_data.PRODUCTS_PRICE}</span>
                                        </span>
                            {/if}
                            {else}
                            <span class="regular-price">
                                        <span class="price" itemprop="price">{$module_data.PRODUCTS_PRICE}</span>
                                    </span>
                            {/if}
                        </div>
                        <span class="availability in-stock">
                        {if $module_data.PRODUCTS_STOCK_VALUE == 3}
                        <span class="availabel-full">{#stock_description_full#}</span>
                        {elseif $module_data.PRODUCTS_STOCK_VALUE == 2}
                        <span class="availabel-short">{#stock_description_short#}</span>
                        {else}
                        <span class="availabel-empty">{#stock_description_empty#}</span>
                        {/if}
                    </span>
                        {if $module_data.PRODUCTS_PRICE_PER_PAGE != ''}<div class="price-per-page"><strong>{#product_price_per_page#} </strong> {$module_data.PRODUCTS_PRICE_PER_PAGE}</div>{/if}
                        <span class="tax-details">({$module_data.PRODUCTS_TAX_INFO}) {if $module_data.PRODUCTS_SHIPPING_LINK}{$module_data.PRODUCTS_SHIPPING_LINK}{/if}</span>

                        <div class="baseprice-grid">{$module_data.PRODUCTS_BASE_PRICE_FORMATED}</div>
                        <div class="actions clearfix"></div>

                    </div>

                    <div class="add-to-links col-3">
                        <div class="btn-group">

                            <button type="button" class="btn btn-danger link-spylist delete " data-spyid="{$module_data.SL_ID}">&times;</button>
                            <button type="button" class="btn btn-default bg-button-light-blue link-add-basket" data-Qty="1" data-pID="{$module_data.PRODUCTS_ID}" title="{#basket#}" id="add-basket" ><i class="fas fa-cart-arrow-down"></i></button>
                            <a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.PRODUCTS_NAME}" class="btn btn-default bg-button-light-blue" title="{#details#}"><i class="fas fa-info"></i></a>
                            {if $smarty.session.customer_id}
                            <button type="button" class="btn btn-default bg-button-light-blue link-wishlist{if $module_data.PRODUCTS_ON_WISHLIST == 'true'} active delete{else} add{/if}" data-pID="{$module_data.PRODUCTS_ID}"  title="{#wishlist#}"><i class="far fa-star"></i></button>
                            {/if}
                            <button type="button" class="btn btn-default bg-button-light-blue link-compare{if $module_data.PRODUCTS_COMPARE == 'true'} active delete{else} add{/if}" data-pID="{$module_data.PRODUCTS_ID}"  title="{#compare#}"><i class="fas fa-exchange-alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {/foreach}
    </ul>
</div>
{/if}
