{config_load file="$language/lang_$language.conf" section="categorie_listing"}

{if $module_content !=''}
{assign var="top_split" value="0"}
<div class="row mt-3">
    {foreach name=aussen item=module_data from=$module_content}
    <div class="col-sm-4 col-md-3 col-lg-2 text-center mb-3">
        <a href="{$module_data.CATEGORIES_LINK}" title="{$module_data.CATEGORIES_NAME}">
                <div class="img-thumbnail">
                    {if $module_data.CATEGORIES_IMAGE}
                        <img src="{$module_data.CATEGORIES_IMAGE}" alt="{$module_data.CATEGORIES_NAME}" class="img-fluid" />
                    {else}
                        <img src="{$tpl_path}img/_clear1px.gif" alt="{$module_data.CATEGORIES_NAME}" class="img-fluid" />
                    {/if}
                </div>
            <div class="ellipsis">{$module_data.CATEGORIES_NAME}</div>
        </a>
    </div>
    {/foreach}
</div>
{/if}
