{config_load file="$language/lang_$language.conf" section="categorie_listing"}

{if $module_content !=''}

<div class="page-header">
    <h1>{#text_devices_found#}</h1>
</div>

{assign var="MANUFACTURER" value=$module_content[0].PRINTERS_MANUFACTURER}

<div class="panel panel-default">
    <div class="panel-heading"><strong>{$module_content[0].PRINTERS_MANUFACTURER}</strong></div>
    <div class="panel-body">
        <ul class="categories-grid categories-list list-inline">

{foreach from=$module_content|sortby:PRINTERS_MANUFACTURER item=module_data}

{if $module_data.PRINTERS_MANUFACTURER != $MANUFACTURER}
{assign var="MANUFACTURER" value=$module_data.PRINTERS_MANUFACTURER}

        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><strong>{$module_data.PRINTERS_MANUFACTURER}</strong></div>
    <div class="panel-body">
    <ul class="categories-grid categories-list list-inline">
{/if}

        <li class="item col-md-6 col-sm-6 col-xs-12">
            <a href="{$module_data.PRINTERS_LINK}">{$module_data.PRINTERS_MODEL}</a>
            {if $module_data.CATEGORIES_FAVOR_LINK != ""}<span class="rechts_ohne_margin"><s3><a style="color: #666666;" href="{$module_data.CATEGORIES_FAVOR_LINK}">{#text_favor_link#}</a></s3></span>{/if}
        </li>

{/foreach}

    </ul>
    </div>
</div>

{/if}
