{config_load file="$language/lang_$language.conf" section="print_order"}

<page style="font-size: 10pt;">

    <div style="height:250px;">
        <img src="{$logo_path}shoplogo.png" style="max-width: 200px;">
    </div>

    <table style="width:740px;" border="0">
        <tr>
            <td>
                <table height="200" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr>
                        <td style="width:50%;" valign="top">{$address_label_customer}</td>
                        <td style="width:50%;" valign="top" align="right">{$impressum}</td>
                    </tr>
                </table>

                <br />

                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr>
                        <td>
                            {if $invoice_id}<h2>{#invoice#}</h2>
                            <br />
                            <strong>{#invoice_id#} </strong>{$invoice_id}<br />{/if}
                            {if $csID}<strong>{#csID#}</strong>{$csID}<br />{/if}
                            <strong>{#payment#}</strong> {$PAYMENT_METHOD}<br />
                            <strong>{#order#}</strong> {$oID}<br />
                            <strong>{#date#}</strong> {$DATE}<br />
                        </td>
                    </tr>
                </table>

                <br />

                <table border="0" style="width:100%; border-top:1px solid; border-bottom:1px solid;">
                    <tr bgcolor="#f1f1f1">
                        <td style="width:50%;"><strong>{#shipping_address#}</strong></td>
                        <td style="width:50%;"><strong>{if $address_label_payment}{#payment_address#}{/if}</strong></td>
                    </tr>
                    <tr>
                        <td style="width:50%;">{$address_label_shipping}</td>
                        <td style="width:50%;">{$address_label_payment}</td>
                    </tr>
                </table>

                <br />
                <br />

                <strong>{#heading_products#}</strong>
                <br/>
                <table style="width:100%; background-color:#f1f1f1; border-bottom:1px solid #ccc;">
                    <tr>
                        <td colspan="2" style="width: 10%; border: 1px solid #FFFFFF; text-align:center;"><strong>{#head_units#}</strong></td>
                        <td style="width: 25%; border: 1px solid #FFFFFF;"><strong>{#head_artnr#}</strong></td>
                        <td style="width: 35%; border: 1px solid #FFFFFF;"><strong>{#head_products#}</strong></td>
                        <td style="width: 15%; border: 1px solid #FFFFFF; text-align:right"><strong>{#head_single_price#}</strong></td>
                        <td style="width: 15%; border: 1px solid #FFFFFF; text-align:right"><strong>{#head_price#}</strong></td>
                    </tr>
                    {foreach name=aussen item=order_values from=$order_data}
                    <tr>
                        <td style="width: 6%; border: 1px solid #ffffff; text-align:center;">{$order_values.PRODUCTS_QTY}</td>
                        <td style="width: 4%; border: 1px solid #ffffff; text-align:center;">x</td>
                        <td style="width: 25%; border: 1px solid #ffffff;">{$order_values.PRODUCTS_MODEL}<em>{$order_values.PRODUCTS_ATTRIBUTES_MODEL}</em></td>
                        <td style="width: 35%; border: 1px solid #ffffff;"><strong>{if $order_values.PRODUCTS_NAME|count_characters > 45}{$order_values.PRODUCTS_NAME|substr:0:40}...{else}{$order_values.PRODUCTS_NAME}{/if}</strong><em>{$order_values.PRODUCTS_ATTRIBUTES}</em></td>
                        <td style="width: 15%; border: 1px solid #ffffff; text-align:right;">{$order_values.PRODUCTS_SINGLE_PRICE}</td>
                        <td style="width: 15%; border: 1px solid #ffffff; text-align:right;">{$order_values.PRODUCTS_PRICE}</td>
                    </tr>
                    {/foreach}
                </table>

                <br/>

                <table style="width:100%; background-color:#FFFFFF; border:0;">
                    {foreach name=aussen item=order_total_values from=$order_total}
                    <tr>
                        <td style="width:80%; border-bottom: 1px solid; border-color: #ffffff; text-align:right;">{$order_total_values.TITLE} </td>
                        <td style="width:20%; border-right: 1px solid; border-bottom: 1px solid; border-color: #ffffff; text-align:right;">{$order_total_values.TEXT}</td>
                    </tr>
                    {/foreach}
                </table>


            </td>
        </tr>
    </table>

</page>
