{$SLAVE_CATEGORIES}
<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-top: 2px solid; border-color: #d4d4d4;">
{foreach name=aussen item=module_data from=$PRODUCTS_DATA}
	<tr>
  	<td rowspan="2" style="border-bottom: 1px solid; border-color: #cccccc;">
	{if $module_data.PRODUCTS_IMAGE!=''}<a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.products_image}" alt="{$module_data.products_name}" /></a>{/if}
	{if $module_data.PRODUCTS_FSK18=='true'}<br /><img src="{$tpl_path}img/fsk18.gif" alt="" />{/if}</td>
		<td align="left" class="main"><a href="{$module_data.PRODUCTS_LINK}"><strong>{$module_data.PRODUCTS_NAME}</strong></a></td>
  </tr>
  <tr>
  <td align="left" class="main" style="border-bottom: 1px solid; border-color: #cccccc;">{$module_data.PRODUCTS_SHORT_DESCRIPTION}
            <br />
            <strong>{$module_data.PRODUCTS_PRICE} </strong><br />
            {$module_data.PRODUCTS_TAX_INFO}{$module_data.PRODUCTS_SHIPPING_LINK}
            {if $module_data.PRODUCTS_VPE}{$module_data.PRODUCTS_VPE}{/if}
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="right"><table width="200" border="0">
                    <tr>
                      <td align="right">{if $module_data.PRODUCTS_SHIPPING_NAME}
                          <table width="200" border="0" cellpadding="0" cellspacing="0">
                            <tr valign="middle">
                              <td class="main">{#text_shippingtime#}</td>
                              {if $module_data.PRODUCTS_SHIPPING_IMAGE}
                              <td><img src="{$module_data.PRODUCTS_SHIPPING_IMAGE}" alt="{$module_data.PRODUCTS_SHIPPING_NAME}" /></td>
                              {/if}
                              <td class="main">{$module_data.PRODUCTS_SHIPPING_NAME}</td>
                            </tr>
                          </table>
                          {/if}
                          {$module_data.PRODUCTS_BUTTON_BUY_NOW}</td>
                    </tr>
                  </table></td>
                </tr>
            </table>            </td>
          </tr>
          {/foreach}
      </table>
