{if $options!=''}

<table width="100%"  border="0" cellpadding="0" cellspacing="0">
    {foreach name=outer item=options_data from=$options}

	{if $options_data.FIELD=='radio'}

	  <tr>
	    <td class="prod_info_content" colspan="3"><b>{$options_data.NAME}:</b></td>
  	  </tr>
		{foreach key=key_data item=item_data from=$options_data.DATA}
    	<tr class="prod_info_content">
			<td>
	  			<input type="radio" name="attributes_id[]" value="{$item_data.ID}" />
	  		</td>
      		<td class="prod_info_content">{$item_data.TEXT}&nbsp; ArtNr.: {$item_data.MODEL}</td>
      		<td align="right" class="prod_info_content"><span class="price">{if $item_data.PRICE}{$item_data.PREFIX}{$item_data.PRICE}{/if}</span></td>
		</tr>
		{/foreach}

	{/if}

	{if $options_data.FIELD=='dropdown'}
  		<tr>
    		<td class="prod_info_content"><b>{$options_data.NAME}:</b>&nbsp;</td>
    			<td align="right" class="prod_info_content" colspan="2">
				<select name="attributes_id[]">
  				{foreach key=key_data item=item_data from=$options_data.DATA}
  				<option value="{$item_data.ID}">{$item_data.TEXT} {if $item_data.PRICE !='' }{$item_data.PREFIX} {$item_data.PRICE}{/if} </option>
				{/foreach}
				</select>
			</td>
  		</tr>
	{/if}

	{if $options_data.FIELD=='hidden'}
  		<tr>
    		<td class="prod_info_content" colspan="3"><b>{$options_data.NAME}:</b>&nbsp;</td>
    		</tr>
    		{foreach key=key_data item=item_data from=$options_data.DATA}
    		<tr>
    			<td align="left" class="prod_info_content">
                                    <input type="hidden" name="attributes_id[]" value="{$item_data.ID}" />
                                    {$item_data.TEXT}
			</td>
    			<td align="left" class="prod_info_content">
                                    {$item_data.FIELD}
			</td>
    			<td align="left" class="prod_info_content">
                                   <span class="price">{if $item_data.PRICE}{$item_data.PREFIX}{$item_data.PRICE}{/if}</span>
			</td>
  		</tr>
  		{/foreach}
	{/if}


	{/foreach}
</table>
{/if}