{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="$language/lang_$language.conf" section="product_listing"}
{config_load file="$language/lang_$language.conf" section="product_info"}
{config_load file="$language/lang_$language.conf" section="graduated_price"}
{config_load file="$language/lang_$language.conf" section="buttons"}

{assign var="assetsTpl" value="`$tpl_path_abs`assets/tpl/"}


{if $LEVENSHTEIN}
<div class="card">
    <div class="card-header">{$LEVENSHTEIN_SEARCH_RESULT_TEXT}</div>
    <div class="card-body">
        {#you_mine#}
        {foreach name=aussen item=levItem from=$LEVENSHTEIN}
        <a href="{$levItem.url}" style="padding-right: 2px;"><label class="label label-default">{$levItem.value}</label></a>
        {/foreach}

    </div>
</div>
{/if}


{if $smarty.session.template.style.productListing == 'list-wide'}

{assign var="ClassProductsList" value="list-wide"}
{assign var="ClassProductsListItem" value="col-md-12 col-sm-12"}
{assign var="ClassProductsListImage" value="col-md-2 col-sm-3"}
{assign var="ClassProductsListPrice" value="col-md-9 col-sm-7"}
{assign var="ClassProductsListLink" value="col-md-1 col-sm-2"}
{assign var="ClassProductsListLinkGroup" value="btn-group-vertical"}
{assign var="BtnProductsListShort" value=""}
{assign var="BtnProductsListWide" value="active"}

{else}

{assign var="ClassProductsList" value=""}
{assign var="ClassProductsListItem" value="col-md-3 col-sm-4"}
{assign var="ClassProductsListImage" value="col-md-12 col-sm-12"}
{assign var="ClassProductsListPrice" value="col-md-12 col-sm-12"}
{assign var="ClassProductsListLink" value="col-md-12 col-sm-12"}
{assign var="ClassProductsListLinkGroup" value="btn-group"}
{assign var="BtnProductsListShort" value="active"}
{assign var="BtnProductsListWide" value=""}

{/if}


{if $PRODUCT_COUNT>1}
{$MODULE_product_listing_filter}
{/if}

{$SORT_FORM}
<div class="row justify-content-between">
    <!-- <div class="col-md-2 col-sm-2 visible-lg visible-md visible-sm">
         <div class="btn-group btn-group-sm">
             <button type="button" class="btn btn-default {$BtnProductsListShort}" id="toggle-products-list-short"><span class="glyphicon glyphicon-th"></span></button>
             <button type="button" class="btn btn-default {$BtnProductsListWide}" id="toggle-products-list-wide"><span class="glyphicon glyphicon-list"></span></button>
         </div>
    </div>-->
    {if $PRODUCT_COUNT>1}
    <div class="col-md-3 col-sm-4 col-xs-7">
        <div class="form-inline">
            <input type="hidden" id="sort2" name="sort2" value="{$SORT2}" />
            <div class="input-group input-group-sm ml-4">
                <div class="input-group-btn btn-group">
                    {$SORT1_DROPDOWN}
                    <button type="submit" class="btn btn-default" onclick="document.sort_order.sort2.value='asc'" value="ASC"><i class="fas fa-arrow-down"></i></button>
                    <button type="submit" class="btn btn-default" onclick="document.sort_order.sort2.value='desc'" value="DESC"><i class="fas fa-arrow-up"></i></button>
                    {if $MODULE_product_listing_filter != ''}
                    <a href="#modal-product-listing-filter" class="btn btn-default" data-toggle="modal" title="{#add_spylist#}"><i class="fas fa-filter"></i></a>
                    {/if}
                </div>
            </div>
        </div>
    </div>
    {/if}
    <div  class="col-md-5 col-sm-6 col-xs-12 pull-right" style="text-align: right; padding-top: 5px;">
        {$NAVIGATION_COUNT}
        {$NAVIGATION_LINKS}
    </div>
</div>

</form>

<hr>



<div class="row">
    {foreach name=aussen item=module_data from=$module_content}
    {include file="`$assetsTpl`product/ProductListingItem.tpl" product=$module_data assetsTpl=$assetsTpl language=$language}
    {/foreach}
</div>
<div class="clearfix"></div>

<hr>

<div class="row justify-content-end">
    <div  class="col-md-5 col-sm-6 col-xs-12 text-right mt-2">
        {$NAVIGATION_COUNT}
        {$NAVIGATION_LINKS}
    </div>
</div>

