{config_load file="$language/lang_$language.conf" section="product_info"}
{config_load file="$language/lang_$language.conf" section="product_listing"}
{config_load file="$language/lang_$language.conf" section="error_handler"}
{config_load file="$language/lang_$language.conf" section="buttons"}
{config_load file="$language/lang_$language.conf" section="reviews"}
{assign var="assetsTpl" value="`$tpl_path_abs`assets/tpl/"}


{$MODULE_product_enquiry}

<div class="main-content col-main col-main-full">
    <div class="product-view" itemscope itemtype="http://schema.org/Product">

        <div class="product-essential row">
            <div class="product-essential-inner col-12">
                <div class="product-item col-md-12 p-4">
                    <div>
                        <h1 itemprop="name">{$product_data.PRODUCTS_NAME}</h1>
                    </div>
                    <div class="row mt-3">
                        <div class="product-img-box col-md-6 col-sm-12 col-xs-12">
                            <div class="clearfix">
                                <div id="modal-box-max-product-image" class="modal fade">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">{$product_data.PRODUCTS_NAME}</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            </div>
                                            <div class="modal-body text-center">
                                                <img src="{$product_data.PRODUCTS_IMAGE_ORIGIN}" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-image no-empty-more">
                                    <a href="#modal-box-max-product-image" data-toggle="modal"><img id="product-image" class="img-fluid d-block mx-auto" src="{$product_data.PRODUCTS_IMAGE}" /></a>
                                </div>
                                {if $product_data.PRODUCTS_SPECIAL_OFFER_PRICE}<div class="labels specialoffer"></div>{/if}
                                {if $product_data.PRODUCTS_BONUS_POINTS}<div class="labels extra-points"></div>{/if}
                                {if $product_data.PRODUCTS_FREE_SHIPPING}<div class="labels free-shipping"></div>{/if}
                                {if $product_data.PRODUCTS_IMAGE_GALLERY!=''}
                                <div class="more-images">
                                    <ul id="moreimages-slider" class="normal-list">
                                        {foreach name=image_gallery item=image from=$product_data.PRODUCTS_IMAGE_GALLERY}
                                        <li><a href="#" data-image="{$image.info}" data-zoom-image="{$image.full}"><div><img id="img_01" src="{$image.thumbnail}" /></div></a></li>
                                        {/foreach}
                                    </ul>
                                </div>
                                {/if}
                            </div>
                            <div class="clearfix"></div>
                            <div style="clear:both"></div>
                            <div class="pull-right text-right">
                                {include file='assets/tpl/product-review.tpl'}
                            </div>
                        </div>
                        <div class="product-shop col-md-6 col-sm-12 col-xs-12">
                            {include file="`$assetsTpl`product/colorMark.tpl" colorValue=$product_data.PRODUCTS_FEATURES.1.features.1.feature_value}
                            <div class="price-review clearfix">
                                <div style="background:url({$product_data.PRODUCTS_STOCKAMP}) no-repeat 0 3px ; padding-left:20px; " ></div>

                                <div class="price-box">
                                    {if $product_data.PRODUCTS_OLD_PRICE > 0}
                                        <span class="old-price">
                                            <span class="price" id="old-price-236">{$product_data.PRODUCTS_OLD_PRICE}</span>
                                        </span>
                                    {if $product_data.PRODUCTS_SPECIAL_OFFER_PRICE > 0}
                                            <span class="special-price">
                                                <span class="price" itemprop="price" id="product-price-236">{$product_data.PRODUCTS_SPECIAL_OFFER_PRICE}</span>
                                            </span>
                                    {else}
                                            <span class="regular-price">
                                                <span class="price" itemprop="price">{$product_data.PRODUCTS_PRICE}</span>
                                            </span>
                                    {/if}
                                    {else}
                                        <span class="regular-price">
                                            <span class="price" itemprop="price">{$product_data.PRODUCTS_PRICE}</span>
                                        </span>
                                    {/if}
                                </div>
                                {if $MODULE_graduated_price != ''}{$MODULE_graduated_price}{/if}
                                <span class="tax-details">({$product_data.PRODUCTS_TAX_INFO}) {if $product_data.PRODUCTS_SHIPPING_LINK}{$product_data.PRODUCTS_SHIPPING_LINK}{/if}</span>
                                {if $product_data.PRODUCTS_BASE_PRICE_FORMATED}
                                <div class="baseprice-box">
                                    <p class="product-pzn"><span class="item-title">Grundpreis:</span><span>{$product_data.PRODUCTS_BASE_PRICE_FORMATED}</span></p>
                                </div>
                                {/if}
                                {if $product_data.PRODUCTS_PRICE_PER_PAGE != ''}
                                <div class="price-per-page-box">
                                    <p class="product-pzn"><span class="item-title">{#product_price_per_page#} </span><span>{$product_data.PRODUCTS_PRICE_PER_PAGE}</span></p>
                                </div>
                                {/if}
                            </div>

                            <!-- BLOCK ZUR BESTELLUNG DES ARTIKELS  - START -->
                            <div style="padding: 25px 0; clear:both;">
                                <form action="#" method="post" id="product_addtocart_form">
                                    <input name="form_key" value="XRfIZH9oK7XsY136" type="hidden">
                                    {$product_data.PRODUCTS_HIDDEN_PROMO_FIELD}
                                    <div class="no-display">
                                        <input name="product" value="134" type="hidden">
                                        <input name="related_product" id="related-products-field" value="" type="hidden">
                                    </div>

                                    <div class="add-to-box">
                                        <div class="product-options-bottom">

                                            <div class="col-lg-3 col-sm-4 col-xs-8" style="padding-left:0px;">
                                                <div class="input-group">
                                                    <input name="qty" id="product-info-qty" maxlength="12" value="1" title="Anzahl" class="form-control qty" type="text">
                                                        <span class="input-group-append">
                                                             <button type="button" title="Will ich haben!" class="btn btn-cart bg-button-light-blue" data-pID="{$product_data.PRODUCTS_ID}"><i class="fas fa-cart-arrow-down"></i></button>
                                                        </span>
                                                </div>
                                                <span class="availability in-stock">
                                                    {if $product_data.PRODUCTS_STOCK_VALUE == 3}
                                                    <span class="availabel-full">{#stock_description_full#}</span>
                                                    {elseif $product_data.PRODUCTS_STOCK_VALUE == 2}
                                                    <span class="availabel-short">{#stock_description_short#}</span>
                                                    {else}
                                                    <span class="availabel-empty">{#stock_description_empty#}</span>
                                                    {/if}
                                                </span>

                                            </div>

                                            <div class="add-to-cart-extra"></div>
                                            <div class="clearfix"></div>

                                        </div>
                                    </div>
                                </form>
                            </div>



                            <!-- BLOCK ZUR BESTELLUNG DES ARTIKELS  - ENDE -->

                            <!-- BLOCK MIT ZUSATZINFOS  - START -->
                            <div class="info-container">
                                <p class="product-code"><span class="item-title">{#model#}</span><span> {$product_data.PRODUCTS_MODEL}&nbsp;</span></p>
                                <p class="product-model"><span class="item-title">{#mnfmodel#}</span><span> {$product_data.PRODUCTS_MANUFACTURERS_MODEL}&nbsp;</span></p>
                                <p class="product-ean"><span class="item-title">{#ean#}</span><span> {$product_data.PRODUCTS_EAN}&nbsp;</span></p>
                                <p class="product-amount"><span class="item-title">{#vpe#}</span><span>{$product_data.PRODUCTS_VE}&nbsp;</span></p>
                                <br>
                                <p class="email-friend"></p>

                                <p class="product-added"><small>{$product_data.PRODUCTS_DATE_ADDED_TEXT}</small></p>
                                <p class="product-modified"><small>{$product_data.PRODUCTS_DATE_LAST_MODIFIED_TEXT}</small></p>

                            </div>
                            <!-- BLOCK MIT ZUSATZINFOS  - ENDE -->

                            <div>
                                <ul class="list-group">
                                    <a href="#modal-product-enquiry" class="list-group-item" data-toggle="modal" title="{#text_search_question_titel#}"><i class="fas fa-envelope mr-2"></i>{#text_search_question_titel#}</a>
                                    {if $smarty.session.customer_id}
                                        <a href="#" class="link-wishlist list-group-item{if $product_data.PRODUCTS_ON_WISHLIST == 'true'} delete{else} add{/if}" data-pID="{$product_data.PRODUCTS_ID}" data-deletetxt="{#remove_wishlist#}" data-addtxt="{#add_wishlist#}">{if $product_data.PRODUCTS_ON_WISHLIST == 'true'}<i class="fas fa-star"></i> {#remove_wishlist#}{else}<i class="far fa-star"></i> {#add_wishlist#}{/if}</a>
                                    {/if}
                                    <a href="#" class="link-compare list-group-item{if $product_data.PRODUCTS_COMPARE == 'true'} delete{else} add{/if}" data-pID="{$product_data.PRODUCTS_ID}" data-deletetxt="{#remove_compare#}" data-addtxt="{#add_compare#}"><i class="fas fa-exchange-alt"></i> {if $product_data.PRODUCTS_COMPARE == 'true'}{#remove_compare#}{else}{#add_compare#}{/if}</a>
                                    {if $DENY_SPYLIST neq true}{if $IS_ON_SPYLIST neq true}
                                        <a href="#modal-spylist" class="list-group-item" data-toggle="modal" title="{#add_spylist#}"><i class="fas fa-eye"></i> {#add_spylist#}</a>
                                    {/if}{/if}
                                </ul>
                                {if $MODULE_spylist}{$MODULE_spylist}{/if}
                            </div>

                            <div class="clearfix"></div>

                        </div>
                        <div class="col-12">
                            <div class="box-additional box-tabs">
                                <ul class="nav nav-tabs clearfix" id="product-tabs">
                                    <li id="product_tabs_short_description" class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home">{#details#}</a></li>
                                    {if $product_data.PRODUCTS_TXK_FEATURES}
                                    <li role="presentation" id="product_tabs_features" class="nav-item"><a class="nav-link" data-toggle="tab" href="#features">{#navi_product_features#}</a></li>
                                    {/if}
                                    {if $product_data.PRODUCTS_OTHER_PRODUCTS}
                                    <li role="presentation" id="product_tabs_devices" class="nav-item"><a class="nav-link" data-toggle="tab" href="#devices">{#navi_matchung_devices#}</a></li>
                                    {/if}
                                    {if $MODULE_ICECAT_REVIEWS != ''}
                                    <li role="presentation" id="product_icecat_reviews" class="nav-item"><a class="nav-link" data-toggle="tab" href="#icecat-reviews">{#icecat_reviews_heading_text#}</a></li>
                                    {/if}
                                </ul>

                                    <div tabindex="5000" class="tab-content p-3" style="border-right:solid 1px #dee2e6; border-left:solid 1px #dee2e6; border-bottom:solid 1px #dee2e6;" id="myTabContent">

                                        <div id="home" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade show active">
                                            {$product_data.PRODUCTS_DESCRIPTION}
                                            {$MODULE_product_features}
                                        </div>

                                        {if $product_data.PRODUCTS_TXK_FEATURES}
                                        <div id="features" class="tab-pane fade">
                                            {$product_data.PRODUCTS_TXK_FEATURES}
                                        </div>
                                        {/if}

                                        {if $product_data.PRODUCTS_OTHER_PRODUCTS}
                                        <div id="devices" class="tab-pane fade">

                                            <ul>
                                                {foreach name=other_products item=printer from=$product_data.PRODUCTS_OTHER_PRODUCTS}
                                                <li><a href="{$printer.link}" >{$printer.manufacturer} {$printer.model}</a></li>
                                                {/foreach}
                                            </ul>
                                        </div>
                                        {/if}
                                        {if $MODULE_ICECAT_REVIEWS != ''}
                                        <div id="icecat-reviews" class="tab-pane fade">
                                            {$MODULE_ICECAT_REVIEWS}
                                        </div>
                                        {/if}
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

{if $MODULE_cross_selling != ''}{$MODULE_cross_selling}{/if}

{if $MODULE_also_purchased != ''}{$MODULE_also_purchased}{/if}

{if $MODULE_product_info_list != ''}{$MODULE_product_info_list}{/if}
