/* CSS Document */

/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family:  'Open Sans', sans-serif;
    color: #656565;
}

.container-fluid > .navbar-header{margin-left: 0px; margin-right: 0px;}

.text-center {
    text-align: center;
}
i.fa {
    padding: 5px;
}


p {
    font-weight: 300;
    line-height: 30px;
}
.pad-row {
    padding-top: 40px;
    padding-bottom: 40px;
}
.pad-bottom {
    padding-bottom: 50px;
}


.typeahead-select {padding: 2px 5px;}

.footer{font-size: small}
.footer ul.links {padding-left: 0;}

.sidebar-wrapper {
    z-index: 1000;
    left: 40px;
    width: 290px;
    margin-left: -290px;
    position: fixed;
    box-sizing: border-box;
    -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;
}
.sidebar-wrapper > .sidebar-content{
    overflow-x: auto;
    width: 250px;
    max-height: 600px;
    border: 1px solid rgba(0, 54, 124, 0.5);
    border-radius: 0 0 4px 0;
    padding: 5px;
    background-color:rgba(0, 54, 124, 0.5);
}

.sidebar-wrapper > .btn-toggle{
    float: right;
    content: no-close-quote;
    position: absolute;
    border-radius: 0px 4px 4px 0;
    margin-left: 250px;
}
.sidebar-wrapper.toggled {left: 290px;}
.sidebar-wrapper > .btn-toggle.toggled {content: no-open-quote!important;}

.availability{
    margin-top: 1px;
    display: block;
    padding: 0px;
    line-height: 1em;
    font-size: 12px;
    clear: both;
}
.availability .availabel-full {color: #3e8f3e;}
.availability .availabel-empty {color: #ff0000;}
.availability .availabel-short {color: #ff9900;}


#carousel-home-top .carousel-inner .carousel-caption{
    color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    top: 20px;
    bottom: auto;
    text-align: left;
    left: 10%;
    right: auto;
}


.categories-grid {margin-left: 0;}

.products-grid {margin: 5px 0 !important; padding: 0;}
.products-grid .item-inner {min-height: 580px;}
.products-grid .item-inner {padding: 15px; margin-bottom: 20px; margin-top: 5px; position: relative;}
.products-grid .item-inner {background: #F8F8F8 none repeat scroll 0 0; border: 1px solid #E0E0E0;}

.products-grid .reviews-wrap { position: absolute; bottom: -10px; left: 0; right: 0;}

.products-grid .item-inner,
.products-list .item-inner,

.product-essential-inner .product-item{background: transparent none repeat scroll 0 0;}
.product-essential-inner .product-item{background: transparent none repeat scroll 0 0; padding-right: 0; padding-left: 0;}

.product-essential-inner .product-img-box,
.cc-item-container {}


.product-view .price-box .price,
.products-grid .price-box .price {font-size: 25px;}


.item-inner .price-review {padding-top: 16px; padding-bottom: 16px; }
.list-wide .item-inner .price-review {padding-top: 0;}

.price-box {padding-top: 0;}
.price-box .price {font-weight: 300;}
.price-box > .old-price > .price {font-size: 15px; line-height: 33px; }

.products-grid .add-to-links {text-align: center;}



.price {color: #9AC62C;}
.price .not-allowed {color: rgb(255, 0, 0);font-size: 16px;}

.special-price .price {color: #008000;}

.old-price {margin-right: 5px; }
.old-price, .special-price {float: left; margin-bottom: 0;}

.old-price .price{color: #444;}
.old-price .price{text-decoration: line-through;}

.old-price .price-label, .special-price .price-label {display: none;}

span.graduated-details,
span.tax-details{display: block;}
.graduated-details{padding:0; line-height: 1.2em; font-size:12px; clear:both;}

.price-per-page,
.tax-details{padding:0; line-height: 1em; font-size:10px; clear:both;}


.baseprice-grid{clear: both;}
.baseprice-grid {font-size: 9px;color: #777;}



.add-links-wrap { width:100%; border-top: 1px solid #E0E0E0; border-bottom: 1px solid #E0E0E0; padding: 10px 10px; margin-top: 10px; margin-bottom: 10px;}

.link-graduated{ float: right;}

/*a.link-spylist > span,
a.link-compare > span,
a.link-enquiry > span,
a.link-wishlist > span {font-size: 20px; color: #3c3c3c; top: 4px; margin-right: 10px;}

.link-spylist.active > span,
.link-compare.active > span,
.link-enquiry.active > span,
.link-wishlist.active > span {color: #ec971f;}
*/

/** Product INFO**/

.product-essential .more-images {float: left; overflow:hidden; width: 70px; max-height: 440px; text-align: center; }
.product-essential .more-images > ul {display: inline-block; margin-top: 30px;}







ol#pagination{position:relative;text-align:center;}
ol#pagination li{
    display:inline-block;
    width:16px;
    height:16px;
    background:url(../buttons/bg_buttons.png) no-repeat 0 0;
    text-align:left;
    text-indent:-8000px;
    list-style:none;
    cursor:pointer;
    margin:0 2px;
}


ol#pagination li{display:none;}
ol#pagination li:hover{background:url(../buttons/bg_buttons.png) no-repeat 0 -16px;}
ol#pagination li.current{color:#f00;font-weight:bold;background:url(../buttons/bg_buttons.png) no-repeat 0 -32px;}

ol#pagination li.prev, ol#pagination li.next{position:absolute; top:-270px;}
ol#pagination li.prev{left:-30px;background:url(../buttons/bg_buttons.png) no-repeat 0 -64px;}
ol#pagination li.next{right:-30px;background:url(../buttons/bg_buttons.png) no-repeat 0 -48px;}



ol[id^="pagination-"]{position:relative;text-align:center;}
ol[id^="pagination-"] li{
    display:inline-block;
    width:16px;
    height:16px;
    background:url(../buttons/bg_buttons.png) no-repeat 0 0;
    text-align:left;
    text-indent:-8000px;
    list-style:none;
    cursor:pointer;
    margin:0 2px;
}

ol[id^="pagination-"] li{display:none;}
ol[id^="pagination-"] li:hover{background:url(../buttons/bg_buttons.png) no-repeat 0 -16px;}
ol[id^="pagination-"] li.current{color:#f00;font-weight:bold;background:url(../buttons/bg_buttons.png) no-repeat 0 -32px;}

ol[id^="pagination-"] li.prev, ol[id^="pagination-"] li.next{position:absolute; top:-270px;}
ol[id^="pagination-"] li.prev{left:-30px;background:url(../buttons/bg_buttons.png) no-repeat 0 -64px;}
ol[id^="pagination-"] li.next{right:-30px;background:url(../buttons/bg_buttons.png) no-repeat 0 -48px;}





.more-images ol#pagination li{margin:-10px -10px;}

.more-images ol#pagination li.current{display: none;}

.more-images ol#pagination li.prev, .more-images ol#pagination li.next{
    position:absolute;
    z-index: 999;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.more-images ol#pagination li.prev{top:-410px; margin-top: 10px; left: 36px;}
.more-images ol#pagination li.next{right:36px; top:0;}





.product-essential .more-images ul{padding:0;}
.product-essential .more-images ul > li {padding: 5px 0;}
.product-essential .more-images ul > li > a > div {width: 52px; height: 52px; border: 1px solid #E0E0E0; text-align: center; vertical-align: middle; background: #fff;}
.product-essential .more-images ul > li > a > div > img {max-width: 50px; max-height: 50px;}

/*.product-essential .product-image {width: 100%; float: right;}
.product-essential .product-image.no-empty-more {width: 70%;}
.product-essential .product-image.no-empty-more #wrap{z-index: 999; position: relative; width: 100%; text-align: center; vertical-align: middle;}
.product-essential .product-image.no-empty-more #wrap img {max-width: 100%; margin: 0 auto 0 auto;}
*/


.product-view .product-img-box .product-image {border: 0 none;}
.product-view .product-shop {border-left: 1px solid #E0E0E0;}


.product-view .info-container{ margin-bottom: 30px;}
.product-view .info-container p {margin: 0; padding: 0;}
.product-view .info-container p {font-size: 13px; font-weight: 300; line-height: 1.8;}
.product-view .info-container p span.item-title, div.baseprice-box p span.item-title {color: #444; float: left; width: 150px;}

.product-image {position: relative; z-index: 0;}

.price-review {float: left;  padding-top: 5px;}

#popover-graduated-price-title,
#popover-graduated-price-content {display: none;}

.popover-graduated-price{width: 200px; text-align: right;}

.products-grid .labels.new-pro,
.products-grid .labels.specialoffer,
.products-grid .labels.extra-points  {right: -1px; left: auto;}

.product-view .labels.new-pro,
.product-view .labels.specialoffer,
.product-view .labels.extra-points  {right: -1px; left: auto;}


div.print-color-label {height:15px; width: 150px;}
.products-list.list-wide div.print-color-label {margin-top: 134px; margin-left: 20px;}

div.print-color-label .color {height: 100%; width: 20px; display: inline-block;}


div.print-color-label .color.red{ background-color:#f00; }
div.print-color-label .color.white{ background-color:#fff; }
div.print-color-label .color.blue{ background-color:#06f; }
div.print-color-label .color.light_blue{ background-color:#69f; }
div.print-color-label .color.green{ background-color:#3c3; }
div.print-color-label .color.grey{ background-color:#ccc; }
div.print-color-label .color.orange{ background-color:#f90; }
div.print-color-label .color.rose{ background-color:#f99; }


div.print-color-label .color.c{ background-color:#09f; }
div.print-color-label .color.m{ background-color:#f39; }
div.print-color-label .color.y{ background-color:#ff3; }
div.print-color-label .color.k{ background-color:#000; }



.product-image-thumbnail {text-align: center;}
.product-image-thumbnail .img-thumbnail {max-height: 220px; height: 220px; width: 100%; overflow: hidden;}

.product-image-thumbnail .img-thumbnail img {max-width: 100%; height: auto; width: auto\9; /* ie8 */}


.products-list.list-wide .item .item-inner {min-height: 250px;}
.products-list.list-wide .product-image-thumbnail .img-thumbnail {overflow: hidden;}

.labels {width: 90px; height: 87px; background-image: url("../img/label.png"); background-repeat: no-repeat; position: absolute; top: -5px; left:-1px; right: auto;}

.product-view .labels{left:-1px; right: auto;}
.labels.new-pro {background-image: url("../img/label_new.png");}
.labels.specialoffer {background-image: url("../img/label-specialoffer-red.png");}
.labels.extra-points {background-image: url("../img/label-extrapoints.png");}
.labels.free-shipping {background-image: url("../img/label-freeshipping-green.png");}


.checkbox-text {display: inline-block;}
.checkbox-text input[type="checkbox"]{display: none;}
.checkbox-text input[type="checkbox"] + label {background-color: #0f5f9f;}
.checkbox-text input[type="checkbox"]:checked  + label {font-style: italic; background-color: #33cc33;}

#loading-indicator {
    opacity: 0.5;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1040;
    background-color: #000;
}

#loading-indicator .ajax-loader{
    opacity: 1;
    background: #00367c;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 100px;

    margin-left: -150px;
    margin-top: -50px;
    border: 2px solid #3c3c3c;
    text-align: center;
}

#loading-indicator  .ajax-loader img{
    margin-top: 25px;
}



.mini-cart {
    display: none;
    padding: 10px;
    font-size: 10px;
    width: 120px;
    position: absolute;
    right: 0px;
    top: 62px;
    border-radius: 0 0 4px 4px;
}

.input-group-addon .glyphicon{font-size: 0.7em; top: 0px;}


.panel-heading .accordion-toggle {cursor: pointer;}
.panel-heading .accordion-toggle:after {font-family: 'Glyphicons Halflings'; content: "\e114"; float: right; color: grey;  }
.panel-heading.collapsed .accordion-toggle:after {content: "\e080";}


.list-group-selection .list-group-item:hover{cursor: pointer; color: #555; text-decoration: none; background-color: #f5f5f5;}
.list-group-selection .list-group-item.active:hover{z-index: 2; color: #fff; background-color: #337ab7; border-color: #337ab7; }
.list-group-selection .list-group-item input[type="radio"] {display: none;}

.bx-wrapper .bx-viewport {box-shadow: none;}


#modalDialogFullWidth .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
}

.typeahead-container .typeahead-list:empty {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
}



@media (min-width: 991px) {

    .item-inner .color-block, .product--box .color-block {
        background-color: #c6c6c6;
        position: absolute;
        top: 0;
        left: 0;
        bottom: -1px;
        width: 10px;
        min-height: 142px;
        height: 100%;
        z-index: 1;
    }
}

@media (max-width: 991px) {

    .item-inner .color-block, .product--box .color-block {
        background-color: #c6c6c6;
        top: 0;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 10px;
        z-index: 1;
    }
}

.ellipsis{text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.ellipsis:hover{text-overflow: unset; white-space: nowrap; overflow: visible;}