
header,
.footer,
#parsetime
{background-color:#3b444e; color: #fff;}
.footer{margin-top: 20px;}
#parsetime{font-size: small; text-align: center; color: #fff;}

.footer a{color:#fff;}
.footer h4{color:#ffc900; margin-bottom: 20px;}

.logo{margin-top: 10px;}

.navbar-brand {max-height: 49px; padding: 0 15px 15px 15px;}
.navbar-brand > img {max-height: 49px; }

.toplinks {margin: 0 0 0 15px; padding: 0; position: relative; float: left !important;}
.toplinks ol, ul {list-style: outside none none;margin-top: 10px; margin-left:15px; padding:0px;}
.toplinks li {display: inline; line-height: 29px;}
.toplinks li > a {padding: 5px 15px; color: #f8f9fa;}
.toplinks li > a:hover {color: #222; text-decoration: none;}

#carousel-home-top .carousel-inner .carousel-caption h2{font-size: 36px;}
@media(max-width:1200px){
    #carousel-home-top .carousel-inner .carousel-caption h2{font-size: 24px;}
}
@media (max-width: 991px) {
    .header-right{width: 540px;}
    .header-menue ul {background-color:rgb(255, 255, 255);}
    .navbar.catalog .navbar-header .navbar-search{display: block !important;}
    .col3 {width: 33.3333%;}
    .product-view .product-img-box{border: 1px solid #E0E0E0; margin-bottom:15px;}
    .product-view .product-shop {border: 1px solid #E0E0E0;}
}

@media (min-width: 991px){
    .product-essential-inner .product-item{border: 1px solid #E0E0E0; }
}

@media screen and (max-width: 768px) {
    .logo{margin: 0 auto 10px; float: none;}
    .block-container{display: none;}
    .mobile-block-container {display: block;}
    .navbar-search.navbar-form{margin: 0; border: none; box-shadow: none;}
    .col3 {width: 100%;}


    #carousel-home-top .carousel-inner .carousel-caption h2{font-size: 14px;}
}