<div id="myModalConfimation" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- dialog body -->
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                {$modalContent}
                {#text_confirm#}
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer"><button id="delete" type="button" class="btn btn-primary">OK</button></div>
        </div>
    </div>
</div>