<div class="panel panel-default">
	<div class="panel-heading"><b>Marken Info</b></div>
		<div class="panel-body">
    	<center>
			<a href="http://www.telexroll.de/cms/PremiumOfficeSupplies/1_Echte-Alternative-zum-Original.html" target="_blank">
			<img alt="PREMIUM OFFICE SUPPLIES - Eine starke Marke" src="http://www.telexroll.net/store_files/1/templates/2012_3-ROWS/img/POS_Starke-Marke_185px.png" border="0" width="185">
			</a>
			</center>
			<p>Unter der Handelsmarke - Premium Office Supplies - bieten wir hochqualitative Alternativprodukte mit 100% Kompatibilität zum Original an. 
			Alles in Premium-Qualität, da das Premium-Select-Verfahren nur beste Qualität zulässt.</p>
    </div>
  <div class="panel-footer"><a href="http://www.telexroll.de/cms/PremiumOfficeSupplies/1_Echte-Alternative-zum-Original.html" target="_blank"><b><u>mehr Infos</u> »</b></a></div>
</div>